.cswpCalibrationBoxSearch-container {
    background: #fff;
    border-radius: 10px;
    margin: 1rem;
    margin-top: 1.5rem;
    padding: 2rem;
}

.helptext {
    --lwc-squareIconMediumContentAlt: 1.5rem;
}

@media only screen and (min-width: 376px) {
    .cswpCalibrationBoxSearch-container {
        margin-right: 0;
        margin-left: 0;
    }
}