<template>
    <div class="cswpCalibrationBoxSearch-container">
        <div class="slds-grid">
            <h2 class="title-2">{label.cswp_calbox_search}</h2>
        </div>
        <div class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
            <div class="slds-col slds-size_4-of-12 slds-medium-size_3-of-12">
                <lightning-input class="search" label={label.cswp_calbox_search_text} value={keyword} onchange={setParentKeyword} ></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-12 slds-m-top_medium slds-col_bump-right helptext">
                <lightning-helptext content={label.cswp_calbox_iconmessage}></lightning-helptext>
            </div>
            <div class="slds-col slds-size_6-of-12" style="text-align: right;">
                <button class="slds-button button_style-secondary slds-m-top_large slds-m-left_large" onclick={openAdvancedSearchModal}>
                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xlink:href="/sfsites/c/_slds/icons/utility-sprite/svg/symbols.svg#search"></use>
                    </svg>{label.cswp_calbox_advanced_search}
                </button>
            </div>
        </div>

        <!-- <div class="slds-grid slds-wrap slds-grid_vertical-align-center slds-m-top_large">
            <div class="slds-col slds-size_1-of-1">
                <lightning-tabset>
                    <template for:each={wrapperArray} for:item="label">
                        <lightning-tab label={label.key} onactive={tabChanged} key={label.key}>
                            <lightning-datatable key-field="id" columns={label.value.columns} data={label.value.pageData}
                                hide-checkbox-column default-sort-direction={defaultSortDirection}
                                sorted-direction={sortDirection} sorted-by={sortedBy} onsort={onHandleSort}>
                            </lightning-datatable>
                            <div>
                                <p class="slds-m-vertical_medium content">
                                    Displaying {label.value.startingRecord} to {label.value.endingRecord} of
                                    {label.value.totalRecordCount} records.
                                    Page {label.value.page} of {label.value.totalPage}. </p>
                                <c-cswp-Calibration-Box-Paginator onprevious={previousHandler} onnext={nextHandler}>
                                </c-cswp-Calibration-Box-Paginator>
                            </div>
                        </lightning-tab>
                    </template>
                </lightning-tabset>
            </div>
        </div> -->

        <!-- MODALS -->
        <template if:true={isAdvancedSearchModalOpen}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={label.cswp_calboxtable_close} onclick={closeAdvancedSearchModal}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                            <span class="slds-assistive-text">{label.cswp_calboxtable_close}</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{label.cswp_calbox_advanced_search}</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <!-- Search Form -->
                        <div class="slds-form calbox-search-form">
                            <div class="slds-form-element slds-form-element_horizontal">
                                <lightning-input label={label.SerialNumberLabel} value={snSearchParam} type="text" onchange={snParamChanged}></lightning-input>
                            </div>
                            <fieldset class="slds-form-element slds-form-element_compound slds-form-element_horizontal">
                                <label class="slds-form-element__label" for="horizontal-input-id-01">{label.CalDateLabel}</label>
                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__row">
                                        <div class="slds-size_1-of-2">
                                            <lightning-input type="date" name="input4" label=" " placeholder={label.cswp_calboxtable_from} value={calDateStartParam} onchange={calDateStartParamChanged}></lightning-input>
                                        </div>
                                        <div class="slds-size_1-of-2">
                                            <lightning-input type="date" name="input4" label=" " placeholder={label.cswp_calboxtable_to} value={calDateEndParam} onchange={calDateEndParamChanged}></lightning-input>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="slds-form-element slds-form-element_compound slds-form-element_horizontal">
                                <label class="slds-form-element__label" for="horizontal-input-id-01">{label.CalDueDateLabel}</label>
                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__row">
                                        <div class="slds-size_1-of-2">
                                            <lightning-input type="date" name="input4" variant = "label-hidden" label="" placeholder={label.cswp_calboxtable_from} value={calDueDateStartParam} onchange={calDueDateStartParamChanged}></lightning-input>
                                        </div>
                                        <div class="slds-size_1-of-2">
                                            <lightning-input type="date" name="input4" variant = "label-hidden" label="" placeholder={label.cswp_calboxtable_to} value={calDueDateEndParam} onchange={calDueDateEndParamChanged}></lightning-input>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="slds-form-element slds-form-element_horizontal adv-search-status">
                                <label for="input-115" class="slds-form-element__label slds-no-flex">{label.cswp_calbox_status}</label>
                                <div class="slds-form-element__control">
                                    <div class="slds-form-element">
                                        <lightning-combobox
                                            class="adv-status-input"
                                            name="status"
                                            value={CalStatusParam}
                                            placeholder={label.PleaseSelectLabel}
                                            options={statusOptions}
                                            onchange={calStatusParamChanged} >
                                        </lightning-combobox>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element slds-form-element_horizontal">
                                <lightning-input type="text" label={label.OperatorNameLabel} value={operatorNameParam} onchange={operatorNameParamChanged}></lightning-input>
                            </div>
                        </div>
                        <!-- Search Form End-->
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_brand" title={label.cswp_calbox_search_text} onclick={operateAdvancedSearchModal}>{label.cswp_calbox_search_text}</button>
                        <button class="slds-button slds-button_neutral" onclick={closeAdvancedSearchModal} title={label.cswp_calbox_cancel_text}>{label.cswp_calbox_cancel_text}</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>

        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-1">
                <c-cswp-cal-box-manager-v2 keyword={keyword}
                                    needs-rendering={needsrendering} 
                                    sn-search-param={snSearchParam}
                                    cal-date-start-param={calDateStartParam}
                                    cal-date-end-param={calDateEndParam}
                                    cal-due-date-start-param={calDueDateStartParam}
                                    cal-due-date-end-param={calDueDateEndParam}
                                    cal-status-param={calStatusParam}
                                    operator-name-param={operatorNameParam}
                                    onreturn={returned}>
                </c-cswp-cal-box-manager-v2>
            </div>
        </div>
    </div>
</template>