<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_12-of-12">
            <div class="slds-col slds-small-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_2-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="system-handle">{label.cswp_system_handle}</label>
                    <div class="slds-form-element__control">
                        <input type="text" id="system-handle" placeholder="" required="" class="slds-input" />
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-col slds-size_12-of-12">
            <div class="slds-col slds-small-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_1-of-1 slds-m-top_small">
                <span>{label.cswp_system_handle_helper}</span>
            </div>
        </div>
        <div class="slds-col slds-size_12-of-12">
            <div class="slds-col slds-small-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_2-of-12 slds-m-bottom_xx-small slds-m-top_medium">
                <span class="slds-align_absolute-center">{label.cswp_or}</span>
            </div>
        </div>
        <div class="slds-col slds-size_12-of-12">
            <div class="slds-col slds-small-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_2-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="pin-code">{label.cswp_pin_code}</label>
                    <div class="slds-form-element__control">
                        <input type="text" id="pin-code" placeholder="" required="" class="slds-input" />
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-col slds-size_12-of-12">
            <div class="slds-col slds-small-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_2-of-12 slds-m-vertical_small">
                <button class="slds-button slds-button_brand">{label.cswp_submit}</button>
            </div>
        </div>
    </div>
</template>