<template>
    <div class="cswp-table-container ">
        <lightning-datatable columns={columns} data={notifications} key-field="id" hide-checkbox-column="true">
        </lightning-datatable>
    </div>
</template>