<template>
    <div class="versions-container">
        <div class="version-upload">
            <template if:true={canDownload}>
                <c-cswp-file-version-upload record-id={recordId} onfileversionuploaded={handleFileUploaded}>
                </c-cswp-file-version-upload>
            </template>
        </div>
        <template if:true={wiredFileVersions.data}>
            <div class="slds-card">
                <div class="slds-card__body slds-card__body_inner" style="padding: 0;">
                    <template if:true={isfound}>
                        <lightning-datatable key-field="id" data={versionData} hide-checkbox-column columns={columns}
                            onrowaction={handleAction}>
                        </lightning-datatable>
                    </template>
                </div>
            </div>
            <template if:false={isfound}>
                <c-cswp-no-record message={noDataMessage}></c-cswp-no-record>
            </template>
        </template>
        <lightning-spinner if:false={fileVersionLoaded} alternative-text="Loading" variant="brand" size="medium"></lightning-spinner>
        <lightning-spinner if:true={downloading} alternative-text="Loading" variant="brand" size="medium"></lightning-spinner>
    </div>
</template>