.spinner_container{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.versions-container{
    min-height: 100px;
    display: block;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
}