<template>
    <div class="cswpProjectManagr-container">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_3-of-12 table-navigation">
                <!-- NAVIGATION -->
                <lightning-vertical-navigation selected-item="p1">
                    <lightning-vertical-navigation-section label="Projects">
                        <lightning-vertical-navigation-item label="Project 1" name="p1"></lightning-vertical-navigation-item>
                        <lightning-vertical-navigation-item label="Project 2" name="p2"></lightning-vertical-navigation-item>
                        <lightning-vertical-navigation-item label="Project 3" name="p3"></lightning-vertical-navigation-item>
                        <lightning-vertical-navigation-item label="Project 4" name="p4"></lightning-vertical-navigation-item>
                        <lightning-vertical-navigation-item label="Project 5" name="p5"></lightning-vertical-navigation-item>
                    </lightning-vertical-navigation-section>
                </lightning-vertical-navigation>
            </div>
            <div class="slds-col slds-size_9-of-12 table-data">
                <!-- ACTIONS -->
                <c-cswp-project-new></c-cswp-project-new>
                <!-- DATA TABLE -->
                <c-cswp-project-table
                    key-field="id"
                    columns={columns}
                    data={data}
                    hide-checkbox-column
                ></c-cswp-project-table>
            </div>
        </div>
    </div>
</template>