<template>
    <div>
        <c-cswp-custom-lightning-datatable
            class="calbox-table"
            key-field="id"
            data={data} columns={columns}
            hide-checkbox-column
            oncustomdownload={handleCustomDownload}
            oncustomsystemsn={handleCustomSystemSn}
            data-keyword={keyword}
            data-rendered={needsRendering}>
        </c-cswp-custom-lightning-datatable>
    </div>
    <!-- MODAL -->
    <template if:true={isDownloadModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={label.cswp_calboxtable_close} onclick={closeDownloadModal}><!--TODO-->
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">{label.cswp_calboxtable_close}</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{label.cswp_calboxmanager_title}</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-21">
                    <div class="slds-form cer-gen">
                        <div class="slds-form-element slds-form-element_horizontal">
                            <lightning-combobox class="language-dropdown"
                                name="Language"
                                label={label.Language}
                                value={selectedLanguage}
                                placeholder={label.SelectLanguage}
                                options={languageOptions}
                                onchange={handleLanguageChange} >
                            </lightning-combobox>
                        </div>
                        <div class="slds-form-element slds-form-element_horizontal">
                            <lightning-combobox class="language-dropdown"
                                name="Size"
                                label={label.Size}
                                value={selectedSize}
                                placeholder={label.SelectSize}
                                options={sizeOptions}
                                onchange={handleSizeChange} >
                            </lightning-combobox>
                        </div>
                        <div class="slds-form-element slds-form-element_horizontal">
                            <lightning-input class="slds-p-left_xx-large slds-hidden" type="checkbox" checked="true" label={label.FullCalibrationResult} onchange={handleFullCalibrationResultChange} ></lightning-input>
                        </div>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button variant="brand" label={label.GenerateCertificateLabel} onclick={generateBtnClicked}></lightning-button>
                    <button class="slds-button slds-button_neutral" onclick={closeDownloadModal} title={label.cswp_calbox_cancel_text}>{label.cswp_calbox_cancel_text}</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={isSystemSnModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={label.cswp_calboxtable_close} onclick={closeSystemSnModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">{label.cswp_calboxtable_close}</span>
                    </button>
                    <h2 id="modal-heading-41" class="slds-text-heading_large slds-hyphenate">{label.cswp_calboxmanager_systemsn} {modalSn} </h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-41">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_1-of-1">
                            <h2 class="title-2">{label.cswp_calboxmanager_cert}</h2>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-m-top_medium">
                            <lightning-datatable
                                    key-field="id"
                                    columns={modalColumns}
                                    data={modalData}
                                    hide-checkbox-column>
                            </lightning-datatable>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-m-top_large">
                            <h2 class="title-2">{label.cswp_calboxmanager_content_1} {modalCalDate}</h2>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-m-top_large">
                            <h3 class="title-3">{label.cswp_calboxmanager_content_2}</h3>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-m-top_medium">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-2">{label.cswp_calboxmanager_info_1}</div>
                                <div class="slds-col slds-size_1-of-2">V93000</div>
                                <div class="slds-col slds-size_1-of-2">{label.cswp_calboxmanager_info_2}</div>
                                <div class="slds-col slds-size_1-of-2">{modalSn}</div>
                                <div class="slds-col slds-size_1-of-2">{label.Cswp_Customer_Name}</div>
                                <div class="slds-col slds-size_1-of-2">ABC</div>
                                <div class="slds-col slds-size_1-of-2">{label.cswp_calboxmanager_info_3}</div>
                                <div class="slds-col slds-size_1-of-2">{modalCalDateTime}</div>
                                <div class="slds-col slds-size_1-of-2">{label.cswp_calboxmanager_info_4}</div>
                                <div class="slds-col slds-size_1-of-2">{modalTemperature} / {modalHumidity}</div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-m-top_large">
                            <h3 class="title-3">{label.cswp_calboxmanager_resources}</h3>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-m-top_medium">
                            <div class="slds-grid slds-wrap">                                
                                <template if:true={resourceData}>
                                    <template for:each={resourceData} for:item="res">
                                        <div key={res} class="slds-col slds-size_1-of-3">{res}</div>
                                    </template>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeSystemSnModal} title={label.cswp_calbox_cancel_text}>{label.cswp_calbox_cancel_text}</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>