<template>
    <div class="slds-grid slds-wrap slds-gutter cswpV93Manager-container">
        <div class="slds-col slds-size_1-of-1 b-section-title">
            <span>{label.topic_v93000_licensing}</span>
        </div>
        <template for:each={v93000Links} for:item="link">
            <div key={link.v93000Id} class="slds-col slds-small-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4">
                <c-cswp-card image={link.imageURL} title={link.v93000Title} text="" link={link.v93000URL} link-target="New Tab"></c-cswp-card>
            </div>
        </template>
    </div>
</template>