:host {
    --lwc-brandTextLink: #607d8b;
    --lwc-brandTextLinkActive: #607d8b;
    --lwc-colorTextLinkActive: #607d8b;
}

/* The rules below are for the community builder's Edit CSS Tool. */
/* BREADCRUMB START */
/*

.cCustomThemeLayout .slds-breadcrumb .slds-list__item:before, .slds-breadcrumb .slds-breadcrumb__item {
    font-size: 14px;
}

.cCustomThemeLayout .slds-breadcrumb .slds-list__item:before, .slds-breadcrumb .slds-breadcrumb__item:before {
    color: #607d8b;
    content: '\002F';
    position: absolute;
    left: -.25rem;
}

.cCustomThemeLayout lightning-breadcrumbs lightning-breadcrumb:last-child {
    pointer-events: none;
}

.cCustomThemeLayout lightning-breadcrumbs lightning-breadcrumb a:focus {
    color: #607d8b !important;
    text-decoration: none;
}
/*
/* BREADCRUMB END */