<template>
    <template if:true={showBreadcrumb}>
        <lightning-breadcrumbs>
            <lightning-breadcrumb
                class="home"
                label="Home"
                name="Home"
                onclick={navigateToPage}
                data-level="0">
            </lightning-breadcrumb>
            <template if:true={isProfilePage}>
                <lightning-breadcrumb
                    class="profile"
                    label={profilePageLabel}
                    name={profilePageLabel}
                    onclick={navigateToPage}
                    data-level="1">
                </lightning-breadcrumb>
            </template>
            <template if:false={isProfilePage}>
                <template if:true={name}>
                    <lightning-breadcrumb
                        class="current-level-1"
                        label={name}
                        name={name}
                        onclick={navigateToPage}
                        data-level="1">
                    </lightning-breadcrumb>
                </template>
                <template if:true={showRecords}>
                    <template if:false={name}>
                        <template if:true={previousPage.name}>
                            <lightning-breadcrumb
                                class="prev-level-1"
                                label={previousPage.name}
                                name={previousPage.name}
                                onclick={navigateToPage}
                                data-level="1">
                            </lightning-breadcrumb>
                        </template>
                    </template>
                    <template if:false={isTicketDetailPage}>
                        <template if:true={recordName}>
                            <lightning-breadcrumb
                                class="current-level-2"
                                label={recordName}
                                name={recordName}
                                onclick={navigateToPage}
                                data-level="2">
                            </lightning-breadcrumb>
                        </template>
                    </template>
                    <template if:true={isTicketDetailPage}>
                        <template if:true={ticketSubject}>
                            <lightning-breadcrumb
                                class="current-level-2"
                                label={ticketSubject}
                                name={ticketSubject}
                                onclick={navigateToPage}
                                data-level="2">
                            </lightning-breadcrumb>
                        </template>
                    </template>
                    <template if:false={recordName}>
                        <template if:true={previousPage.recordName}>
                            <lightning-breadcrumb
                                class="prev-level-2"
                                label={previousPage.recordName}
                                name={previousPage.recordName}
                                onclick={navigateToPage}
                                data-level="2">
                            </lightning-breadcrumb>
                        </template>
                    </template>
                    <template if:true={urlName}>
                        <lightning-breadcrumb
                            class="current-url-name"
                            label={urlName}
                            name={urlName}
                            onclick={navigateToPage}
                            data-level=3>
                        </lightning-breadcrumb>
                    </template>
                    <template if:true={urlAlias}>
                        <lightning-breadcrumb
                            class="current-url-name"
                            label={urlAlias}
                            name={urlAlias}
                            onclick={navigateToPage}
                            data-level=3>
                        </lightning-breadcrumb>
                    </template>
                </template>
            </template>
        </lightning-breadcrumbs>
    </template>
    <data class="slds-hide">{currentPage}</data>
</template>