.documentSharingTable-container {
    border: solid #F4F4F4 1px;
    border-radius: 1%;
    padding: 0.5rem;
    transition : 0.5s;
}

.documentSharingTable-container:hover {
    box-shadow: 0px 0px 20px 2px;
}

.documentSharingTable-container table {
    border-bottom: none;
}