<template>
    <div class="documentSharingTable-container">
        <div class="slds-text-heading_medium slds-text-align_center slds-m-bottom_medium" onclick={handleClick}>
            <a>{title}</a>
        </div>
        <lightning-datatable
                key-field="id"
                columns={columns}
                data={data}
                hide-checkbox-column
                default-sort-direction={defaultSortDirection}
                sorted-direction={sortDirection}
                sorted-by={sortedBy}
                onsort={onHandleSort}>
        </lightning-datatable>
    </div>
</template>