/* colors */
.THIS {
    --primary: #007AFF;
    --primary-hover: #0060C9;
    --secondary: #607D8B;
    --secondary-hover: #6D7D85;
    --white: #FFFFFF;
    --black: #000000;
}

/* typography */
.THIS {
    --menu-font-size: 14px;
}

.THIS .border {
    border: solid var(--black) 1px;
}

/* header start */
.THIS.c-header,
.THIS.c-header-mobile {
    background-color: var(--white);
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

.THIS .c-header__menu-item {
    color: var(--secondary);
    font-size: var(--menu-font-size);
    margin-left: 24px;
    min-width: 64px;
    padding: 6px 8px;
    text-transform: uppercase;
}

.THIS .c-header__menu-item a {
    color: var(--secondary);
    text-decoration: none;
}

.THIS .c-header__menu-item:hover {
    color: var(--secondary-hover);
}

.THIS .c-header__first-row a {
    color: var(--secondary);
}

.THIS .c-header__first-row a:hover {
    color: var(--secondary-hover);
    text-decoration: none;
}

.THIS .c-header__img {
    cursor: pointer;
    max-width: 200px;
}

.THIS .dropbtn {
    background-color: #fff;
    border: none;
    color: #607D8B;
    cursor: pointer;
    padding: 0;
}

.THIS .dropbtn:hover {
    color: #607d8b;
}

.THIS .dropdown {
    position: relative;
    display: inline-block;
}

.THIS .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.THIS .dropdown-content a {
    display: block;
    min-width: 240px;
    padding: 12px 16px;
    text-decoration: none;
    white-space: nowrap;
}

.THIS .dropdown-content a:hover {
    background-color: #f1f1f1
}

.THIS .dropdown-content li {
    padding-left: 16px;
}

.THIS .dropdown-content li:hover {
    color: black;
}


.THIS .dropdown:hover .dropdown-content {
    display: block;
}

.THIS .c-header__actions {
    margin-left: 16px;
}

.THIS .c-header__action-item {
    font-size: 14px;
    padding: 6px 8px;
}

.THIS .c-header__action-item a {
    color: var(--secondary);
    text-decoration: none;
}

.THIS .c-header__action-item--separator {
    border-right: solid var(--secondary) 1px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 30px;
    width: 0;
    margin: 0 10px;
}

.THIS .c-header__apps, .THIS .c-header__bell {
    position: relative;
}

.THIS .c-header__apps .c-header__apps-icon, .THIS .c-header__bell .c-header__bell-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.THIS .c-header__apps .app-container, .THIS .c-header__bell .notification-container{
    display: none;
}

.THIS .c-header__apps:focus .app-container, .THIS .c-header__bell:focus .notification-container {
    display: block;
    position: absolute;
    z-index: 1;
}

.THIS .c-header__second-row {
    margin: 0 auto;
    max-width: 1280px;
    padding-bottom: 8px;
}

.THIS .c-header__breadcrumb-logo {
    margin-right: 32px;
    min-width: 200px;
}

.THIS .c-header__breadcrumb--mobile {
    margin-bottom: 8px;
}

/* Overrides */

@media only screen and (min-width: 768px) {
    .THIS .c-header__content {
        height: 100px;
    }

    .THIS .c-header__search {
        border: solid #90a4ae 1px;
    }

    .THIS .search-field {
        background-color: #ebeef3;
        height: 36px;
        width: 300px;
        padding-right: 0;
    }

    .THIS .search-button {
        background-color: #ebeef3;
        cursor: pointer;
        overflow: hidden;
        width: 32px;
    }

    .THIS .mobile-search-icon {
        background-color: #ebeef3;
        color: #607D8B;
        display: inline;
        position: absolute;
        height: 36px;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        padding-left: 8px;
        pointer-events: none;
    }

    .THIS .c-header__breadcrumb--mobile {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .cCustomThemeLayout {
        padding: 0px 16px;
    }

    .THIS .c-header__content {
        min-height: 100px;
    }

    .THIS .c-header__menu-item:first-child {
        margin-left: 0;
        padding-left: 0;
    }

    .THIS .c-header__actions {
        margin-left: 0;
    }

    .THIS .c-header__action-item:first-child {
        padding-left: 0;
    }

    .THIS .mobile-search-icon {
        color: #607D8B;
    }

    .THIS .c-header__breadcrumb-menu,
    .THIS .c-header__action-item--separator,
    .THIS .c-header__email,
    .THIS .c-header__breadcrumb--desktop {
        display: none;
    }
}

.THIS .selfServiceUserProfileMenu .profileName,
.THIS .selfServiceUserProfileMenu .down-arrow {
    display: none;
}

.THIS .selfServiceProfileMenuTrigger .profileIcon {
    background-image: url('/cswp/sfsites/c/resource/1619777664000/cswp_resources/icons/icon_avatar.svg'), url('/sfsites/c/resource/1619777664000/cswp_resources/icons/icon_avatar.svg');
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 25px;
    width: 25px;
}

.THIS .selfServiceProfileMenuTrigger .trigger-link {
    padding: 0;
}

.THIS .selfServiceProfileMenuTrigger .trigger-link:focus {
    box-shadow: none;
}

/* Overrides end */

/* header end */

/* body start */

.THIS.c-body {
    max-width: 1297px;
    margin: 0 auto;
    min-height: 83.7vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.THIS .forceCommunityRichText {
    margin-bottom: 1.5rem;
}
/* body end */

/* footer start */
.THIS.c-footer {
    max-width: 1280px;
    margin: 0 auto;
}
/* footer end */

/* REFACTORING */
.THIS .c-header__content {
    max-width: 1280px;
    margin: 0 auto;
}