:host {
    --sds-c-card-sizing-border: 0;
    --sds-c-card-radius-border: 0;
    --sds-c-card-header-spacing-block: 0;
    --sds-c-card-body-spacing-block-end: 0;
}

.ticket-detail-section__title {
    --sds-c-icon-color-foreground-default: #ffffff;
    --sds-c-icon-color-background: #4abf76;
}

.ticket-detail-section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 16px;
    margin-top: 24px;
}

.ticket-detail-section__rt-actions {
    border: 1px solid rgb(236, 239, 241);
    border-radius: 4px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ticket-detail-section__file-upload .slds-file-selector__button {
    color: #007aff;
}

.ticket-detail-section__file-upload:hover .slds-file-selector__button {
    color: #0260c9;
    cursor: pointer;
}

.ticket-detail-section__file-upload .slds-button__icon {
    transform: rotateX(180deg) rotateZ(180deg);
    transition: all 0.5s;
}

.ticket-detail-section__file-upload:hover .slds-button__icon {
    transform: rotateX(180deg);
}

.ticket-detail-section--attachments [data-previewable="false"] {
    position: relative;
}

.ticket-detail-section--attachments [data-previewable="false"]::after {
    color: #ff3b30;
    content: 'No preview available.';
    display: none;
    position: absolute;
    top: -24px;
}

.ticket-detail-section--attachments [data-previewable="false"]:hover::after {
    display: block;
}

/* The rules below are for the community builder's Edit CSS Tool. */
/* TICKET DETAIL ATTACHMENT UPLOAD START */
/*
.ticket-detail-section__title lightning-icon {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: center;
}

.ticket-detail-section__title-files .slds-card__header {
    padding-left: 14px;
}

.ticket-detail-section__title-comments .slds-card__header {
    padding-left: 12px;
}

.ticket-detail-section__attachment-upload .slds-form-element__label {
    display: none;
}

.ticket-detail-section__attachment-upload .slds-file-selector,
.ticket-detail-section__attachment-upload .slds-file-selector__dropzone,
.ticket-detail-section__attachment-upload slot {
    width: 100%;
}

.ticket-detail-section__attachment-upload slot[interop-primitiveFileDroppableZone_primitiveFileDroppableZone] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.ticket-detail-section__attachment-upload .slds-file-selector__body {
    flex-direction: column;
}

.ticket-detail-section__attachment-upload .slds-file-selector__body span {
    margin: 4px;
}

.ticket-detail-section--attachments lightning-button-icon button {
    border: none;
    width: 100%;
}

.ticket-detail-section--attachments lightning-tile a {
    pointer-events: none;
}

.ticket-detail-section__rt .slds-rich-text-editor {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ticket-detail-section__rt .slds-rich-text-editor b {
    font-family: 'rubik-medium';
}

.ticket-detail-section__rt .slds-has-focus {
    border-color: rgb(236, 239, 241);
    box-shadow: none;
}

.comm-page-detail-500 .cCustomThemeLayout .comm-content-footer,
.comm-page-detail-500 .siteforceContentArea .slds-col--padded.slds-size--12-of-12.slds-medium-size--8-of-12.slds-large-size--8-of-12.comm-layout-column {
    padding: 0 !important;
}

.comm-page-detail-500 .siteforceContentArea .slds-col--padded.slds-size--12-of-12.slds-medium-size--8-of-12.slds-large-size--8-of-12.comm-layout-column {
    background-color: transparent;
}

.comm-page-detail-500 .siteforceContentArea .slds-col--padded.slds-size--12-of-12.slds-medium-size--8-of-12.slds-large-size--8-of-12.comm-layout-column .b-case-title {
    background: white;
    border: solid white 1px;
    padding: 16px !important;
}

.comm-page-detail-500 .siteforceContentArea .slds-col--padded.slds-size--12-of-12.slds-medium-size--8-of-12.slds-large-size--8-of-12.comm-layout-column .forceCommunityLwcRecordDetail {
    background: white;
    border: solid white 1px;
    padding: 16px !important;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.ticket-detail-section--attachments .slds-col.slds-size_1-of-2::after {
    content: 'This item is not previable';
    color: red;
    position: absolute;
    top: 0;
    display: none;
}

.ticket-detail-section--attachments .slds-col.slds-size_1-of-2:hover .ticket-detail-section--attachments .slds-col.slds-size_1-of-2::after {
    display: block;
}
/*
/* TICKET DETAIL ATTACHMENT UPLOAD END */