<template>
    <div class="cswpTicketDetail">
        <div class="ticket-detail-section ticket-detail-section--attachments">
            <!-- <div class="slds-text-heading_medium">Attachments</div> -->
            <lightning-card icon-name="utility:file" class="ticket-detail-section__title ticket-detail-section__title-files">
                <h1 slot="title">Files</h1>
            </lightning-card>
            <template if:true={showFiles}>
                <lightning-card>
                    <div class="slds-grid slds-wrap">
                        <template for:each={ticketFiles} for:item="file">
                            <div key={file.Id} style="cursor:pointer;" class="slds-col slds-size_1-of-2 slds-p-around_small">
                                <lightning-tile label={file.name} type="media" data-fileurl={file.fileUrl} data-previewable={file.isPreviewable} onclick={previewFile}>
                                    <lightning-avatar slot="media" fallback-icon-name={file.icon}></lightning-avatar>
                                    <ul class="slds-list_horizontal slds-has-dividers_right">
                                        <li class="slds-item">{file.date}</li>
                                        <li class="slds-item">{file.size}</li>
                                        <li class="slds-item">{file.fileType}</li>
                                        <li class="slds-item"><lightning-button-icon alternative-text="Download" onclick={downloadFile} icon-name="utility:download" data-downloadurl={file.downloadUrl}></lightning-button-icon></li>
                                        <li class="slds-item"><lightning-button-icon alternative-text="Delete" onclick={deleteFile} icon-name="utility:delete" data-filename={file.name} data-fileid={file.fileID}></lightning-button-icon></li>
                                    </ul>
                                </lightning-tile>
                            </div>
                        </template>
                    </div>
                    <template if:true={openDeleteModal}>
                        <!-- Modal/Popup Box LWC starts here -->
                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                            <div class="slds-modal__container">
                                <!-- Modal/Popup Box LWC header here -->
                                <header class="slds-modal__header">
                                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeWarningModal}>
                                        <lightning-icon icon-name="utility:close"
                                            alternative-text="close"
                                            variant="inverse"
                                            size="small" ></lightning-icon>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Delete File?</h2>
                                </header>
                                <!-- Modal/Popup Box LWC body starts here -->
                                <div class="slds-modal__content slds-p-around_small" id="modal-content-id-1">
                                    <p><b>Are you sure you want to delete {selectedFileTitle} ?</b></p>
                                </div>
                                <!-- Modal/Popup Box LWC footer starts here -->
                                <footer class="slds-modal__footer">
                                    <button class="slds-button slds-button_neutral" onclick={closeWarningModal} title="Cancel">Cancel</button>
                                    <button class="slds-button slds-button_brand" onclick={submitDeleteFile} title="OK">Delete</button>
                                </footer>
                            </div>
                        </section>
                        <div class="slds-backdrop slds-backdrop_open"></div>
                    </template>
                </lightning-card>
            </template>
            <template if:false={showFiles}>
                <figure class="slds-illustration slds-illustration_large slds-p-vertical_small">
                    <figcaption
                        class="slds-text-align_center slds-text-color_weak slds-p-horizontal_medium slds-p-top_medium">
                        <h3 class="slds-text-heading_medium">Collaborate here!</h3>
                        <p class="slds-text-body_regular slds-p-top_small slds-m-bottom_none">Here's where you start talking
                            with your colleagues about this record.</p>
                    </figcaption>
                </figure>
            </template>
            <div class="ticket-detail-section__attachment-upload slds-p-around_small">
                <lightning-input type="file" onchange={onFileUpload} name="uploadFile" label="Upload File"></lightning-input>
            </div>
        </div>
        <div class="ticket-detail-section">
            <!-- <div class="slds-text-heading_medium">Comments</div> -->
            <template if:true={showComments}>
                <lightning-card icon-name="utility:comments" class="ticket-detail-section__title ticket-detail-section__title-comments">
                    <h1 slot="title">Comments</h1>
                </lightning-card>
                <template for:each={ticketComments} for:item="comment">
                    <lightning-card key={comment.id}>
                        <div class="slds-grid">
                            <div class="slds-col">
                                <lightning-tile label={comment.name} type="media" class="slds-p-around_small">
                                    <lightning-avatar slot="media" src="" initials={comment.initials} fallback-icon-name="standard:account"></lightning-avatar>
                                    <ul class="slds-list_horizontal slds-has-dividers_right">
                                        <li class="slds-item slds-text-body_small slds-text-color_weak">
                                            {comment.date}
                                        </li>
                                    </ul>
                                </lightning-tile>
                            </div>
                        </div>
                        <div class="slds-p-around_small">
                            <lightning-formatted-rich-text value={comment.content}></lightning-formatted-rich-text>
                        </div>
                    </lightning-card>
                </template>
            </template>
            <template if:false={showComments}>
                <figure class="slds-illustration slds-illustration_large slds-p-vertical_small">
                    <img src="/sfsites/c/img/chatter/OpenRoad.svg" alt="" class="slds-illustration__svg slds-m-bottom_none">
                    <figcaption
                        class="slds-text-align_center slds-text-color_weak slds-p-horizontal_medium slds-p-top_medium">
                        <h3 class="slds-text-heading_medium">Collaborate here!</h3>
                        <p class="slds-text-body_regular slds-p-top_small slds-m-bottom_none">Here's where you start talking
                            with your colleagues about this record.</p>
                    </figcaption>
                </figure>
            </template>
            <div class="slds-grid">
                <div class="slds-col">
                    <div class="ticket-detail-section__rt">
                        <lightning-input-rich-text  share-with-entity-id={recordId} placeholder="Write a comment..."></lightning-input-rich-text>
                    </div>
                </div>
            </div>
            <div class="slds-grid slds-grid_align-spread slds-grid_vertical-align-center slds-p-around_small ticket-detail-section__rt-actions">
                <div class="slds-col">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <div class="slds-file-selector slds-file-selector_files">
                                <div class="ticket-detail-section__file-upload">
                                    <input
                                        type="file" id="file-upload-input-11"
                                        class="slds-file-selector__input slds-assistive-text"
                                        onchange={onFileUpload}
                                    />
                                    <label class="slds-file-selector__body" for="file-upload-input-11">
                                        <span class="slds-file-selector__button">
                                            <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                <use xlink:href="/sfsites/c/_slds/icons/utility-sprite/svg/symbols.svg#attach">
                                                </use>
                                            </svg>
                                            Attach Files
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-align-bottom">
                    <lightning-button
                            label="Add Comment"
                            variant="brand"
                            onclick={handleComment}>
                    </lightning-button>
                </div>
            </div>
        </div>
    </div>
</template>