<template>
    <div class="cswpWorkspaceBreadcrumb-container">
        <lightning-breadcrumbs>
            <template for:each={breadcrumbs} for:item="crumb">
                <lightning-breadcrumb
                    key={crumb.id}
                    label={crumb.label}
                    name={crumb.id}
                    onclick={handleNavigateTo}>
              </lightning-breadcrumb>
            </template>
         </lightning-breadcrumbs>
    </div>
</template>