.cswpWorkspaceBreadcrumb-container {
    font-size:1rem;
}

.cswpWorkspaceBreadcrumb-container .slds-breadcrumb .slds-breadcrumb__item a {
    color: #607D8B;
}

.cswpWorkspaceBreadcrumb-container .slds-breadcrumb .slds-breadcrumb__item:last-child a {
    color:black;
    font-weight: bold;
}