<template>
    <div class="slds-grid">
        <div class="slds-col">
            <c-cswp-file-detail-manager></c-cswp-file-detail-manager>
        </div>
        <div class="slds-col">
            <c-cswp-file-versions></c-cswp-file-versions>
        </div>
    </div>
</template>