/*!
    Design Framework Basis
 */
@font-face {
  font-family: 'RubikLight';
  src: url(../fonts/Rubiklight.woff2) format("woff2"), url(../fonts/Rubiklight.woff) format("woff"), url(../fonts/Rubiklight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'RubikRegular';
  src: url(../fonts/Rubik.woff2) format("woff2"), url(../fonts/Rubik.woff) format("woff"), url(../fonts/Rubik.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'RubikMedium';
  src: url(../fonts/Rubikmedium.woff2) format("woff2"), url(../fonts/Rubikmedium.woff) format("woff"), url(../fonts/Rubikmedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

/* Variables*/
/*********************
    Colors
**********************/
/*********************
    Variables
**********************/
/*** Global ***/
/*** Links ***/
/*** Fonts ***/
/*** Headings ***/
/*** Buttons ***/
/*** Form elements ***/
/*** BREAKPOINTS ***/
/*** Font weight ***/
/*Global*/
/*********************
    Typography
**********************/
html,
body {
  font-size: 14px;
  font-family: "RubikRegular", sans-serif !important;
  color: #607d8b;
  font-weight: 400;
  letter-spacing: 0; }

a {
  font-family: "RubikRegular", sans-serif !important;
  font-size: 1rem;
  color: #007aff;
  font-weight: normal; }
  a.link-small {
    font-size: 0.85rem;
    font-family: "RubikMedium", sans-serif !important; }

p {
  font-size: 1rem;
  font-family: "RubikRegular", sans-serif !important; }

li {
  font-family: "RubikRegular", sans-serif !important; }

h1,
h2,
h3 {
  color: #263238; }

h1 {
  font-family: "RubikLight", sans-serif !important;
  font-size: 2.14rem;
  font-weight: 300; }

h2 {
  font-size: 1.7rem;
  font-weight: 400; }

h3,
h4 {
  font-family: "RubikMedium", sans-serif !important;
  font-weight: 500; }

h3 {
  font-size: 1.28rem; }

h4 {
  font-size: 1rem;
  color: #90a4ae; }

h5 {
  font-family: "RubikRegular", sans-serif !important;
  font-size: 0.92rem;
  color: #455a64;
  text-align: center;
  font-weight: 400; }

/*Helpers*/
.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.justify-content-start {
  justify-content: flex-start; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-end {
  justify-content: flex-end; }

.justify-content-space-evenly {
  justify-content: space-evenly; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-items-end {
  align-items: flex-end; }

.margin-0 {
  margin: 0; }

.position-static {
  position: static; }

/*project specific files*/
body {
  background-color: #F7F8F9; }

.dropdown-menu li a {
  white-space: normal; }

.col-md-6.cc_main_content_col {
  padding: 0; }

ol.breadcrumb.cc_breadcrumb li:last-child a {
  color: #607d8b;
  font-weight: normal; }

ol.breadcrumb.cc_breadcrumb li a {
  color: #90a4ae; }

textarea {
  resize: none; }

.panel {
  padding: 0 10px 10px;
  box-shadow: 0 0 4px -3px rgba(0, 0, 0, 0.4); }

.panel-title.cc_title,
.panel-title.cc_title a {
  font-family: "RubikMedium", sans-serif !important;
  color: #607d8b;
  font-weight: 500; }

.minicart,
.seller-locator-search {
  margin: 0; }

.widget_container {
  margin-top: 20px; }

input.qty, input.cc_qty_input, input#qty {
  width: 56px;
  text-align: center; }

/*** Add to Wishlist link ***/
@media only screen and (max-width: 991px) {
  .wishButtons .add-wishlist-link {
    display: inline-block; } }

.add-wishlist-link .dropdown-menu {
  max-height: 200px;
  min-width: 200px;
  overflow: auto;
  padding: 0; }
  .add-wishlist-link .dropdown-menu .pickWish {
    padding: 10px; }
  .add-wishlist-link .dropdown-menu .divider {
    margin-top: 0; }

.add-wishlist-link > .pickWish {
  text-transform: uppercase;
  cursor: pointer; }
  .add-wishlist-link > .pickWish:hover {
    text-decoration: none;
    color: #007aff; }

.add-wishlist-link .add_wishlist_plus {
  margin-right: 3px; }

.add-wishlist-link > .dropdown-toggle {
  margin-left: 3px;
  cursor: pointer; }
  .add-wishlist-link > .dropdown-toggle:hover {
    color: #007aff; }

.add-wishlist-link.open .dropdown-toggle {
  box-shadow: none; }

.add-wishlist-link .caret {
  margin: 0; }

/* Cart locked message */
.lockedCartMessageHomepage {
  margin-top: 70px;
  margin-bottom: -60px; }

/*** WIDGETS ***/
.minicart .cc_heading,
.quick-order .cc_heading,
.filterContainer .cc_heading {
  padding: 5px 10px 5px 20px; }

/*** Recent Orders widget ***/
.reorderContainer .panel {
  padding: 0 10px 10px 25px; }

/*** Minicart widget ***/
.minicart .panel.cc_mini_cart {
  padding: 0; }
  .minicart .panel.cc_mini_cart .cc_heading {
    background: #fff; }
  .minicart .panel.cc_mini_cart .cc_body {
    padding: 10px 20px;
    background: #eceff1; }
  .minicart .panel.cc_mini_cart .cc_prod_name a {
    font-family: "RubikMedium", sans-serif !important;
    font-size: 1rem;
    color: #007aff;
    font-weight: 500; }
  .minicart .panel.cc_mini_cart .qty {
    background: #fff; }
  .minicart .panel.cc_mini_cart .cc_quantity .form-control, .minicart .panel.cc_mini_cart .cc_quantity .cc_input-group #searchText, .cc_input-group .minicart .panel.cc_mini_cart .cc_quantity #searchText {
    text-align: center; }
  .minicart .panel.cc_mini_cart .cc_summary {
    padding-top: 10px; }
    .minicart .panel.cc_mini_cart .cc_summary .cc_cart_item_count {
      font-weight: 400; }
    .minicart .panel.cc_mini_cart .cc_summary .cc_form_group {
      margin: 7px 0 0;
      padding: 10px 0 0;
      border-top: 1px solid #ccc; }
    .minicart .panel.cc_mini_cart .cc_summary .cc_update_cart_button {
      align-self: center;
      text-transform: uppercase;
      cursor: pointer; }
      @media only screen and (max-width: 1199px) {
        .minicart .panel.cc_mini_cart .cc_summary .cc_update_cart_button {
          width: auto; } }
    .minicart .panel.cc_mini_cart .cc_summary .cc_logged_in_action {
      margin: 10px 0 0; }

/*** Quick Order widget ***/
.quick-order .panel {
  padding: 0; }

.quick-order #collapseMiniQuickOrder {
  padding: 10px 20px;
  background: #eceff1; }

.quick-order .cc_form_quickorderrow .col-xs-8 {
  padding-right: 0; }

.quick-order .cc_qty_input {
  margin: 0 auto; }

.quick-order .cc_form_group {
  display: flex;
  flex-direction: column;
  margin: 0; }
  .quick-order .cc_form_group .cc_addtocart,
  .quick-order .cc_form_group .cc_addmore {
    font-size: 1rem; }
  .quick-order .cc_form_group .cc_addmore {
    align-self: flex-start;
    order: -1;
    height: auto;
    margin: 0;
    background: none;
    color: #007aff; }
    .quick-order .cc_form_group .cc_addmore::before {
      content: '+';
      margin-right: 3px; }
  .quick-order .cc_form_group button.btn.btn-default.btn-sm.addMore.cc_addmore, .quick-order .cc_form_group .cc_myaccount_orders_modal button.btn-sm.addMore.cc_addmore.closeModal, .cc_myaccount_orders_modal .quick-order .cc_form_group button.btn-sm.addMore.cc_addmore.closeModal,
  .quick-order .cc_form_group .cc_myaccount_orders_modal button.btn-sm.addMore.cc_addmore.ordercancel, .cc_myaccount_orders_modal .quick-order .cc_form_group button.btn-sm.addMore.cc_addmore.ordercancel {
    min-width: auto;
    padding: 0;
    font-size: 1rem; }
  .quick-order .cc_form_group .cc_addtocart {
    margin-top: 14px; }
  .quick-order .cc_form_group button.btn.btn-default.btn-sm.addToCart.cc_addtocart, .quick-order .cc_form_group .cc_myaccount_orders_modal button.btn-sm.addToCart.cc_addtocart.closeModal, .cc_myaccount_orders_modal .quick-order .cc_form_group button.btn-sm.addToCart.cc_addtocart.closeModal,
  .quick-order .cc_form_group .cc_myaccount_orders_modal button.btn-sm.addToCart.cc_addtocart.ordercancel, .cc_myaccount_orders_modal .quick-order .cc_form_group button.btn-sm.addToCart.cc_addtocart.ordercancel {
    font-size: 1rem; }

.quick-order .quickOrderQtyWarn {
  display: none;
  width: 100%;
  height: auto;
  color: #a94442;
  background-color: #f2dede;
  padding: 15px; }

/*** Category Tree widget ***/
#category-accordion .panel.panel-default.cc_panel.cc_category_tree {
  padding: 0;
  border: none; }

#category-accordion .cc_heading,
#category-accordion .cc_title {
  padding: 0; }

#category-accordion .cc_cat_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 25px;
  font-family: "RubikRegular", sans-serif !important;
  color: #263238;
  text-transform: capitalize; }
  #category-accordion .cc_cat_name:hover {
    text-decoration: none; }
  #category-accordion .cc_cat_name::after {
    font-family: "FontAwesome";
    font-size: 0.785rem;
    font-weight: 400;
    content: "\f054"; }
  #category-accordion .cc_cat_name.active {
    color: #017BFF; }

/*** Filter widget ***/
.filterContainer .cc_filter_container {
  padding: 0; }

.filterContainer .panel-default > .panel-heading {
  border: none; }

.filterContainer #collapseFilters {
  padding: 0 10px;
  background: #eceff1; }

.filterContainer .panel-title.cc_title a {
  font-family: "RubikRegular", sans-serif !important;
  font-size: 0.928rem;
  color: #455a64; }

/*** Chat ***/
.chat {
  height: 355px;
  background: #eceff1; }
  .chat_messages {
    position: relative;
    padding: 0 15px;
    border-bottom: 1px solid #cfd8dc;
    overflow-y: auto; }
  .chat_message-row {
    margin-bottom: 15px; }
  .chat_messages-date {
    color: #b0bec5; }
  .chat_messages-date:not(:first-child) {
    margin: 3rem 0 1rem; }
  .chat_messages-date:first-child {
    margin: .5rem 0 1rem; }
  .chat_message {
    padding: 12px;
    color: #263238; }
  .chat_user-message {
    background: #CAD3D6; }
  .chat_admin-message {
    background: #fff; }
    .chat_admin-message p {
      margin: 0; }
  .chat_admin-initials {
    width: 45px;
    height: 45px;
    margin-left: 15px;
    background: grey;
    border-radius: 50%;
    font-family: "RubikLight", sans-serif !important;
    color: #fff;
    font-size: 1.4rem; }
  .chat .message-border {
    border: 1px solid #607d8b; }
  .chat_actions {
    padding: 15px;
    background: #eceff1; }
  .chat_send-message-btn {
    margin-left: 15px;
    color: #76B4F8;
    transition: 0.5s all; }
    .chat_send-message-btn:hover {
      color: #0055b2;
      text-decoration: none;
      cursor: pointer; }
    .chat_send-message-btn i {
      width: auto !important;
      font-size: 2rem; }

.custom-radio,
.custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 25px !important;
  height: 25px;
  cursor: pointer; }
  .custom-radio_checkmark,
  .custom-checkbox_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #cfd8dc; }
  .custom-radio_label-text,
  .custom-checkbox_label-text {
    margin-left: 8px; }

/*** Custom radio button ***/
.custom-radio input[type='radio'] {
  display: none; }
  .custom-radio input[type='radio']:checked ~ .custom-radio_checkmark:after {
    display: block; }
  .custom-radio input[type='radio']:checked ~ .custom-radio_checkmark {
    background-color: #007aff; }

.custom-radio_checkmark {
  border-radius: 50%; }
  .custom-radio_checkmark:hover {
    box-shadow: 0px 0px 0px 8px #ebebeb; }
  .custom-radio_checkmark::after {
    content: "";
    position: absolute;
    display: none;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff; }

/*** Custom checkbox ***/
.custom-checkbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #ebebeb; }

.custom-checkbox:hover::before {
  display: block; }

.custom-checkbox input[type='checkbox'] {
  display: none; }
  .custom-checkbox input[type='checkbox']:checked ~ .custom-checkbox_checkmark:after {
    display: block; }
  .custom-checkbox input[type='checkbox']:checked ~ .custom-checkbox_checkmark {
    background-color: #007aff; }

.custom-checkbox_checkmark {
  border-radius: 4px; }
  .custom-checkbox_checkmark::after {
    content: "\f00c";
    display: none;
    line-height: 25px;
    font-family: "FontAwesome";
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300;
    text-align: center; }

/*** modal fix ***/
.modal-open, .modal {
  padding-right: 0 !important; }

/*** loading gif size from quick order widget***/
.cc_mini_quick_order .ccrz_loading_gif {
  width: 20px;
  height: 20px;
  margin: 10px auto; }

.file-extension-error {
  font-size: 0.857rem; }

/*** featured products ***/
.description {
  overflow-wrap: break-word; }

@media only screen and (max-width: 767px) {
  .table-responsive {
    padding: 2px;
    margin: 15px 0; } }

@media only screen and (max-width: 767px) {
  .table-responsive table {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  .table-responsive table tbody tr th,
  .table-responsive table tbody tr td {
    padding: 4px; } }

@media only screen and (max-width: 767px) {
  .table-responsive table a {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  .table-responsive table .cc_button_group {
    display: flex;
    flex-wrap: wrap; } }

.table-responsive table .cc_button_group > * {
  margin: 1px; }

@media only screen and (max-width: 767px) {
  .table-responsive table .btn.btn-default.btn-sm, .table-responsive table .cc_myaccount_orders_modal .btn-sm.closeModal, .cc_myaccount_orders_modal .table-responsive table .btn-sm.closeModal,
  .table-responsive table .cc_myaccount_orders_modal .btn-sm.ordercancel, .cc_myaccount_orders_modal .table-responsive table .btn-sm.ordercancel {
    padding: 5px 6px !important;
    height: 30px !important;
    font-size: 11px; } }

.wishlist-success {
  color: #4cd964; }
  .wishlist-success p {
    margin: 0 5px 0 0; }
  .wishlist-success i {
    font-size: 1.3rem;
    align-self: flex-start; }

.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > td,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > thead > tr > th {
  white-space: normal; }

.btn, .cc_myaccount_orders_modal .closeModal,
.cc_myaccount_orders_modal .ordercancel {
  border: none;
  border-radius: 4px;
  outline: none !important;
  text-decoration: none;
  cursor: pointer; }
  .btn .caret, .cc_myaccount_orders_modal .closeModal .caret, .cc_myaccount_orders_modal .ordercancel .caret {
    margin: 0; }

a.btn, .cc_myaccount_orders_modal a.closeModal,
.cc_myaccount_orders_modal a.ordercancel {
  display: inline-flex;
  align-items: center; }

.btn, .cc_myaccount_orders_modal .closeModal,
.cc_myaccount_orders_modal .ordercancel,
.icon-btn {
  height: 40px;
  padding: 12px 25px;
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.5s background-color; }

.btn-default, .cc_myaccount_orders_modal .closeModal,
.cc_myaccount_orders_modal .ordercancel,
.btn-primary,
.cc_add_item,
.cc_add_to_btnn,
.cc_checkout_btn,
.cc_add_to_cart_btn,
.submit-btn,
.cc_process_review,
.makeCCPayment {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase; }
  .btn-default:hover, .cc_myaccount_orders_modal .closeModal:hover,
  .cc_myaccount_orders_modal .ordercancel:hover, .btn-default:focus, .cc_myaccount_orders_modal .closeModal:focus,
  .cc_myaccount_orders_modal .ordercancel:focus, .btn-default:active, .cc_myaccount_orders_modal .closeModal:active,
  .cc_myaccount_orders_modal .ordercancel:active,
  .btn-primary:hover,
  .cc_add_item:hover,
  .cc_add_to_btnn:hover,
  .cc_checkout_btn:hover,
  .cc_add_to_cart_btn:hover,
  .submit-btn:hover,
  .cc_process_review:hover,
  .makeCCPayment:hover,
  .btn-primary:focus,
  .cc_add_item:focus,
  .cc_add_to_btnn:focus,
  .cc_checkout_btn:focus,
  .cc_add_to_cart_btn:focus,
  .submit-btn:focus,
  .cc_process_review:focus,
  .makeCCPayment:focus,
  .btn-primary:active,
  .cc_add_item:active,
  .cc_add_to_btnn:active,
  .cc_checkout_btn:active,
  .cc_add_to_cart_btn:active,
  .submit-btn:active,
  .cc_process_review:active,
  .makeCCPayment:active {
    color: #fff; }
  .btn-default.btn-sm, .cc_myaccount_orders_modal .btn-sm.closeModal,
  .cc_myaccount_orders_modal .btn-sm.ordercancel,
  .btn-primary.btn-sm,
  .btn-sm.cc_add_item,
  .btn-sm.cc_add_to_btnn,
  .btn-sm.cc_checkout_btn,
  .btn-sm.cc_add_to_cart_btn,
  .btn-sm.submit-btn,
  .btn-sm.cc_process_review,
  .btn-sm.makeCCPayment {
    padding: 5px 10px;
    font-size: 12px; }

.btn-default, .cc_myaccount_orders_modal .closeModal,
.cc_myaccount_orders_modal .ordercancel {
  background-color: #90a4ae; }
  .btn-default:focus, .cc_myaccount_orders_modal .closeModal:focus,
  .cc_myaccount_orders_modal .ordercancel:focus, .btn-default:active, .cc_myaccount_orders_modal .closeModal:active,
  .cc_myaccount_orders_modal .ordercancel:active {
    background-color: #90a4ae; }
  .btn-default:hover, .cc_myaccount_orders_modal .closeModal:hover,
  .cc_myaccount_orders_modal .ordercancel:hover {
    background-color: #647279; }
  .btn-default:disabled:hover, .cc_myaccount_orders_modal .closeModal:disabled:hover,
  .cc_myaccount_orders_modal .ordercancel:disabled:hover {
    background-color: #007aff; }


.btn-primary,
.cc_add_item,
.cc_add_to_btnn,
.cc_checkout_btn,
.cc_add_to_cart_btn,
.submit-btn,
.cc_process_review,
.makeCCPayment {
  background-color: #007aff; }
  
  .btn-primary:focus,
  .cc_add_item:focus,
  .cc_add_to_btnn:focus,
  .cc_checkout_btn:focus,
  .cc_add_to_cart_btn:focus,
  .submit-btn:focus,
  .cc_process_review:focus,
  .makeCCPayment:focus,
  .btn-primary:active,
  .cc_add_item:active,
  .cc_add_to_btnn:active,
  .cc_checkout_btn:active,
  .cc_add_to_cart_btn:active,
  .submit-btn:active,
  .cc_process_review:active,
  .makeCCPayment:active {
    background-color: #007aff; }
  
  .btn-primary:hover,
  .cc_add_item:hover,
  .cc_add_to_btnn:hover,
  .cc_checkout_btn:hover,
  .cc_add_to_cart_btn:hover,
  .submit-btn:hover,
  .cc_process_review:hover,
  .makeCCPayment:hover {
    background-color: #0055b2; }

.btn-dark {
  background-color: #263238; }
  .btn-dark:hover {
    background-color: #0055b2; }

.btn-success {
  background-color: #4cd964; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #4cd964; }

.btn-locked:disabled:hover {
  background-color: #90a4ae; }

.icon-btn-default,
.icon-btn-primary {
  background: transparent;
  font-size: 18px;
  text-transform: capitalize; }
  .icon-btn-default:hover,
  .icon-btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.08); }
  .icon-btn-default > *,
  .icon-btn-primary > * {
    margin-right: 5px; }
  .icon-btn-default.icon-btn-small,
  .icon-btn-primary.icon-btn-small {
    font-size: 12px; }

.icon-btn-primary {
  color: #007aff; }

.icon-btn-default {
  color: #607d8b; }

.label {
  height: 24px;
  padding: 6px 17px;
  background-color: rgba(25, 115, 231, 0.1);
  font-size: 12px;
  color: #1973e7; }
  .label:hover {
    background-color: rgba(0, 0, 0, 0.08); }
  .label.btn-removable {
    padding: 6px 10px; }
  .label > * {
    margin-left: 8px;
    font-size: 10px; }

.cc_add_item,
.cc_add_to_btn {
  width: 200px; }

.selectUser-btn {
  margin-top: 0 !important;
  border: 1px solid #607d8b;
  background-color: #fff;
  color: #607d8b; }

#dropdownMenuUsers {
  width: calc(100% - 33px);
  overflow: hidden;
  font-size: 14px;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.user-glyph {
  float: left;
  border-right: none;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.glyphicon-ok {
  visibility: hidden;
  margin: 0 10px; }

#relatedUsers {
  width: 100%;
  margin: 0; }

#share {
  display: flex;
  flex-basis: 12%;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: unset; }
  @media only screen and (max-width: 991px) {
    #share {
      flex-basis: 100%; } }
  #share span {
    margin-left: 5px; }

#share:hover {
  cursor: pointer; }

.cc_wishlist_action .cc_add_item {
  width: 100%; }

.row .col-md-2 .cc_delete {
  margin: 0 15px; }

.form-control, .cc_input-group #searchText {
  position: relative;
  height: 41px;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #cfd8dc;
  outline: 0 !important;
  z-index: 0; }
  .form-control:focus, .cc_input-group #searchText:focus {
    border: 1px solid #cfd8dc;
    box-shadow: none; }
  .form-control:disabled, .cc_input-group #searchText:disabled {
    background-color: #cfd8dc; }
  .form-control.error, .cc_input-group .error#searchText {
    border-color: #df0017; }

.form-group label {
  padding-bottom: 2px;
  font-family: "RubikMedium", sans-serif !important;
  font-size: 12px;
  color: #90A4AE;
  font-weight: 500;
  text-transform: uppercase; }

.header .navbar-inverse {
  background-color: #cfd8dc !important; }
  .header .navbar-inverse li a {
    display: inline-flex;
    align-items: center;
    color: #607d8b; }
    @media only screen and (max-width: 767px) {
      .header .navbar-inverse li a {
        line-height: 1; } }
    .header .navbar-inverse li a .header-menu-icon {
      width: 20px;
      height: 20px;
      margin-right: 3px; }

.navbar-header {
  float: none; }

.cc_navbar_row {
  margin-right: -15px !important;
  margin-left: -15px !important; }

.cc_navbar_toggle {
  top: 8px !important; }

#cc_store_logo_img {
  background: transparent url(../images/advantest_logo.gif) no-repeat;
  background-size: cover;
  width: 151px;
  height: 18px; }
  @media only screen and (max-width: 767px) {
    #cc_store_logo_img {
      width: 125px;
      background-size: contain; } }
  #cc_store_logo_img::after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: #eceff1;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-10px);
    pointer-events: none; }

ul.top-menu {
  min-height: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  @media only screen and (max-width: 767px) {
    ul.top-menu {
      padding: 10px 0; } }
  @media only screen and (max-width: 767px) {
    ul.top-menu li {
      display: flex;
      padding: 3px; } }
  ul.top-menu .cc_lssec,
  ul.top-menu .cc_lssec ul {
    display: flex; }
  ul.top-menu .cc_loginoutsec {
    padding: 0;
    flex: 1 1 auto; }

#logoUrl {
  top: 23px; }
  @media only screen and (max-width: 991px) {
    #logoUrl {
      top: 23px; } }
  @media only screen and (max-width: 767px) {
    #logoUrl {
      top: 24px; } }

.navbar-nav {
  float: none; }

.cc_navbar_col_acct .cartHeaderLink {
  position: relative; }
  @media only screen and (max-width: 991px) {
    .cc_navbar_col_acct .cartHeaderLink {
      height: auto; } }

.cc_navbar_col_acct .cc_my_chead .cart-badge {
  position: relative;
  top: -8px;
  left: -10px;
  line-height: 15px;
  padding: 1px 6px;
  background: #8c003d;
  border-radius: 10px;
  color: #fff; }

.cc_navbar_col_acct .cc_my_chead .cart-total {
  margin-left: -9px; }

.secnav-container {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .secnav-container {
      position: static; } }
  .secnav-container .cc_col_search {
    position: absolute;
    top: 7px;
    right: 0; }
    @media only screen and (max-width: 767px) {
      .secnav-container .cc_col_search {
        top: 17px; } }

@media (max-width: 400px) {
  .cc_col_search {
    top: 49px; } }

@media only screen and (max-width: 767px) {
  .cc_col_search {
    right: 0; } }

.navbar-default .navbar-form {
  position: static;
  background-color: transparent;
  height: auto; }

.cc_col_search .cc_nav {
  right: 0; }
  @media only screen and (max-width: 767px) {
    .cc_col_search .cc_nav {
      margin: 0 50px 0 138px; } }
  @media (max-width: 400px) {
    .cc_col_search .cc_nav {
      margin-top: 0; } }

.cc_navbar_form {
  display: flex;
  justify-content: flex-end; }
  .cc_navbar_form .cc_input-group {
    float: none; }

@media only screen and (max-width: 767px) {
  .cc_search_form .input-group-btn {
    width: auto;
    margin-left: -22px;
    margin-right: 0; } }

@media only screen and (max-width: 767px) {
  .cc_input-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; } }

.cc_input-group #searchText {
  margin-right: 5px;
  height: 30px;
  background: #eceff1;
  font-size: 1rem;
  border-right: 1px solid #cfd8dc !important;
  transition: width .3s; }
  @media only screen and (max-width: 767px) {
    .cc_input-group #searchText {
      padding: 5px 20px 5px 8px;
      font-size: 0.85rem;
      width: 150px;
      margin: 0;
      padding-right: 27px; } }
  @media (max-width: 400px) {
    .cc_input-group #searchText {
      width: 100%; } }
  .cc_input-group #searchText:focus {
    width: 940px; }
    @media only screen and (max-width: 1199px) {
      .cc_input-group #searchText:focus {
        width: 740px; } }
    @media only screen and (max-width: 991px) {
      .cc_input-group #searchText:focus {
        width: 530px; } }
    @media only screen and (max-width: 767px) {
      .cc_input-group #searchText:focus {
        width: 100%; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cc_input-group #searchText {
    line-height: 0.7; } }

.cc_input-group #doSearch {
  width: 20px;
  height: 20px; }
  @media only screen and (max-width: 767px) {
    .cc_input-group #doSearch {
      width: 17px;
      height: 17px;
      background-color: transparent; } }

.cc_menu_container {
  box-shadow: 0 1px 4px -3px rgba(0, 0, 0, 0.4); }
  .cc_menu_container .navbar-default {
    background: #fff; }
    @media only screen and (max-width: 767px) {
      .cc_menu_container .navbar-default .navbar-collapse {
        background: #fff; } }

@media only screen and (max-width: 767px) {
  #navbar .cc_navbar-nav li:hover {
    background: #cfd8dc; } }

#navbar .cc_navbar-nav li a {
  color: #607d8b !important;
  text-transform: uppercase;
  transition: all .3s ease; }
  @media only screen and (max-width: 767px) {
    #navbar .cc_navbar-nav li a:hover {
      padding-left: 25px !important; } }

#navbar .cc_navbar-nav .cc_dropdown-menu {
  background: #fff; }
  #navbar .cc_navbar-nav .cc_dropdown-menu li a {
    white-space: nowrap; }
    #navbar .cc_navbar-nav .cc_dropdown-menu li a:hover {
      background: #cfd8dc; }

.cc_home_slider {
  background: transparent; }

/* Currency lik and modal  */
.currency-link:hover {
  cursor: pointer; }

@media only screen and (max-width: 767px) {
  .currency-link {
    margin-left: 1rem; } }

.currency-dialog {
  width: 300px; }

.modal-header .close {
  position: absolute;
  top: 15px;
  right: 20px; }

.currency-list {
  width: 100%;
  padding: 10px; }

.table-hover > tbody > tr.active:hover > td {
  background-color: #b0bec5; }

.table > tbody > tr > td.selectedCurrency,
.table > tbody > tr > td.selectedLanguage {
  background-color: #b0bec5;
  color: #fff; }

.localeModalTable.table > tbody > tr > td:not(.selectedCurrency):not(.selectedLanguage):hover {
  cursor: pointer;
  background-color: #cfd8dc; }

#searchText:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b0bec5; }

.container-fluid.navbar-inverse.cc_navbar-inverse {
  background: transparent; }

.osf_footer {
  min-height: 105px;
  padding-top: 60px; }
  @media only screen and (max-width: 767px) {
    .osf_footer {
      padding-top: 2.14rem; } }

.copyright-text,
.footer-links {
  margin: 0; }

.footer-links li {
  padding: 0; }

.copyright-text,
.footer_link {
  color: #263238;
  font-size: 0.92rem; }

@media only screen and (max-width: 767px) {
  .copyright-text {
    margin-bottom: 10px;
    text-align: center; } }

@media only screen and (max-width: 767px) {
  .footer-links {
    text-align: center; } }

.footer-links-item:first-child {
  padding-left: 0; }

.footer-links-item:not(:last-child) {
  margin-right: 25px; }
  @media only screen and (max-width: 991px) {
    .footer-links-item:not(:last-child) {
      margin-right: 10px; } }
  @media only screen and (max-width: 767px) {
    .footer-links-item:not(:last-child) {
      margin: 0; } }

.scroll-top {
  display: none; }

.featured-products {
  min-height: 100%; }

.featured-products .product_details {
  padding: 10px 15px 20px;
  position: relative; }
  .featured-products .product_details .related-product-image-container {
    height: 80px; }
  .featured-products .product_details .related-product-details-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 10px; }
    .featured-products .product_details .related-product-details-container .product_name {
      min-height: 50px; }
    .featured-products .product_details .related-product-details-container .cc_sku {
      text-align: center; }
    .featured-products .product_details .related-product-details-container .product-description-price {
      margin-top: 20px;
      overflow: hidden; }
      .featured-products .product_details .related-product-details-container .product-description-price .description {
        height: auto;
        text-align: center; }
      .featured-products .product_details .related-product-details-container .product-description-price .featProdPrice {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        text-align: center; }
  .featured-products .product_details .featured.img-responsive.center-block {
    height: 55px;
    width: 61px; }
  .featured-products .product_details .clearfix {
    margin: 20px 0; }

.checkoutNav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0; }
  .checkoutNav .active h4 {
    color: #263238; }
  .checkoutNav .co-nav-divider {
    flex-grow: 1;
    border-bottom: 3px solid #D5D5D5;
    margin: 0 10px;
    margin-bottom: 5px; }
    .checkoutNav .co-nav-divider h4 {
      margin: 0; }

.osf_tmpl_checkout {
  margin-top: 70px; }
  @media (min-width: 768px) {
    .osf_tmpl_checkout {
      width: 750px; } }
  @media (min-width: 992px) {
    .osf_tmpl_checkout {
      width: 970px; } }
  @media (min-width: 1200px) {
    .osf_tmpl_checkout {
      width: 1170px; } }
  .osf_tmpl_checkout input.button.btn.btn-default.processBack, .osf_tmpl_checkout .cc_myaccount_orders_modal input.button.processBack.closeModal, .cc_myaccount_orders_modal .osf_tmpl_checkout input.button.processBack.closeModal,
  .osf_tmpl_checkout .cc_myaccount_orders_modal input.button.processBack.ordercancel, .cc_myaccount_orders_modal .osf_tmpl_checkout input.button.processBack.ordercancel {
    margin-bottom: 10px;
    padding: 12px 25px;
    font-size: 14px; }

.checkoutContent .cc_panel {
  margin: 0;
  padding: 0; }
  .checkoutContent .cc_panel .cc_heading,
  .checkoutContent .cc_panel .cc_body {
    padding-left: 10px;
    padding-right: 10px; }
  .checkoutContent .cc_panel .cc_heading {
    background: #cfd8dc; }
    .checkoutContent .cc_panel .cc_heading .cc_title {
      font-size: 1.14rem; }
  .checkoutContent .cc_panel .panel-collapse .cc_body {
    padding: 15px 10px; }

.checkoutContent .reviewCartSection {
  margin-bottom: 20px;
  border-bottom: 2px solid #b0bec5; }

.checkoutContent .cart_item {
  margin: 0;
  border: none; }
  @media only screen and (max-width: 991px) {
    .checkoutContent .cart_item .cc_item_title {
      margin-top: 15px; } }
  .checkoutContent .cart_item .cc_item_title .cc_prod_link {
    font-family: "RubikMedium", sans-serif !important;
    color: #007aff; }
  .checkoutContent .cart_item .cc_price p {
    font-family: "RubikRegular", sans-serif !important; }
  .checkoutContent .cart_item .cc_price span.cc_price {
    color: #607d8b; }

.checkoutContent .cc_totals {
  padding: 25px 0;
  border-top: 1px solid #b0bec5; }

.checkoutContent .terms_end_conditions_label {
  margin-left: 5px;
  color: #263238;
  vertical-align: middle; }

.checkoutContent .cc_process_review:disabled {
  opacity: .5;
  pointer-events: none; }

.checkoutContent #terms_end_conditions_checkbox {
  display: none; }

.checkoutContent .cc_link_button {
  padding: 20px 0; }
  @media only screen and (max-width: 767px) {
    .checkoutContent .cc_link_button .btn, .checkoutContent .cc_link_button .cc_myaccount_orders_modal .closeModal, .cc_myaccount_orders_modal .checkoutContent .cc_link_button .closeModal,
    .checkoutContent .cc_link_button .cc_myaccount_orders_modal .ordercancel, .cc_myaccount_orders_modal .checkoutContent .cc_link_button .ordercancel {
      margin: 2px; } }

.checkoutContent .cc_panel.user-info {
  margin-bottom: 10px; }

.checkoutContent .user-info_section:not(:first-child) {
  padding-top: 15px; }

.checkoutContent .user-info_section:not(:last-child) {
  padding-bottom: 15px; }

.checkoutContent .user-info_section:not(:last-child) {
  border-bottom: 2px solid #b0bec5; }

.checkoutContent .section_heading,
.checkoutContent .contact_name,
.checkoutContent .company_name,
.checkoutContent .shipp-form_label {
  color: #263238; }

.checkoutContent .contact_name,
.checkoutContent .company_name,
.checkoutContent .change_address,
.checkoutContent .shipp-form_label {
  font-family: "RubikMedium", sans-serif !important; }

.checkoutContent .section_heading {
  margin: 0 0 15px; }

.checkoutContent .phone_num,
.checkoutContent .contact_email {
  color: currentColor; }

.checkoutContent .company_name {
  text-transform: uppercase; }

.checkoutContent .shipp-form .form-group:last-child {
  margin: 0; }

.checkoutContent .cc_address_book_modal .cc_billing_shipping_info:not(:last-child) {
  margin-bottom: 25px; }

.checkoutContent .ccPayment-messagingSection-Info .cc_close {
  margin-right: 3px; }
  .checkoutContent .ccPayment-messagingSection-Info .cc_close:focus {
    outline: none; }

.checkoutContent .radio {
  margin-top: 15px;
  margin-bottom: 15px; }

.checkoutContent .cc_col_upload_po {
  margin-left: 1.5rem; }

.checkoutContent #upload_po .filesInput {
  margin: 1rem 0; }

.checkoutContent #upload_po .upload {
  margin-top: .5rem; }

.checkoutContent #upload_po .cc_modal_footer {
  text-align: left; }
  .checkoutContent #upload_po .cc_modal_footer .po_note,
  .checkoutContent #upload_po .cc_modal_footer .order_process_link {
    font-size: 0.857rem; }

.checkoutContent .cc_nav-tabs-payment {
  display: none; }

.checkoutContent .cc_payment_display {
  font-family: "RubikMedium", sans-serif !important;
  text-transform: uppercase; }

.checkoutContent .payment-or {
  padding: 1rem 0 1rem 3rem; }

.checkoutContent .ccStoredPaymentSelection {
  padding-left: 2rem;
  display: none; }
  .checkoutContent .ccStoredPaymentSelection .radio {
    margin-left: 10px; }

.checkoutContent .payment-note {
  margin-top: 15px; }

.checkoutContent .makeCCPayment {
  margin-top: 25px; }

.checkoutContent .terms_end_conditions {
  margin-top: 25px; }

.cc_order_details .cc_order_information_title {
  font-size: 1.4rem; }

.cc_order_details .cc_buyer_information,
.cc_order_details .cc_shipping_information,
.cc_order_details .cc_billing_address_label,
.cc_order_details .cc_payment_information,
.cc_order_details .cc_shipping_address_label,
.cc_order_details .cc_coupon_label,
.cc_order_details .contracting_entity_label {
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600; }

.cc_order_details p.cc_addr_name,
.cc_order_details p.cc_addr_company {
  font-family: "RubikMedium", sans-serif !important;
  font-weight: 500; }

.cc_order_details .cc_prod_link {
  font-family: "RubikMedium", sans-serif !important;
  color: #007aff; }

.cc_order_details span.cc_price {
  color: #607d8b; }

.product_detail_item h1.product_title.cc_product_title {
  font-family: "RubikRegular", sans-serif !important;
  font-size: 1.8rem;
  margin: 0;
  font-weight: 400; }

.product_detail_item .cc_sku,
.product_detail_item .cc_short_desc p,
.product_detail_item .cc_price {
  font-family: "RubikMedium", sans-serif !important; }

.product_detail_item .sku.cc_sku {
  margin: 20px 0 5px; }

.product_detail_item .cc_price_block {
  margin: 20px 0; }
  .product_detail_item .cc_price_block .price.cc_price {
    margin: 0;
    font-size: 1.28rem;
    color: #263238; }

.product_detail_item .cc_add_item {
  margin-left: 10px; }
  @media only screen and (max-width: 1199px) {
    .product_detail_item .cc_add_item {
      width: 80%;
      margin-left: 0; } }
  @media only screen and (max-width: 991px) {
    .product_detail_item .cc_add_item {
      width: 100%; } }

.product_detail_item .quantity_block {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 1199px) {
    .product_detail_item .quantity_block .cc_qty_control_row {
      height: 100px;
      justify-content: space-between; } }
  .product_detail_item .quantity_block .qtyWarn {
    width: 266px; }
    @media only screen and (max-width: 1199px) {
      .product_detail_item .quantity_block .qtyWarn {
        width: 80%;
        height: auto;
        margin: 10px 0; } }
    @media only screen and (max-width: 991px) {
      .product_detail_item .quantity_block .qtyWarn {
        width: 100%; } }
  .product_detail_item .quantity_block .invalidQtyWarn {
    display: none;
    width: 266px;
    height: 36px;
    padding: 8px 10px;
    margin: 5px 0; }
    @media only screen and (max-width: 1199px) {
      .product_detail_item .quantity_block .invalidQtyWarn {
        width: 80%;
        height: auto;
        margin: 10px 0; } }
    @media only screen and (max-width: 991px) {
      .product_detail_item .quantity_block .invalidQtyWarn {
        width: 100%; } }

.tabSection .panel,
.widgetSection .panel {
  padding: 0 20px; }

.tabSection .cc_nav-tabs li a {
  font-family: "RubikMedium", sans-serif !important;
  font-weight: 500;
  color: #607d8b; }

.tabSection .cc_nav-tabs li.active a {
  color: #263238; }

.widgetSection .panel-heading.cc_heading {
  margin-bottom: 5px;
  border: none; }

.widgetSection .cc_quick_wishlist {
  text-align: left; }

.widgetSection .cc_quick_wishlist_item {
  margin-top: 0px; }

@media only screen and (max-width: 991px) {
  .widgetSection .product_short_details {
    text-align: center; } }

.widgetSection .cc_prod_name a {
  font-family: "RubikMedium", sans-serif !important;
  font-size: 1rem;
  color: #007aff;
  text-transform: none;
  font-weight: 400; }

.widgetSection .product_sku {
  margin-bottom: 10px; }
  .widgetSection .product_sku .cc_sku_label,
  .widgetSection .product_sku .cc_sku_value {
    color: #607d8b;
    font-weight: 400; }

.widgetSection .product_price .price.cc_price {
  font-family: "RubikMedium", sans-serif !important;
  color: #607d8b; }

.widgetSection #cross_sell_products .cc_prod_name {
  margin-top: 0; }

.widgetSection #competitive_products .product_img_col {
  margin-bottom: 15px; }

.widgetSection #competitive_products .prodDetRel {
  margin: 0 auto; }

.widgetSection #competitive_products .product_short_details {
  padding-left: 0; }

.widgetSection #competitive_products .product_sku {
  font-size: 0.857rem; }
  @media only screen and (max-width: 991px) {
    .widgetSection #competitive_products .product_sku {
      font-size: 1rem; } }

.minicart .cc_prod_name {
  padding: 5px 10px; }

.minicart .mini_cart_items {
  height: 50px; }

.cc_product_list_header,
.cc_no_results {
  padding: 0; }

.cc_product_list_header .category_panel {
  padding: 0; }

.cc_product_list_header .cc_body {
  padding: 0; }

.category_details .category_media .category_img {
  width: 100%;
  max-height: 200px; }

.category_details .category_details_content {
  padding: 2.85rem 1rem 1.7rem; }
  @media only screen and (max-width: 1199px) {
    .category_details .category_details_content {
      padding: 1.85rem 1rem 1.4rem; } }
  .category_details .category_details_content .category_name {
    margin: 0 0 20px;
    text-transform: capitalize; }
  .category_details .category_details_content .category_desc {
    margin: 0; }
  @media only screen and (max-width: 991px) {
    .category_details .category_details_content .category-actions {
      margin-top: 15px; } }
  .category_details .category_details_content .category-actions .category-btn {
    margin: 0 auto; }
    @media only screen and (max-width: 1199px) {
      .category_details .category_details_content .category-actions .category-btn {
        padding: 12px; } }
    @media only screen and (max-width: 991px) {
      .category_details .category_details_content .category-actions .category-btn {
        padding: 12px 25px; } }
  .category_details .category_details_content .category-actions .contact_us_btn {
    display: inline-block;
    margin-top: 2rem;
    text-transform: uppercase; }
  .category_details .category_details_content hr {
    margin: 2rem 0;
    border-top: 1px solid #cfd8dc; }
  .category_details .category_details_content .category-download-file {
    margin-top: 2rem;
    text-transform: uppercase; }

.cc_controls_panel {
  margin-top: 20px;
  padding: 10px; }
  @media only screen and (max-width: 991px) {
    .cc_controls_panel .cc_page_controls {
      padding-bottom: 15px; } }
  .cc_controls_panel .cc_product_results_tagline {
    margin-bottom: 15px;
    display: block;
    text-align: right; }
  .cc_controls_panel .cc_controls_list {
    margin: 0; }
    .cc_controls_panel .cc_controls_list .cc_page_size_control {
      padding: 2px 5px;
      height: 28px;
      font-size: .928rem; }
  .cc_controls_panel .cc_layout_option,
  .cc_controls_panel .cc_sort_options .btn-group button {
    height: auto; }
  .cc_controls_panel .cc_sort_options button.active,
  .cc_controls_panel .cc_sort_options li.active button {
    color: #333;
    background-color: #e6e6e6; }
  .cc_controls_panel .cc_sort_options .caret {
    margin-left: 10px; }
  .cc_controls_panel .cc_sort_options .dropdown-menu {
    padding: 0;
    border: none; }
    .cc_controls_panel .cc_sort_options .dropdown-menu li:not(:last-child) {
      margin-bottom: 3px; }

.cc_search_title {
  font-size: 1.4rem; }
  .cc_search_title .cc_product_results_tagline {
    font-size: 0.85rem;
    font-family: "RubikRegular", sans-serif !important;
    color: #607d8b;
    text-transform: none; }

.cc_results_list .cc_add_to .cc_add_to_btnn {
  width: 200px; }

.cc_product_container {
  min-height: 548px;
  height: auto; }
  .cc_product_container .cc_product_item .cc_product_link {
    margin-bottom: 20px; }
    @media only screen and (max-width: 991px) {
      .cc_product_container .cc_product_item .cc_product_link {
        margin: 25px 0 15px; } }
  .cc_product_container .cc_product_item .no-img-placeholder {
    background: #eceff1;
    font-size: 1.142rem;
    height: 118px; }
  .cc_product_container .cc_product_item .cc_product_name,
  .cc_product_container .cc_product_item .cc_desc,
  .cc_product_container .cc_product_item .cc_price {
    color: #263238; }
  .cc_product_container .cc_product_item .cc_product_name {
    font-size: 1.14rem;
    font-family: "RubikMedium", sans-serif !important;
    font-weight: 500; }
  .cc_product_container .cc_product_item .product_info {
    flex-basis: 70%; }
    @media only screen and (max-width: 767px) {
      .cc_product_container .cc_product_item .product_info {
        flex-basis: 100%; } }
  .cc_product_container .cc_product_item .cc_desc {
    font-size: 0.85rem; }
  .cc_product_container .cc_product_item .cc_price_container .cc_label {
    display: none; }
  .cc_product_container .cc_product_item .cc_price_container .cc_price {
    font-family: "RubikMedium", sans-serif !important; }
  .cc_product_container .cc_product_item .product_uom {
    margin-left: 6px; }
  .cc_product_container .cc_product_item .product_item_actions {
    margin-top: 2rem; }
  .cc_product_container .cc_product_item .add_to_cart_group {
    width: 261px; }
    @media (max-width: 437px) {
      .cc_product_container .cc_product_item .add_to_cart_group {
        order: -1;
        margin-bottom: 15px; } }
  .cc_product_container .cc_product_item .cc_compare {
    margin: 0 2rem 0 0; }
    .cc_product_container .cc_product_item .cc_compare .cc_addto_compare {
      text-transform: uppercase;
      cursor: pointer; }
      .cc_product_container .cc_product_item .cc_compare .cc_addto_compare.disabled {
        pointer-events: none;
        color: currentColor;
        opacity: 0.5; }
      .cc_product_container .cc_product_item .cc_compare .cc_addto_compare:hover {
        text-decoration: none;
        color: #007aff; }
  .cc_product_container .cc_product_item .cc_qty_control_row {
    margin-right: 5px; }
  .cc_product_container .cc_product_item .wishButtons .form-group.add-wishlist-link,
  .cc_product_container .cc_product_item .wishButtons .form-group.wishlist-success {
    margin: 0; }
  .cc_product_container .cc_product_item .cc_add_to_btnn {
    width: 200px; }

.cc_grid_container {
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 991px) {
    .cc_grid_container {
      display: block; } }
  .cc_grid_container .cc_product_container .thumbnail {
    margin: 0;
    padding: 10px;
    height: 100%; }
  .cc_grid_container .cc_product_container .cc_grid_image_container {
    margin-bottom: 15px; }
    .cc_grid_container .cc_product_container .cc_grid_image_container .img-responsive {
      max-width: 100%; }
    .cc_grid_container .cc_product_container .cc_grid_image_container .no-img-placeholder {
      height: 200px; }
  .cc_grid_container .cc_product_container .cc_grid_product_info,
  .cc_grid_container .cc_product_container .cc_price_container {
    padding: 0; }
  .cc_grid_container .cc_product_container .cc_grid_product_info {
    flex: 1; }
  .cc_grid_container .cc_product_container .cc_price_container {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 991px) {
      .cc_grid_container .cc_product_container .cc_price_container {
        width: 100%;
        display: flex;
        justify-content: flex-end; } }
  .cc_grid_container .cc_product_container .cc_product_link {
    margin-top: 0;
    min-height: 34px;
    text-align: left;
    overflow: unset; }
  .cc_grid_container .cc_product_container .cc_desc {
    height: auto; }
  .cc_grid_container .cc_product_container .product_info {
    flex-basis: 100%; }
  .cc_grid_container .cc_product_container .cc_grid_price_info {
    margin: 15px 0; }
  .cc_grid_container .cc_product_container .product_item_actions {
    margin-top: auto; }
    @media only screen and (max-width: 991px) {
      .cc_grid_container .cc_product_container .product_item_actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; } }
  .cc_grid_container .cc_product_container .add_to_wishlist_group {
    flex-direction: column; }
    @media only screen and (max-width: 991px) {
      .cc_grid_container .cc_product_container .add_to_wishlist_group {
        flex-direction: row; } }
  .cc_grid_container .cc_product_container .add_to_cart_group {
    margin-top: 15px;
    width: 242px; }
    @media only screen and (max-width: 991px) {
      .cc_grid_container .cc_product_container .add_to_cart_group {
        margin-top: 0;
        display: flex; } }
    .cc_grid_container .cc_product_container .add_to_cart_group .cc_qty_control_row {
      margin-bottom: 5px; }
      @media only screen and (max-width: 991px) {
        .cc_grid_container .cc_product_container .add_to_cart_group .cc_qty_control_row {
          margin-bottom: 0; } }
    .cc_grid_container .cc_product_container .add_to_cart_group .qtyWarn {
      width: 242px; }
  .cc_grid_container .cc_product_container .cc_add_to_btnn {
    width: 100%; }
    @media only screen and (max-width: 991px) {
      .cc_grid_container .cc_product_container .cc_add_to_btnn {
        width: 200px; } }

.compareTray .cc_navbar-fixed-bottom {
  background-color: #f7f8f9; }

.compareTrayProd {
  background: transparent;
  box-shadow: none; }

.cc_compare_tray_name a {
  color: #415aa8cc; }

.cc_compare_tray_name p {
  color: #263238; }

.cc_compare_tray_controls {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cc_compare_tray_controls .cc_clear_compare {
    margin-top: 15px; }

h5.cc_spec_header {
  text-align: left; }

.qtyWarn {
  display: none;
  height: 36px;
  width: 261px;
  padding: 8px 10px;
  margin: 5px 0; }

.productCompareOuterContainer .table-responsive {
  margin-top: 0;
  padding: 10px; }
  .productCompareOuterContainer .table-responsive .compareCol {
    word-break: break-word; }
    .productCompareOuterContainer .table-responsive .compareCol:not(:first-child) {
      width: 162px; }
  .productCompareOuterContainer .table-responsive .compareAddToCol .control-label {
    width: 40px;
    height: 41px;
    padding-top: 15px; }

.productCompareOuterContainer .productCompareNameLink {
  font-weight: 600; }

.productCompareOuterContainer .productCompareNameLink,
.productCompareOuterContainer .cc_included_items {
  color: #415aa8cc; }

.productCompareOuterContainer .compareBasicInfo {
  margin-top: 15px; }
  .productCompareOuterContainer .compareBasicInfo .qtyWarn {
    width: 160px;
    padding: 8px 2px; }

.productCompareOuterContainer .cc_compare_add_info_row {
  display: none; }

.productCompareOuterContainer .cc_compare_addto_col {
  padding: 10px 5px; }

.productCompareOuterContainer .cc_wish_finder {
  display: flex;
  flex-direction: column; }
  .productCompareOuterContainer .cc_wish_finder .cc_cart_add_button,
  .productCompareOuterContainer .cc_wish_finder .cc_add_to_cart_btn {
    width: 100%; }
  .productCompareOuterContainer .cc_wish_finder .cc_cart_add_button {
    max-width: 160px;
    margin-bottom: 15px; }
    .productCompareOuterContainer .cc_wish_finder .cc_cart_add_button .cc_add_to_cart_btn {
      font-size: 1rem; }

.productCompareOuterContainer .gp_quantity_block .form-group {
  margin-left: 0; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .productCompareOuterContainer .productCompareImage {
    width: 70%; } }

@media only screen and (max-width: 991px) {
  .my-account-wrap .cc_main_row {
    display: flex;
    flex-direction: column; }
  .my-account-wrap .cc_main_content_col {
    order: 1; }
  .my-account-wrap .cc_right_col {
    text-align: center; } }

.acctmainSection {
  padding: 0; }
  .acctmainSection select {
    padding: 5px; }

.cc_search_order_form .form-control, .cc_search_order_form .cc_input-group #searchText, .cc_input-group .cc_search_order_form #searchText {
  height: 31px; }

.cc_order_search_table .cc_button_group input,
.cc_order_search_table .cc_button_group button {
  margin: 1px; }

.cc_order_search_table .cc_button_group a.btn, .cc_order_search_table .cc_button_group .cc_myaccount_orders_modal a.closeModal, .cc_myaccount_orders_modal .cc_order_search_table .cc_button_group a.closeModal,
.cc_order_search_table .cc_button_group .cc_myaccount_orders_modal a.ordercancel, .cc_myaccount_orders_modal .cc_order_search_table .cc_button_group a.ordercancel {
  padding: 3px;
  text-decoration: underline; }

.cc_shopping_cart_table .cc_button_group {
  white-space: nowrap; }

.cc_edit_account_form #userPhone-error {
  display: block;
  text-align: right;
  color: #df0017;
  text-transform: initial;
  font-weight: 400; }

.cc_wishlist_item {
  margin: 5px auto; }

.cart_item.wishFinder.cc_wish_finder .qtyWarn {
  width: 100%; }

.datepicker-days .dow {
  width: auto; }

.searchOrderForm {
  display: flex;
  justify-content: space-evenly; }
  .searchOrderForm .form-group {
    width: 25%; }
    .searchOrderForm .form-group label {
      line-height: 30px; }
    .searchOrderForm .form-group.date {
      width: 30%;
      margin-left: 10px; }
      .searchOrderForm .form-group.date .input-group {
        width: 75%; }
  @media only screen and (max-width: 767px) {
    .searchOrderForm {
      flex-wrap: wrap; }
      .searchOrderForm .form-group,
      .searchOrderForm .form-group.date {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .searchOrderForm .form-group .input-group,
        .searchOrderForm .form-group.date .input-group {
          width: 85%; } }
  .searchOrderForm .btn-default.btn-sm.make-default-btn, .searchOrderForm .cc_myaccount_orders_modal .btn-sm.make-default-btn.closeModal, .cc_myaccount_orders_modal .searchOrderForm .btn-sm.make-default-btn.closeModal,
  .searchOrderForm .cc_myaccount_orders_modal .btn-sm.make-default-btn.ordercancel, .cc_myaccount_orders_modal .searchOrderForm .btn-sm.make-default-btn.ordercancel {
    padding: 1px 5px;
    height: auto;
    margin: 1px; }
  .searchOrderForm #quotesTable a.btn, .searchOrderForm #quotesTable .cc_myaccount_orders_modal a.closeModal, .cc_myaccount_orders_modal .searchOrderForm #quotesTable a.closeModal,
  .searchOrderForm #quotesTable .cc_myaccount_orders_modal a.ordercancel, .cc_myaccount_orders_modal .searchOrderForm #quotesTable a.ordercancel {
    padding: 3px;
    text-decoration: underline; }
  .searchOrderForm .cc_myaccount_orders_modal .modal-footer {
    display: flex; }
    .searchOrderForm .cc_myaccount_orders_modal .modal-footer .closeModal {
      order: 1;
      margin-left: auto; }

.cc_myaccount_orders_modal .modal-footer {
  display: flex; }
  .cc_myaccount_orders_modal .modal-footer .closeModal {
    order: 1;
    margin-left: auto; }

.cartContainer .cart-title-container {
  display: flex;
  justify-content: space-between; }

.cartContainer .cart-actions-container {
  display: flex;
  justify-content: flex-end;
  padding: 0px; }
  .cartContainer .cart-actions-container > * {
    display: inline-block;
    margin: auto 0px auto 10px;
    line-height: 30px; }

.cartContainer .cart_item {
  border-bottom: 2px solid #b0bec5; }
  .cartContainer .cart_item:first-child {
    border-top: 2px solid #b0bec5; }
  @media only screen and (max-width: 991px) {
    .cartContainer .cart_item .cc_item_title {
      margin-top: 1.5rem; } }
  @media only screen and (max-width: 991px) {
    .cartContainer .cart_item .cc_item_title,
    .cartContainer .cart_item .cc_sku,
    .cartContainer .cart_item .cart-links {
      text-align: center; } }
  .cartContainer .cart_item .wishlist-success {
    margin: 0; }
    .cartContainer .cart_item .wishlist-success p {
      white-space: nowrap; }
  @media only screen and (max-width: 991px) {
    .cartContainer .cart_item .price_block.cc_price_block {
      text-align: center; } }

.cartContainer .item-actions {
  display: flex;
  justify-content: flex-start; }
  @media only screen and (max-width: 991px) {
    .cartContainer .item-actions {
      justify-content: center; } }
  .cartContainer .item-actions > * {
    display: block;
    margin: auto 0px;
    padding: 0px 3%; }
    .cartContainer .item-actions > *:first-child {
      padding-left: 0px; }
      .cartContainer .item-actions > *:first-child .form-group {
        margin: 0px; }
  .cartContainer .item-actions .deleteItem, .cartContainer .item-actions .deleteItem:link, .cartContainer .item-actions .deleteItem:visited,
  .cartContainer .item-actions .updateCartButton,
  .cartContainer .item-actions .updateCartButton:link,
  .cartContainer .item-actions .updateCartButton:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    border-right: 2px solid #90a4ae;
    cursor: pointer; }
  .cartContainer .item-actions .deleteItem.isDisabled,
  .cartContainer .item-actions .updateCartButton.isDisabled {
    cursor: not-allowed; }
    .cartContainer .item-actions .deleteItem.isDisabled:hover,
    .cartContainer .item-actions .updateCartButton.isDisabled:hover {
      color: #007aff; }
  .cartContainer .item-actions .add-wishlist-link {
    margin: 0px; }

.cartContainer #usersDropdown {
  flex-basis: 80%; }
  @media only screen and (max-width: 991px) {
    .cartContainer #usersDropdown {
      flex-basis: 100%; } }
  @media only screen and (max-width: 767px) {
    .cartContainer #usersDropdown #dropdownMenuUsers {
      font-size: 0.92rem; } }

.cartContainer .cc_rfq_link_button {
  display: none; }

.cartContainer .shareWithUser:hover {
  cursor: pointer;
  background-color: #90a4ae;
  color: #fff; }

.cartContainer .cc_cart_sort {
  margin-bottom: 1rem; }
  .cartContainer .cc_cart_sort .sort_text {
    margin-right: 10px; }
  .cartContainer .cc_cart_sort .cc_cart_sort_item:not(:last-child) {
    margin-right: 3px; }

.cartContainer .userSelected {
  background-color: #b0bec5;
  color: #fff; }

.cartContainer .svgShare {
  overflow: visible; }

.cartContainer #person-table {
  width: 100%; }

.cartContainer .cart-links {
  margin: 10px 0 5px; }
  .cartContainer .cart-links a, .cartContainer .cart-links #additionalInfoLink {
    font-size: 0.85rem; }

.cartContainer .input-group {
  width: 125px;
  float: right; }
  .cartContainer .input-group .input-text {
    width: 76px;
    height: 30px;
    line-height: 1; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cartContainer .input-group .input-text {
      line-height: 0.7; } }

.cartContainer .grand_total p,
.cartContainer .cart_adjustment p,
.cartContainer .total_amount p {
  margin-bottom: 15px;
  color: #000; }

.cartContainer .cc_grand_total p {
  font-size: 1.24rem; }

.cartContainer .total_amount p {
  font-size: 1.36rem;
  margin-bottom: 2rem; }

.cartContainer .cart_legal_lext {
  margin-top: 2rem; }

.cartContainer + .featured-prod .product_details {
  display: flex;
  flex-direction: column;
  width: 23%;
  text-align: center; }

.cartContainer + .featured-prod .related-product-image-container {
  height: 200px;
  width: 200px;
  margin: 0 auto; }
  .cartContainer + .featured-prod .related-product-image-container .cc_product_name_img,
  .cartContainer + .featured-prod .related-product-image-container .img-responsive {
    height: 100% !important; }

.cartContainer + .featured-prod .related-product-details-container {
  float: bottom; }

.shareModal {
  width: 50%; }

.actionsRow {
  display: flex;
  justify-content: space-evenly; }
  @media only screen and (max-width: 991px) {
    .actionsRow {
      flex-wrap: wrap; } }

@media only screen and (max-width: 991px) {
  .actionsRow {
    text-align: center; }
    .actionsRow .col-md-2 {
      min-width: 320px;
      width: 80%;
      margin: auto;
      padding: 0; }
  #share {
    margin: 0 auto; }
  .shareModal {
    min-width: 345px;
    margin: 15px auto; }
    .shareModal .modal-content {
      padding: 20px 5px; }
  .cartContainer + .featured-prod .related-product-image-container {
    width: 80%;
    height: auto;
    margin: 0 auto 20px; }
  .cartContainer + .featured-prod .cc_product_name_img {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin: 0; }
  .cartContainer + .featured-prod .img-responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; } }

@media only screen and (max-width: 580px) {
  .cartContainer .d-flex {
    display: block; }
  .cartContainer .row {
    margin: 0; }
  .cartContainer .cart-actions-container {
    flex-direction: column;
    justify-content: space-between;
    height: 140px; }
  .cartContainer .item_title,
  .cartContainer .sku {
    text-align: center; }
  .cartContainer .item-actions {
    flex-direction: column;
    align-items: center; }
    .cartContainer .item-actions > * {
      padding: 5px 3%; }
    .cartContainer .item-actions .removeItemButton, .cartContainer .item-actions .removeItemButton:link, .cartContainer .item-actions .removeItemButton:visited,
    .cartContainer .item-actions .updateCartButton,
    .cartContainer .item-actions .updateCartButton:link,
    .cartContainer .item-actions .updateCartButton:visited {
      border: none; }
    .cartContainer .item-actions .add-wishlist-link {
      text-align: center; }
  .cartContainer + .featured-prod .product_details {
    width: 100%;
    border-bottom: 1px solid #b0bec5;
    padding: 0 20%;
    margin: 0 auto 20px; } }

@media only screen and (max-width: 340px) {
  .actionsRow {
    width: 100%;
    margin: auto; }
    .actionsRow .col-md-2 {
      padding-left: 0px;
      min-width: 286px;
      margin: 0; }
  .shareModal {
    min-width: 300px; }
    .shareModal .modal-body {
      padding: 2px; }
    .shareModal .modal-content {
      padding: 20px 5px; }
  .cartContainer #usersDropdown {
    min-width: 286px; }
  #usersDropdown .user-glyph {
    display: none; }
  #dropdownMenuUsers {
    border-left: 1px solid #607d8b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%; } }

#request_for_quote .col_inner_wrap {
  padding: 20px;
  border: 1px solid #cfd8dc; }

#request_for_quote .rfq_history_link {
  font-family: "RubikMedium", sans-serif !important; }
  #request_for_quote .rfq_history_link i {
    margin-right: -5px;
    font-weight: 600; }

#request_for_quote .rfq_page_heading {
  margin: 20px 0;
  text-transform: capitalize; }

@media only screen and (max-width: 991px) {
  #request_for_quote .product_name {
    margin-top: 2rem; } }

#request_for_quote .products_title {
  margin-bottom: 20px;
  font-weight: 500; }

#request_for_quote .product_link {
  font-family: "RubikMedium", sans-serif !important;
  text-transform: uppercase; }

#request_for_quote .product_details p {
  font-family: "RubikMedium", sans-serif !important;
  color: #263238; }

#request_for_quote .bottom_line {
  margin: 20px -20px;
  border-bottom: 1px solid #cfd8dc; }

#request_for_quote .rfq_label {
  text-transform: uppercase; }

#request_for_quote .rfq_value:not(.quote_status) {
  font-family: "RubikMedium", sans-serif !important;
  color: #263238; }

#request_for_quote .rfq_product_summary div:not(:last-child),
#request_for_quote .rfq_details div:not(:last-child) {
  margin-bottom: 10px; }

#request_for_quote .quote_requested,
#request_for_quote .quote_inprogress {
  color: #ff9500; }

#request_for_quote .quote_available {
  color: #4cd964; }

#request_for_quote .quote_declined {
  color: #df0017; }

#request_for_quote .download_quote_btn .svg_export {
  width: 15px;
  height: 15px;
  margin-right: 6px; }

#request_for_quote .download_quote_btn span {
  line-height: normal;
  text-transform: capitalize; }

#request_for_quote .convert_to_cart_btn {
  width: 100%; }

#osf_contactus_container .form-file {
  position: relative; }
  #osf_contactus_container .form-file .add-more-btn {
    position: absolute;
    cursor: pointer;
    top: 25%;
    left: 105%;
    white-space: nowrap; }

#osf_contactus_container .file-uploaded:disabled {
  background-color: #fff;
  cursor: default; }

#osf_contactus_container #file-changed {
  color: #fff;
  border: solid #90a4ae 1px;
  background-color: #90a4ae;
  border-radius: 4px;
  padding: 10px 20px;
  padding-bottom: 9px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  transition: 0.5s all; }
  #osf_contactus_container #file-changed:hover {
    background-color: #455a64; }

#osf_contactus_container .submit-btn {
  width: 99px;
  height: 41px;
  font-weight: bold; }
  #osf_contactus_container .submit-btn-wrap {
    padding: 0; }
    #osf_contactus_container .submit-btn-wrap .uploadButton {
      font-size: 14px !important;
      color: #fff; }
  #osf_contactus_container .submit-btn-hr {
    border-top: 1px solid #607d8b;
    margin: 2rem 0 1rem 0; }

#osf_contactus_container #feedback-error {
  color: #df0017; }

#osf_contactus_container .att-error {
  color: #df0017; }

#osf_contactus_container .upload-success {
  position: absolute;
  top: 25%;
  left: 105%;
  white-space: nowrap; }

#osf_contactus_container .corporate-info_title {
  margin-bottom: 3rem; }

@media only screen and (max-width: 991px) {
  #osf_contactus_container .corporate-info_col {
    margin-bottom: 1.5rem; } }

#osf_contactus_container .corporate-info_col h4 {
  color: #000;
  text-transform: none; }

.tac_title {
  font-family: "RubikRegular", sans-serif !important;
  font-size: 1rem;
  color: #607d8b;
  font-weight: 600;
  text-align: left;
  text-transform: unset; }

.tac_text {
  margin: 2.5rem 0; }

#order-details h5 {
  text-align: left;
  font-size: 1rem;
  font-family: "RubikMedium", sans-serif !important;
  margin-bottom: 10px; }

#order-details .cc_order_history {
  font-family: "RubikMedium", sans-serif !important;
  text-transform: uppercase; }
  #order-details .cc_order_history i {
    margin-right: -5px;
    font-weight: 600; }

#order-details .col_inner_wrap {
  padding: 10px;
  border: 1px solid #cfd8dc; }

#order-details .first-col .col_inner_wrap:not(:last-child) {
  margin-bottom: 10px; }
  #order-details .first-col .col_inner_wrap:not(:last-child) .panel-collapse {
    padding-top: 15px; }

#order-details .cc_buyer,
#order-details .address_selection_display,
#order-details .cc_shipping_method_section,
#order-details .cc_payment_information_transaction_payments {
  color: #263238; }

#order-details .address_selection_display span {
  display: inline-block;
  margin-bottom: 5px; }

#order-details .order-details_page_heading {
  margin: 20px 0;
  text-transform: capitalize; }

#order-details .products_title {
  margin-bottom: 20px; }

#order-details .buyer-info-section:not(:last-child) {
  margin-bottom: 25px; }

#order-details .cc_addr_name,
#order-details .cc_addr_company {
  display: none; }

@media only screen and (max-width: 991px) {
  #order-details .cc_item_title {
    margin-top: 2rem; } }

#order-details .cc_item_title .cc_prod_link {
  font-family: "RubikMedium", sans-serif !important;
  font-weight: 500;
  text-transform: uppercase; }

#order-details .price.cc_price p, #order-details .price.cc_price .cc_price {
  font-family: "RubikMedium", sans-serif !important;
  color: #263238; }

#order-details .bottom_line {
  margin: 10px -10px;
  border-bottom: 1px solid #cfd8dc; }

#order-details .od_label {
  text-transform: uppercase; }

#order-details .od_value:not(.order_status) {
  font-family: "RubikMedium", sans-serif !important;
  color: #263238; }

#order-details .cc_totals_section div:not(:last-child),
#order-details .order-info_details div:not(:last-child) {
  margin-bottom: 10px; }

#order-details .order_status {
  color: #ff9500; }
  #order-details .order_status.order_failure {
    color: #df0017; }
  #order-details .order_status.order_success {
    color: #4cd964; }

#order-details .download_quote_btn .svg_export,
#order-details .download_soa .svg_export,
#order-details .download_po .svg_export {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  pointer-events: none; }

#order-details .download_quote_btn span,
#order-details .download_soa span,
#order-details .download_po span {
  line-height: normal;
  text-transform: capitalize; }

#order-details .actions_row {
  margin-top: 2.5rem; }
  #order-details .actions_row .reject_quote {
    background: #df0017; }
  #order-details .actions_row input {
    flex-basis: 45%;
    margin: 5px 2px; }

#order-details .chat {
  height: 455px; }

