.adv-cookie {
    background-color: #ffffff;
    padding-bottom: 15px;
    padding-top: 15px;
}

.adv-cookie__container {
    margin: 0 auto;
    max-width: 1140px;
}

.adv-cookie__logo {
    max-width: 100px;
    padding: 0 8px 0 0;
    vertical-align: middle;
    width: 100%;
}

.adv-cookie__description-title {
    color: #555555;
    font-size: 23px;
    line-height: 26px;
    word-break: break-all;
}

.adv-cookie__description-text {
    color: #555555;
    font-size: 14px;
    line-height: 17.5px;
}

.adv-cookie__actions .adv-cookie__actions-item {
    font-size: 14px;
    line-height: 17.5px;
    margin: 13.125px 0;
    text-align: center;
}

.adv-cookie__actions .adv-cookie__actions-item a {
    cursor: pointer;
    color: #a00245;
    font-size: 10.5px;
    text-decoration: none;
}

.adv-cookie__actions .adv-cookie__actions-item a.adv-cookie__actions-btn {
    background: #a00245;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 17.5px;
    padding: 13.25px 35px;
    text-decoration: none;
    transition: background-color 125ms linear;
    width: 100%;
}

.adv-cookie__actions .adv-cookie__actions-item a.adv-cookie__actions-btn--refuse {
    background: #f7f7f7;
    border-radius: 4px;
    color: #555;
    font-size: 12.25px;
}

.adv-cookie__actions .adv-cookie__actions-item a.adv-cookie__actions-btn--refuse:hover {
    background: #e6e6e6;
}

.adv-cookie__actions .adv-cookie__actions-item--legal a {
    color: #aaaaaa;
    font-size: 10.5px;
    line-height: 13.125px;
}

.separator::before {
    content: "|";
    display: inline-block;
    margin: 0 2px;
    color: #aaaaaa;
}

.slds-col {
    padding-left: 15px;
    padding-right: 15px;
}


/* BORLABS COOKIE ZIMETU */

.BorlabsCookie * {
    box-sizing: border-box
}

.BorlabsCookie *::before,.BorlabsCookie *::after {
    box-sizing: inherit
}

.BorlabsCookie * div,.BorlabsCookie * span,.BorlabsCookie * h1,.BorlabsCookie * h2,.BorlabsCookie * h3,.BorlabsCookie * h4,.BorlabsCookie * h5,.BorlabsCookie * h6,.BorlabsCookie * p,.BorlabsCookie * a,.BorlabsCookie * em,.BorlabsCookie * img,.BorlabsCookie * small,.BorlabsCookie * strike,.BorlabsCookie * strong,.BorlabsCookie * sub,.BorlabsCookie * sup,.BorlabsCookie * b,.BorlabsCookie * u,.BorlabsCookie * i,.BorlabsCookie * center,.BorlabsCookie * ol,.BorlabsCookie * ul,.BorlabsCookie * li,.BorlabsCookie * fieldset,.BorlabsCookie * form,.BorlabsCookie * label,.BorlabsCookie * legend {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.borlabs-hide {
    display: none
}

.borlabs-position-fix {
    position: initial !important;
    transform: unset !important
}

._brlbs-btn-cookie-preference {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: .5em 1em;
    text-decoration: none;
    transition: background-color 125ms linear
}

.BorlabsCookie ._brlbs-cursor {
    cursor: pointer
}

.BorlabsCookie .text-left {
    text-align: left !important
}

.BorlabsCookie .text-center {
    text-align: center !important
}

.BorlabsCookie .text-right {
    text-align: right !important
}

.BorlabsCookie table._brlbs th {
    text-align: left
}

.BorlabsCookie table._brlbs td,.BorlabsCookie table._brlbs th {
    padding: .3rem
}

.BorlabsCookie ._brlbs-responsive-table {
    min-height: .01%;
    overflow: auto
}

.BorlabsCookie label._brlbs-focused {
    outline: Highlight;
    outline-color: -webkit-focus-ring-color;
    outline-style: solid;
    outline-width: 2px
}

.BorlabsCookie .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0
}

.BorlabsCookie .sr-only-focusable:active,.BorlabsCookie .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal
}

.BorlabsCookie .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media(min-width: 576px) {
    .BorlabsCookie .container {
        max-width:540px
    }
}

@media(min-width: 768px) {
    .BorlabsCookie .container {
        max-width:720px
    }
}

@media(min-width: 992px) {
    .BorlabsCookie .container {
        max-width:960px
    }
}

@media(min-width: 1200px) {
    .BorlabsCookie .container {
        max-width:1140px
    }
}

.BorlabsCookie .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.BorlabsCookie .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.BorlabsCookie .no-gutters {
    margin-right: 0;
    margin-left: 0
}

.BorlabsCookie .no-gutters>.col,.BorlabsCookie .no-gutters>[class*=col-] {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.BorlabsCookie .col-xl,.BorlabsCookie .col-xl-12,.BorlabsCookie .col-xl-11,.BorlabsCookie .col-xl-10,.BorlabsCookie .col-xl-9,.BorlabsCookie .col-xl-8,.BorlabsCookie .col-xl-7,.BorlabsCookie .col-xl-6,.BorlabsCookie .col-xl-5,.BorlabsCookie .col-xl-4,.BorlabsCookie .col-xl-3,.BorlabsCookie .col-xl-2,.BorlabsCookie .col-xl-1,.BorlabsCookie .col-lg,.BorlabsCookie .col-lg-12,.BorlabsCookie .col-lg-11,.BorlabsCookie .col-lg-10,.BorlabsCookie .col-lg-9,.BorlabsCookie .col-lg-8,.BorlabsCookie .col-lg-7,.BorlabsCookie .col-lg-6,.BorlabsCookie .col-lg-5,.BorlabsCookie .col-lg-4,.BorlabsCookie .col-lg-3,.BorlabsCookie .col-lg-2,.BorlabsCookie .col-lg-1,.BorlabsCookie .col-md,.BorlabsCookie .col-md-12,.BorlabsCookie .col-md-11,.BorlabsCookie .col-md-10,.BorlabsCookie .col-md-9,.BorlabsCookie .col-md-8,.BorlabsCookie .col-md-7,.BorlabsCookie .col-md-6,.BorlabsCookie .col-md-5,.BorlabsCookie .col-md-4,.BorlabsCookie .col-md-3,.BorlabsCookie .col-md-2,.BorlabsCookie .col-md-1,.BorlabsCookie .col-sm,.BorlabsCookie .col-sm-12,.BorlabsCookie .col-sm-11,.BorlabsCookie .col-sm-10,.BorlabsCookie .col-sm-9,.BorlabsCookie .col-sm-8,.BorlabsCookie .col-sm-7,.BorlabsCookie .col-sm-6,.BorlabsCookie .col-sm-5,.BorlabsCookie .col-sm-4,.BorlabsCookie .col-sm-3,.BorlabsCookie .col-sm-2,.BorlabsCookie .col-sm-1,.BorlabsCookie .col,.BorlabsCookie .col-12,.BorlabsCookie .col-11,.BorlabsCookie .col-10,.BorlabsCookie .col-9,.BorlabsCookie .col-8,.BorlabsCookie .col-7,.BorlabsCookie .col-6,.BorlabsCookie .col-5,.BorlabsCookie .col-4,.BorlabsCookie .col-3,.BorlabsCookie .col-2,.BorlabsCookie .col-1 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px !important;
    padding-left: 15px !important
}

.BorlabsCookie .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.BorlabsCookie .col-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%
}

.BorlabsCookie .col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%
}

.BorlabsCookie .col-3 {
    flex: 0 0 25%;
    max-width: 25%
}

.BorlabsCookie .col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%
}

.BorlabsCookie .col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%
}

.BorlabsCookie .col-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.BorlabsCookie .col-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%
}

.BorlabsCookie .col-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%
}

.BorlabsCookie .col-9 {
    flex: 0 0 75%;
    max-width: 75%
}

.BorlabsCookie .col-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%
}

.BorlabsCookie .col-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%
}

.BorlabsCookie .col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

@media(min-width: 576px) {
    .BorlabsCookie .col-sm {
        flex-basis:0;
        flex-grow: 1;
        max-width: 100%
    }

    .BorlabsCookie .col-sm-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .BorlabsCookie .col-sm-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .BorlabsCookie .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .BorlabsCookie .col-sm-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .BorlabsCookie .col-sm-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .BorlabsCookie .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .BorlabsCookie .col-sm-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .BorlabsCookie .col-sm-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .BorlabsCookie .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .BorlabsCookie .col-sm-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .BorlabsCookie .col-sm-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .BorlabsCookie .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media(min-width: 768px) {
    .BorlabsCookie .col-md {
        flex-basis:0;
        flex-grow: 1;
        max-width: 100%
    }

    .BorlabsCookie .col-md-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .BorlabsCookie .col-md-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .BorlabsCookie .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .BorlabsCookie .col-md-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .BorlabsCookie .col-md-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .BorlabsCookie .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .BorlabsCookie .col-md-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .BorlabsCookie .col-md-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .BorlabsCookie .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .BorlabsCookie .col-md-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .BorlabsCookie .col-md-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .BorlabsCookie .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media(min-width: 992px) {
    .BorlabsCookie .col-lg {
        flex-basis:0;
        flex-grow: 1;
        max-width: 100%
    }

    .BorlabsCookie .col-lg-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .BorlabsCookie .col-lg-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .BorlabsCookie .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .BorlabsCookie .col-lg-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .BorlabsCookie .col-lg-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .BorlabsCookie .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .BorlabsCookie .col-lg-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .BorlabsCookie .col-lg-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .BorlabsCookie .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .BorlabsCookie .col-lg-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .BorlabsCookie .col-lg-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .BorlabsCookie .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media(min-width: 1200px) {
    .BorlabsCookie .col-xl {
        flex-basis:0;
        flex-grow: 1;
        max-width: 100%
    }

    .BorlabsCookie .col-xl-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .BorlabsCookie .col-xl-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .BorlabsCookie .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .BorlabsCookie .col-xl-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .BorlabsCookie .col-xl-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .BorlabsCookie .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .BorlabsCookie .col-xl-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .BorlabsCookie .col-xl-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .BorlabsCookie .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .BorlabsCookie .col-xl-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .BorlabsCookie .col-xl-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .BorlabsCookie .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

.BorlabsCookie .d-block {
    display: block !important
}

.BorlabsCookie .d-flex {
    display: flex !important
}

@media(min-width: 576px) {
    .BorlabsCookie .d-sm-block {
        display:block !important
    }

    .BorlabsCookie .d-sm-flex {
        display: flex !important
    }
}

@media(min-width: 768px) {
    .BorlabsCookie .d-md-block {
        display:block !important
    }

    .BorlabsCookie .d-md-flex {
        display: flex !important
    }
}

@media(min-width: 992px) {
    .BorlabsCookie .d-lg-block {
        display:block !important
    }

    .BorlabsCookie .d-lg-flex {
        display: flex !important
    }
}

@media(min-width: 1200px) {
    .BorlabsCookie .d-xl-block {
        display:block !important
    }

    .BorlabsCookie .d-xl-flex {
        display: flex !important
    }
}

.BorlabsCookie .flex-row {
    flex-direction: row !important
}

.BorlabsCookie .flex-fill {
    flex: 1 1 auto !important
}

.BorlabsCookie .justify-content-between {
    justify-content: space-between !important
}

.BorlabsCookie .align-items-start {
    align-items: flex-start !important
}

.BorlabsCookie .align-items-end {
    align-items: flex-end !important
}

.BorlabsCookie .align-items-center {
    align-items: center !important
}

.BorlabsCookie .align-items-baseline {
    align-items: baseline !important
}

.BorlabsCookie .align-items-stretch {
    align-items: stretch !important
}

@media(min-width: 576px) {
    .BorlabsCookie .flex-sm-row {
        flex-direction:row !important
    }

    .BorlabsCookie .flex-sm-fill {
        flex: 1 1 auto !important
    }

    .BorlabsCookie .justify-content-sm-between {
        justify-content: space-between !important
    }

    .BorlabsCookie .align-items-sm-start {
        align-items: flex-start !important
    }

    .BorlabsCookie .align-items-sm-end {
        align-items: flex-end !important
    }

    .BorlabsCookie .align-items-sm-center {
        align-items: center !important
    }

    .BorlabsCookie .align-items-sm-baseline {
        align-items: baseline !important
    }

    .BorlabsCookie .align-items-sm-stretch {
        align-items: stretch !important
    }
}

@media(min-width: 768px) {
    .BorlabsCookie .flex-md-row {
        flex-direction:row !important
    }

    .BorlabsCookie .flex-md-fill {
        flex: 1 1 auto !important
    }

    .BorlabsCookie .justify-content-md-between {
        justify-content: space-between !important
    }

    .BorlabsCookie .align-items-md-start {
        align-items: flex-start !important
    }

    .BorlabsCookie .align-items-md-end {
        align-items: flex-end !important
    }

    .BorlabsCookie .align-items-md-center {
        align-items: center !important
    }

    .BorlabsCookie .align-items-md-baseline {
        align-items: baseline !important
    }

    .BorlabsCookie .align-items-md-stretch {
        align-items: stretch !important
    }
}

@media(min-width: 992px) {
    .BorlabsCookie .flex-lg-row {
        flex-direction:row !important
    }

    .BorlabsCookie .flex-lg-fill {
        flex: 1 1 auto !important
    }

    .BorlabsCookie .justify-content-lg-between {
        justify-content: space-between !important
    }

    .BorlabsCookie .align-items-lg-start {
        align-items: flex-start !important
    }

    .BorlabsCookie .align-items-lg-end {
        align-items: flex-end !important
    }

    .BorlabsCookie .align-items-lg-center {
        align-items: center !important
    }

    .BorlabsCookie .align-items-lg-baseline {
        align-items: baseline !important
    }

    .BorlabsCookie .align-items-lg-stretch {
        align-items: stretch !important
    }
}

@media(min-width: 1200px) {
    .BorlabsCookie .flex-xl-row {
        flex-direction:row !important
    }

    .BorlabsCookie .flex-xl-fill {
        flex: 1 1 auto !important
    }

    .BorlabsCookie .justify-content-xl-between {
        justify-content: space-between !important
    }

    .BorlabsCookie .align-items-xl-start {
        align-items: flex-start !important
    }

    .BorlabsCookie .align-items-xl-end {
        align-items: flex-end !important
    }

    .BorlabsCookie .align-items-xl-center {
        align-items: center !important
    }

    .BorlabsCookie .align-items-xl-baseline {
        align-items: baseline !important
    }

    .BorlabsCookie .align-items-xl-stretch {
        align-items: stretch !important
    }
}

.BorlabsCookie .w-25 {
    width: 25% !important
}

.BorlabsCookie .w-50 {
    width: 50% !important
}

.BorlabsCookie .w-75 {
    width: 75% !important
}

.BorlabsCookie .w-100 {
    width: 100% !important
}

.BorlabsCookie .w-auto {
    width: auto !important
}

.BorlabsCookie .h-25 {
    height: 25% !important
}

.BorlabsCookie .h-50 {
    height: 50% !important
}

.BorlabsCookie .h-75 {
    height: 75% !important
}

.BorlabsCookie .h-100 {
    height: 100% !important
}

.BorlabsCookie .h-auto {
    height: auto !important
}

.BorlabsCookie .mw-100 {
    max-width: 100% !important
}

.BorlabsCookie .mh-100 {
    max-height: 100% !important
}

.BorlabsCookie .min-vw-100 {
    min-width: 100vw !important
}

.BorlabsCookie .min-vh-100 {
    min-height: 100vh !important
}

.BorlabsCookie .vw-100 {
    width: 100vw !important
}

.BorlabsCookie .vh-100 {
    height: 100vh !important
}

.BorlabsCookie .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.BorlabsCookie .animated.infinite {
    animation-iteration-count: infinite
}

.BorlabsCookie .animated.delay-1s {
    animation-delay: 1s
}

.BorlabsCookie .animated.delay-2s {
    animation-delay: 2s
}

.BorlabsCookie .animated.delay-3s {
    animation-delay: 3s
}

.BorlabsCookie .animated.delay-4s {
    animation-delay: 4s
}

.BorlabsCookie .animated.delay-5s {
    animation-delay: 5s
}

.BorlabsCookie .animated.fast {
    animation-duration: 800ms
}

.BorlabsCookie .animated.faster {
    animation-duration: 500ms
}

.BorlabsCookie .animated.slow {
    animation-duration: 2s
}

.BorlabsCookie .animated.slower {
    animation-duration: 3s
}

@media(print),(prefers-reduced-motion) {
    .BorlabsCookie .animated {
        animation: unset !important;
        transition: none !important
    }
}

.BorlabsCookie._brlbs-switch-consent {
    align-items: center;
    display: flex;
    font-size: inherit
}

.BorlabsCookie._brlbs-switch-consent ._brlbs-btn-switch--textRight {
    margin-right: 2em
}

.BorlabsCookie ._brlbs-title {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0
}

.BorlabsCookie ._brlbs-title::before {
    content: "|";
    display: inline-block;
    margin: 0 .25rem 0 0
}

.BorlabsCookie ._brlbs-checkbox {
    color: inherit;
    cursor: pointer;
    display: block;
    padding-left: 2em;
    position: relative
}

.BorlabsCookie ._brlbs-checkbox input {
    position: absolute;
    opacity: 0;
    width: auto;
    z-index: -1
}

.BorlabsCookie ._brlbs-checkbox input:checked~._brlbs-checkbox-indicator::after {
    opacity: 1
}

.BorlabsCookie ._brlbs-checkbox input:disabled~._brlbs-checkbox-indicator::after {
    opacity: 1
}

.BorlabsCookie ._brlbs-checkbox ._brlbs-checkbox-indicator {
    border-style: solid;
    border-width: 2px;
    padding: 0 !important;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    transition: .25s
}

.BorlabsCookie ._brlbs-checkbox ._brlbs-checkbox-indicator::after {
    content: "";
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-radius: 1px;
    position: absolute;
    left: 5px;
    top: 1px;
    height: 11px;
    width: 6px;
    transform: rotate(45deg);
    opacity: 0
}

.BorlabsCookie ._brlbs-btn-switch {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 50px;
    height: 26px;
    vertical-align: middle
}

.BorlabsCookie ._brlbs-btn-switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.BorlabsCookie ._brlbs-btn-switch input:checked+._brlbs-slider {
    background-color: #2295f3
}

.BorlabsCookie ._brlbs-btn-switch input:checked+._brlbs-slider:before {
    transform: translateX(24px)
}

.BorlabsCookie ._brlbs-btn-switch ._brlbs-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbc0c7;
    -webkit-transition: .4s;
    transition: .4s
}

.BorlabsCookie ._brlbs-btn-switch ._brlbs-slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

.BorlabsCookie ._brlbs-btn-switch-status {
    position: absolute;
    top: 50%;
    right: calc(100% + 6px);
    transform: translateY(-50%)
}

.BorlabsCookie ._brlbs-btn-switch--textRight ._brlbs-btn-switch-status {
    right: auto;
    left: calc(100% + 6px)
}

.BorlabsCookie ._brlbs-btn-switch-status::before {
    content: attr(data-inactive);
    white-space: nowrap
}

.BorlabsCookie ._brlbs-btn-switch>input:checked~._brlbs-btn-switch-status::before {
    content: attr(data-active)
}

.BorlabsCookie.AdvCookie a:focus {
    outline: Highlight !important;
    outline-color: -webkit-focus-ring-color !important;
    outline-style: solid !important;
    outline-width: 2px !important
}

.BorlabsCookie.AdvCookie:not(._brlbs-keyboard) a:focus {
    outline: 0 !important
}

.BorlabsCookie.AdvCookie .animated {
    visibility: visible
}

.BorlabsCookie.AdvCookie .container {
    background: inherit;
    display: block;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
    position: inherit
}

.BorlabsCookie.AdvCookie ._brlbs-bar .container {
    max-height: 100vh;
    overflow: auto !important;
    width: auto !important
}

.BorlabsCookie.AdvCookie ._brlbs-box .container {
    max-height: 100vh;
    overflow: auto !important;
    width: auto !important
}

.BorlabsCookie.AdvCookie .container::before {
    display: initial
}

.BorlabsCookie.AdvCookie .container::after {
    content: " ";
    display: block;
    height: 2px
}

.BorlabsCookie.AdvCookie .container .row {
    background: inherit;
    color: inherit;
    display: flex;
    min-width: 1px;
    pointer-events: inherit;
    width: auto
}

.BorlabsCookie.AdvCookie .container .row.no-gutters {
    margin-left: 0;
    margin-right: 0
}

.BorlabsCookie.AdvCookie .container .row::before,.BorlabsCookie.AdvCookie .container .row::after {
    display: initial
}

.BorlabsCookie.AdvCookie .bcac-item {
    margin: .5em 0;
    padding: .5em
}

.BorlabsCookie.AdvCookie .bcac-item ._brlbs-h4 {
    font-size: 1.25em;
    margin: 0 0 .25em 0
}

.BorlabsCookie.AdvCookie .bcac-item p {
    font-size: .875em
}

.BorlabsCookie.AdvCookie .bcac-item p,.BorlabsCookie.AdvCookie .bcac-item span {
    color: inherit
}

.BorlabsCookie.AdvCookie>div {
    display: none
}

.BorlabsCookie.AdvCookie>div.show-cookie-box {
    display: flex
}

.BorlabsCookie.AdvCookie>div:not(._brlbs-block-content) {
    position: absolute;
    width: 100%;
    z-index: 999999
}

.BorlabsCookie.AdvCookie>div:not(._brlbs-block-content).top-left {
    top: 0
}

.BorlabsCookie.AdvCookie>div:not(._brlbs-block-content).top-center {
    top: 0
}

.BorlabsCookie.AdvCookie>div:not(._brlbs-block-content).top-right {
    top: 0
}

.BorlabsCookie.AdvCookie>div:not(._brlbs-block-content).middle-left {
    top: 50%
}

.BorlabsCookie.AdvCookie>div:not(._brlbs-block-content).middle-center {
    top: 50%
}

.BorlabsCookie.AdvCookie>div:not(._brlbs-block-content).middle-right {
    top: 50%
}

.BorlabsCookie.AdvCookie>div:not(._brlbs-block-content).bottom-left {
    bottom: 0
}

.BorlabsCookie.AdvCookie>div:not(._brlbs-block-content).bottom-center {
    bottom: 0
}

.BorlabsCookie.AdvCookie>div:not(._brlbs-block-content).bottom-right {
    bottom: 0
}

.BorlabsCookie.AdvCookie h3,.BorlabsCookie.AdvCookie ._brlbs-h3 {
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 1.625em;
    line-height: 1.125em;
    word-break: break-all
}

.BorlabsCookie.AdvCookie ul {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    list-style: none;
    margin: .9375em 0;
    padding: 0
}

.BorlabsCookie.AdvCookie ul li {
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.25em;
    list-style: none;
    margin: 0 .9375em .375em 0
}

.BorlabsCookie.AdvCookie ul li:last-child {
    margin: 0
}

.BorlabsCookie.AdvCookie ul li::before {
    content: "●";
    margin: 0 4px 0 0
}

.BorlabsCookie.AdvCookie p {
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.25em;
    margin: .9375em 0
}

.BorlabsCookie.AdvCookie p:last-child {
    margin: 0
}

.BorlabsCookie.AdvCookie ._brlbs-flex-center {
    display: flex;
    align-items: center;
    justify-content: center
}

.BorlabsCookie.AdvCookie ._brlbs-flex-center p {
    margin-bottom: 0
}

.BorlabsCookie.AdvCookie ._brlbs-actions {
    display: inline
}

.BorlabsCookie.AdvCookie ._brlbs-accept {
    font-family: inherit;
    text-align: center
}

.BorlabsCookie.AdvCookie ._brlbs-block-content {
    background: rgba(0,0,0,0);
    left: 0;
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 999999
}

.BorlabsCookie.AdvCookie ._brlbs-block-content._brlbs-bg-animation {
    transition: background-color 250ms linear
}

.BorlabsCookie.AdvCookie ._brlbs-block-content._brlbs-bg-dark {
    background: rgba(0,0,0,.6)
}

.BorlabsCookie.AdvCookie ._brlbs-branding {
    font-family: inherit;
    font-size: .75em;
    margin: 0
}

.BorlabsCookie.AdvCookie ._brlbs-branding a {
    text-decoration: none
}

.BorlabsCookie.AdvCookie ._brlbs-branding img {
    display: inline-block;
    max-height: 16px;
    max-width: 16px;
    vertical-align: middle
}

.BorlabsCookie.AdvCookie ._brlbs-btn {
    display: inline-block;
    font-family: inherit;
    font-size: 1.25em;
    padding: .75em 2em;
    text-decoration: none;
    transition: background-color 125ms linear
}

.BorlabsCookie.AdvCookie .cookie-logo {
    max-width: 48px;
    padding: 0 8px 0 0;
    vertical-align: middle;
    width: 100%
}

.BorlabsCookie.AdvCookie ._brlbs-legal {
    font-family: inherit;
    font-size: .75em;
    text-align: center
}

.BorlabsCookie.AdvCookie ._brlbs-manage {
    font-family: inherit;
    font-size: .75em;
    text-align: center
}

.BorlabsCookie.AdvCookie ._brlbs-refuse {
    font-family: inherit;
    font-size: .75em;
    text-align: center
}

.BorlabsCookie.AdvCookie ._brlbs-refuse a {
    color: inherit
}

.BorlabsCookie.AdvCookie ._brlbs-refuse-btn {
    font-family: inherit;
    font-size: .875em;
    text-align: center
}

.BorlabsCookie.AdvCookie ._brlbs-refuse-btn a {
    font-size: inherit;
    color: inherit
}

.BorlabsCookie.AdvCookie ._brlbs-refuse-btn a:hover {
    color: inherit
}

.BorlabsCookie.AdvCookie .top-left {
    align-items: flex-start;
    justify-content: flex-start
}

.BorlabsCookie.AdvCookie .top-center {
    align-items: flex-start;
    justify-content: center
}

.BorlabsCookie.AdvCookie .top-right {
    align-items: flex-start;
    justify-content: flex-end
}

.BorlabsCookie.AdvCookie .middle-left {
    align-items: center;
    justify-content: flex-start
}

.BorlabsCookie.AdvCookie .middle-center {
    align-items: center;
    justify-content: center
}

.BorlabsCookie.AdvCookie .middle-right {
    align-items: center;
    justify-content: flex-end
}

.BorlabsCookie.AdvCookie .bottom-left {
    align-items: flex-end;
    justify-content: flex-start
}

.BorlabsCookie.AdvCookie .bottom-center {
    align-items: flex-end;
    justify-content: center
}

.BorlabsCookie.AdvCookie .bottom-right {
    align-items: flex-end;
    justify-content: flex-end
}

.BorlabsCookie.AdvCookie ._brlbs-box,.BorlabsCookie.AdvCookie ._brlbs-bar {
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    padding: 15px 0
}

.BorlabsCookie.AdvCookie ._brlbs-bar-wrap {
    display: block;
    max-width: 100%;
    width: 100%;
    z-index: 1000000
}

.BorlabsCookie.AdvCookie ._brlbs-bar-wrap._brlbs-position-fixed {
    position: fixed
}

.BorlabsCookie.AdvCookie ._brlbs-bar._brlbs-bar-slim .cookie-box p {
    margin: 0
}

.BorlabsCookie.AdvCookie ._brlbs-bar._brlbs-bar-slim ._brlbs-actions-mobile {
    display: none
}

.BorlabsCookie.AdvCookie ._brlbs-bar h3,.BorlabsCookie.AdvCookie ._brlbs-bar ._brlbs-h3 {
    margin: 0 0 .5em 0
}

.BorlabsCookie.AdvCookie ._brlbs-bar ul {
    justify-content: center;
    margin: .5em 0
}

.BorlabsCookie.AdvCookie ._brlbs-bar ._brlbs-no-padding-right {
    padding-right: 0
}

.BorlabsCookie.AdvCookie ._brlbs-bar ._brlbs-separator::before {
    content: "|";
    display: inline-block;
    margin: 0 2px
}

.BorlabsCookie.AdvCookie ._brlbs-bar .cookie-logo {
    max-width: 100px;
    padding: 0 8px 0 0;
    vertical-align: middle;
    width: 100%
}

.BorlabsCookie.AdvCookie ._brlbs-bar ._brlbs-legal {
    text-align: center
}

.BorlabsCookie.AdvCookie ._brlbs-box-wrap {
    display: block;
    max-width: 375px;
    width: 100%;
    z-index: 1000000
}

.BorlabsCookie.AdvCookie ._brlbs-box-wrap._brlbs-position-fixed {
    position: fixed
}

.BorlabsCookie.AdvCookie ._brlbs-box._brlbs-box-slim>.container ._brlbs-manage {
    margin: 0
}

.BorlabsCookie.AdvCookie ._brlbs-box._brlbs-box-slim>.container ._brlbs-refuse {
    margin: .5em 0 0 0
}

.BorlabsCookie.AdvCookie ._brlbs-box ._brlbs-separator::before {
    content: "|";
    display: inline-block;
    margin: 0 2px
}

.BorlabsCookie.AdvCookie .cookie-preference .container.not-visible {
    height: 0
}

.BorlabsCookie.AdvCookie .cookie-preference .cookie-logo {
    max-width: 100%
}

.BorlabsCookie.AdvCookie .cookie-preference table {
    margin: 1em 0 0 0;
    width: 100%
}

.BorlabsCookie.AdvCookie .cookie-preference table tr td,.BorlabsCookie.AdvCookie .cookie-preference table tr th {
    border-bottom: 1px solid
}

.BorlabsCookie.AdvCookie .cookie-preference table tr:last-child td,.BorlabsCookie.AdvCookie .cookie-preference table tr:last-child th {
    border-bottom: 0
}

.BorlabsCookie.AdvCookie .cookie-preference table th {
    text-align: left;
    width: 40%
}

.BorlabsCookie.AdvCookie .cookie-preference table td {
    text-align: left
}

.BorlabsCookie.AdvCookie .cookie-preference table td,.BorlabsCookie.AdvCookie .cookie-preference table th {
    font-size: .875em;
    padding: .25em .5em
}

.BorlabsCookie.AdvCookie .cookie-preference ._brlbs-accept {
    text-align: left
}

.BorlabsCookie.AdvCookie .cookie-preference ._brlbs-btn {
    font-size: 1em;
    margin: 0 0 .9375em 0;
    padding: .75em 1.5em
}

.BorlabsCookie.AdvCookie .cookie-preference ._brlbs-legal {
    text-align: right
}

.BorlabsCookie.AdvCookie .cookie-preference ._brlbs-pp-url {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 0
}

.BorlabsCookie.AdvCookie .cookie-preference ._brlbs-refuse {
    margin: 0 0 .9375em 0;
    text-align: right
}

.BorlabsCookie.AdvCookie .cookie-preference ._brlbs-separator::before {
    content: "|";
    display: inline-block;
    margin: 0 2px
}

.BorlabsCookie.AdvCookie ._brlbs-bar-advanced ul,.BorlabsCookie.AdvCookie ._brlbs-box-advanced ul {
    justify-content: space-between
}

.BorlabsCookie.AdvCookie ._brlbs-bar-advanced ul li,.BorlabsCookie.AdvCookie ._brlbs-box-advanced ul li {
    line-height: 1.375em;
    margin: 0 .9375em .875em 0
}

.BorlabsCookie.AdvCookie ._brlbs-bar-advanced ul li::before,.BorlabsCookie.AdvCookie ._brlbs-box-advanced ul li::before {
    content: "";
    margin: 0
}

.BorlabsCookie ._brlbs-content-blocker {
    line-height: 1.25em
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-caption {
    padding: 1em
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-caption label {
    color: inherit
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-caption label input {
    background: none;
    border: 0;
    display: inline-block;
    width: auto;
    height: auto;
    position: static;
    vertical-align: middle;
    -webkit-appearance: auto
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-caption label small {
    vertical-align: middle
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-caption p {
    margin-bottom: 1em
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-caption p:last-child {
    margin: 0
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-caption small {
    font-size: .875em
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-default {
    background: #efefef;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-default label input {
    vertical-align: middle;
    width: auto
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-default p {
    margin-bottom: 1em
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-default p:last-child {
    margin: 0
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-default small {
    font-size: .875em
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-embed {
    margin-bottom: 1em;
    position: relative;
    display: inline-block;
    overflow: hidden
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-embed ._brlbs-thumbnail {
    display: block;
    max-width: 100%
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-embed ._brlbs-caption {
    top: 50%;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translateY(-50%)
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-embed ._brlbs-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-embed ._brlbs-btn._brlbs-icon-play-black::before {
    background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='78' height='78' viewBox='0, 0, 78, 78'%3E%3Cg id='Layer_1'%3E%3Cg%3E%3Cpath d='M7.5,71.5 L7.5,7.5 L55.5,37.828 L7.5,71.5' fill='%23000000'/%3E%3Cpath d='M7.5,71.5 L7.5,7.5 L55.5,37.828 L7.5,71.5' fill-opacity='0' stroke='%23000000' stroke-width='12' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
    background-size: contain;
    content: " ";
    display: inline-block;
    margin-right: 4px;
    height: 1.142857143em;
    width: .857142857em
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-embed ._brlbs-btn._brlbs-icon-play-white::before {
    background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='78' height='78' viewBox='0, 0, 78, 78'%3E%3Cg id='Layer_1'%3E%3Cg%3E%3Cpath d='M7.5,71.5 L7.5,7.5 L55.5,37.828 L7.5,71.5' fill='%23ffffff'/%3E%3Cpath d='M7.5,71.5 L7.5,7.5 L55.5,37.828 L7.5,71.5' fill-opacity='0' stroke='%23ffffff' stroke-width='12' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
    background-size: contain;
    content: " ";
    display: inline-block;
    margin-right: 4px;
    height: 1.142857143em;
    width: .857142857em
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-btn {
    display: inline-block;
    font-family: inherit;
    padding: .5em 1em;
    text-decoration: none;
    transition: background-color 125ms linear
}

._brlbs-fluid-width-video-wrapper {
    padding: 56.2963% 0 0 0;
    position: relative;
    width: 100%
}

._brlbs-fluid-width-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.wp-embed-responsive .wp-embed-aspect-16-9 .wp-block-embed__wrapper .BorlabsCookie {
    top: 0;
    left: 0;
    position: absolute
}

.wpb_video_widget .wpb_video_wrapper .BorlabsCookie {
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.bricks-video-wrapper .BorlabsCookie {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0
}

.bricks-video-wrapper .BorlabsCookie ._brlbs-embed {
    width: 100%
}

.bricks-video-wrapper .BorlabsCookie ._brlbs-embed ._brlbs-thumbnail {
    width: 100%
}

.wpb_wrapper .fb_type_standard {
    height: auto
}

@media(max-width: 424px) {
    .BorlabsCookie.AdvCookie ._brlbs-bar._brlbs-bar-slim ._brlbs-separator::before {
        content:"";
        display: block;
        margin: 0
    }
}

@media(min-width: 576px) {
    .BorlabsCookie.AdvCookie ._brlbs-bar ul.show-cookie-logo {
        margin:.5em 0 0 16.6666666667%
    }
}

@media(max-width: 767px) {
    .BorlabsCookie.AdvCookie ._brlbs-bar._brlbs-bar-slim p {
        margin:0 0 .5em 0
    }

    .BorlabsCookie.AdvCookie ._brlbs-bar._brlbs-bar-slim ._brlbs-actions {
        display: none
    }

    .BorlabsCookie.AdvCookie ._brlbs-bar._brlbs-bar-slim p._brlbs-actions-mobile {
        display: block;
        margin: .9375em 0;
        text-align: center
    }

    .BorlabsCookie.AdvCookie ._brlbs-bar .align-items-center {
        align-items: flex-start !important
    }

    .BorlabsCookie.AdvCookie .cookie-preference ._brlbs-accept,.BorlabsCookie.AdvCookie .cookie-preference ._brlbs-refuse {
        text-align: center
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    animation-name: fadeOutDown;
}

.BorlabsCookie.AdvCookie * {
    font-family: inherit;
}

.BorlabsCookie.AdvCookie ._brlbs-bar-advanced ul, .BorlabsCookie.AdvCookie ._brlbs-box-advanced ul {
    justify-content: space-between;
}

.BorlabsCookie.AdvCookie ._brlbs-bar, .BorlabsCookie.AdvCookie ._brlbs-box {
    background: #fff;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
}

.BorlabsCookie.AdvCookie a {
    color: #a00245;
}

.BorlabsCookie.AdvCookie a:hover {
    color: #a00245;
}

.BorlabsCookie.AdvCookie ._brlbs-btn {
    background: #a00245;
    border-radius: 4px;
    color: #fff;
}

.BorlabsCookie.AdvCookie ._brlbs-btn:hover {
    background: #a00245;
    border-radius: 4px;
    color: #fff;
}

.BorlabsCookie.AdvCookie ._brlbs-refuse-btn a {
    background: #f7f7f7;
    border-radius: 4px;
    color: #555;
}

.BorlabsCookie.AdvCookie ._brlbs-refuse-btn a:hover {
    background: #e6e6e6;
    border-radius: 4px;
    color: #555;
}

.BorlabsCookie.AdvCookie ._brlbs-btn-accept-all {
    background: #a00245;
    border-radius: 4px;
    color: #fff;
}

.BorlabsCookie.AdvCookie ._brlbs-btn-accept-all:hover {
    background: #a00245;
    border-radius: 4px;
    color: #fff;
}

.BorlabsCookie.AdvCookie ._brlbs-btn-accept-all {
    background: #a00245;
    border-radius: 4px;
    color: #fff;
}

.BorlabsCookie.AdvCookie ._brlbs-btn-accept-all:hover {
    background: #a00245;
    border-radius: 4px;
    color: #fff;
}

.BorlabsCookie.AdvCookie ._brlbs-legal {
    color: #aaa;
}

.BorlabsCookie.AdvCookie ._brlbs-legal a {
    color: inherit;
}

.BorlabsCookie.AdvCookie ._brlbs-legal a:hover {
    color: #aaa;
}

.BorlabsCookie.AdvCookie ._brlbs-branding {
    color: #000;
}

.BorlabsCookie.AdvCookie ._brlbs-branding a {
    color: inherit;
}

.BorlabsCookie.AdvCookie ._brlbs-branding a:hover {
    color: inherit;
}

.BorlabsCookie.AdvCookie ._brlbs-manage a {
    color: #a00245;
}

.BorlabsCookie.AdvCookie ._brlbs-manage a:hover {
    color: #a00245;
}

.BorlabsCookie.AdvCookie ._brlbs-refuse {
    color: #888;
}

.BorlabsCookie.AdvCookie ._brlbs-refuse a:hover {
    color: #888;
}

.BorlabsCookie.AdvCookie ul li::before {
    color: #a00245;
}

.BorlabsCookie.AdvCookie .cookie-box ._brlbs-btn {
    width: 100%;
}

.BorlabsCookie ._brlbs-btn-switch ._brlbs-slider {
    background-color: #bdc1c8;
}

.BorlabsCookie ._brlbs-btn-switch input:checked + ._brlbs-slider {
    background-color: #28a745;
}

.BorlabsCookie ._brlbs-btn-switch ._brlbs-slider::before {
    background-color: #fff;
}

.BorlabsCookie ._brlbs-btn-switch input:checked + ._brlbs-slider:before {
    background-color: #fff;
}

.BorlabsCookie ._brlbs-checkbox ._brlbs-checkbox-indicator {
    background-color: #fff;
    border-color: #a72828;
    border-radius: 4px;
}

.BorlabsCookie ._brlbs-checkbox input:checked ~ ._brlbs-checkbox-indicator {
    background-color: #28a745;
    border-color: #28a745;
}

.BorlabsCookie ._brlbs-checkbox input:checked ~ ._brlbs-checkbox-indicator::after {
    border-color: #fff;
}

.BorlabsCookie ._brlbs-checkbox input:disabled ~ ._brlbs-checkbox-indicator {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.BorlabsCookie ._brlbs-checkbox input:disabled ~ ._brlbs-checkbox-indicator::after {
    border-color: #999;
}

.BorlabsCookie.AdvCookie .bcac-item {
    background-color: #f7f7f7;
    border-radius: 0px;
    color: #555;
}

.BorlabsCookie.AdvCookie .cookie-preference table {
    background-color: #fff;
    border-radius: 0px;
    color: #555;
}

.BorlabsCookie.AdvCookie .cookie-preference table {
    background-color: #fff;
    border-radius: 0px;
    color: #555;
}

.BorlabsCookie.AdvCookie .cookie-preference table tr td, .BorlabsCookie.AdvCookie .cookie-preference table tr th {
    background-color: #fff;
    border-color: #eee;
}

.BorlabsCookie ._brlbs-btn-switch ._brlbs-slider {
    border-radius: 34px;
}

.BorlabsCookie ._brlbs-btn-switch ._brlbs-slider::before {
    border-radius: 50%;
}

.BorlabsCookie ._brlbs-content-blocker {
    font-family: inherit;
    font-size: 14px;
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-caption {
    background: hsla(0, 0%, 0%, 0.8);
    color: #fff;
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-caption a {
    color: #28a745;
}

.BorlabsCookie ._brlbs-content-blocker ._brlbs-caption a:hover {
    color: #30c553;
}

.BorlabsCookie ._brlbs-content-blocker a._brlbs-btn {
    background: #28a745;
    border-radius: 4px;
    color: #fff;
}

.BorlabsCookie ._brlbs-content-blocker a._brlbs-btn:hover {
    background: #30c553;
    color: #fff;
}

a._brlbs-btn-cookie-preference {
    background: #a00245 !important;
    border-radius: 4px !important;
    color: #fff !important;
}

a._brlbs-btn-cookie-preference:hover {
    background: #a00245 !important;
    color: #fff !important;
}

.BorlabsCookie.AdvCookie ul {
    display: none!important;
    flex-flow: wrap;
    justify-content: center;
    list-style: none;
    margin: 0.9375em 0;
    padding: 0;
}

.BorlabsCookie.AdvCookie .cookie-logo {
    width: 80%;
}

.BorlabsCookie ._brlbs-facebook {
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    max-width: 516px;
    padding: 3px 0;
}

.BorlabsCookie ._brlbs-facebook a._brlbs-btn {
    background: #4267b2;
    border-radius: 2px;
}

.BorlabsCookie ._brlbs-facebook a._brlbs-btn:hover {
    background: #3b5998;
}

.BorlabsCookie ._brlbs-google-maps a._brlbs-btn {
    background: #4285f4;
    border-radius: 3px;
}

.BorlabsCookie ._brlbs-google-maps a._brlbs-btn:hover {
    background: #fff;
    color: #4285f4;
}

.BorlabsCookie ._brlbs-instagram {
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    max-width: 516px;
    padding: 3px 0;
}

.BorlabsCookie ._brlbs-instagram a._brlbs-btn {
    background: #3897f0;
    border-radius: 4px;
}

.BorlabsCookie ._brlbs-instagram a._brlbs-btn:hover {
    background: #117ee4;
}

.BorlabsCookie ._brlbs-twitter {
    border: 1px solid #e1e8ed;
    border-radius: 3px;
    max-width: 516px;
}

.BorlabsCookie ._brlbs-twitter a._brlbs-btn {
    background: #1da1f2;
    border-radius: 0;
}

.BorlabsCookie ._brlbs-twitter a._brlbs-btn:hover {
    background: #fff;
    color: #1da1f2;
}

.BorlabsCookie ._brlbs-video-vimeo a._brlbs-btn {
    background: #00adef;
    border-radius: 20px;
}

.BorlabsCookie ._brlbs-video-vimeo a._brlbs-btn:hover {
    background: #fff;
    color: #00adef;
}

.BorlabsCookie ._brlbs-video-vimeo a._brlbs-btn._brlbs-icon-play-white:hover::before {
    background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='78' height='78' viewBox='0, 0, 78, 78'%3E%3Cg id='Layer_1'%3E%3Cg%3E%3Cpath d='M7.5,71.5 L7.5,7.5 L55.5,37.828 L7.5,71.5' fill='%2300adef'/%3E%3Cpath d='M7.5,71.5 L7.5,7.5 L55.5,37.828 L7.5,71.5' fill-opacity='0' stroke='%2300adef' stroke-width='12' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
    background-size: contain;
    content: " ";
}

.BorlabsCookie ._brlbs-video-youtube a._brlbs-btn {
    background: #ff0000;
    border-radius: 20px;
}

.BorlabsCookie ._brlbs-video-youtube a._brlbs-btn:hover {
    background: #fff;
    color: red;
}

.BorlabsCookie ._brlbs-video-youtube a._brlbs-btn._brlbs-icon-play-white:hover::before {
    background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='78' height='78' viewBox='0, 0, 78, 78'%3E%3Cg id='Layer_1'%3E%3Cg%3E%3Cpath d='M7.5,71.5 L7.5,7.5 L55.5,37.828 L7.5,71.5' fill='%23ff0000'/%3E%3Cpath d='M7.5,71.5 L7.5,7.5 L55.5,37.828 L7.5,71.5' fill-opacity='0' stroke='%23ff0000' stroke-width='12' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
    background-size: contain;
    content: " ";
}