<template>
    <data class="slds-hide">{currentPage}</data>
    <template if:true={showCookies}>
      
        <div id="BorlabsCookieBox" class="BorlabsCookie AdvCookie" role="dialog" aria-labelledby="CookieBoxTextHeadline"
            aria-describedby="CookieBoxTextDescription" aria-modal="true" data-id="BorlabsCookieBox">
            <div class="bottom-center _brlbs-block-content _brlbs-bg-animation show-cookie-box _brlbs-bg-dark" style="">
                <div class="_brlbs-bar-wrap" style="width: 100vw; max-width: 100%;">
                    <div class="_brlbs-bar _brlbs-bar-advanced animated fadeInUp" data-id="cookie-container">
                        <div class="cookie-box" aria-hidden="false">
                            <div class="container" style="height: 237px; opacity: 1;" data-id="cookie-box">
                                <div class="row align-items-center">
                                    <div class="col-12 col-sm-9">
                                        <div class="row">
                                            <div class="col-2 text-center _brlbs-no-padding-right">
                                                <img width="32" height="32" src={cookieLogo} class="cookie-logo"
                                                    alt="WE USE COOKIES" aria-hidden="true">
                                            </div>

                                            <div class="col-10">
                                                <span role="heading" aria-level="3" class="_brlbs-h3"
                                                    id="CookieBoxTextHeadline">
                                                    WE USE COOKIES </span>
                                                <p id="CookieBoxTextDescription">
                                                    Some of them are technically required, while others help us analyzing
                                                    the
                                                    website to better reach potential applicants. You can change your
                                                    privacy
                                                    settings at any time. Find more information in our privacy police <a
                                                        href="https://advantest-career.de/datenschutz/">here</a>. </p>
                                            </div>
                                        </div>

                                        <ul class="show-cookie-logo">
                                            <li>
                                                <label class="_brlbs-checkbox">
                                                    Technically required Cookies <input id="checkbox-essential" tabindex="0"
                                                        type="checkbox" name="cookieGroup[]" value="essential" checked=""
                                                        disabled="" data-borlabs-cookie-checkbox="">
                                                    <span class="_brlbs-checkbox-indicator"></span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="_brlbs-checkbox">
                                                    Statistic-Cookies <input id="checkbox-statistics" tabindex="0"
                                                        type="checkbox" name="cookieGroup[]" value="statistics"
                                                        data-borlabs-cookie-checkbox="">
                                                    <span class="_brlbs-checkbox-indicator"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-12 col-sm-3">
                                        <p class="_brlbs-accept">
                                            <a href="#" tabindex="0" role="button"
                                                class="_brlbs-btn _brlbs-btn-accept-all _brlbs-cursor"
                                                data-cookie-accept-all="" onclick={acceptAllCookies}>
                                                Accept all cookies </a>
                                        </p>

                                        <p class="_brlbs-accept">
                                            <a href="#" tabindex="0" role="button" id="CookieBoxSaveButton"
                                                class="_brlbs-btn _brlbs-cursor" data-cookie-accept="">Save settings &amp;
                                                close</a>
                                        </p>

                                        <p class="_brlbs-refuse-btn">
                                            <a href="#" tabindex="0" role="button" class="_brlbs-btn _brlbs-cursor"
                                                data-cookie-refuse="" onclick={acceptTechnicalCookies}>
                                                Accept only technically required cookies </a>
                                        </p>

                                        <p class="_brlbs-manage">
                                            <a href="#" tabindex="0" role="button" class="_brlbs-cursor"
                                                data-cookie-individual="" onclick={togglePreferences}>
                                                Individual Cookie Settings </a>
                                        </p>

                                        <p class="_brlbs-legal">
                                            <a href="#" tabindex="0" role="button" class="_brlbs-cursor"
                                                data-cookie-individual="" onclick={togglePreferences}>
                                                Cookie-Details </a>

                                            <span class="_brlbs-separator"></span>
                                            <a tabindex="0" href="https://advantest-career.de/datenschutz">
                                                Privacy Policy </a>

                                            <span class="_brlbs-separator"></span>
                                            <a tabindex="0" href="https://advantest-career.de/impressum/">
                                                Corporate Information </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cookie-preference" aria-hidden="true" role="dialog"
                            aria-describedby="CookiePrefDescription" aria-modal="true">
                            <div class="container not-visible" data-id="cookie-preference" style={hiddenStyle}>
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <div class="row no-gutters align-items-top">
                                            <div class="col-2">
                                                <img width="32" height="32" class="cookie-logo"
                                                    src={cookieLogo}
                                                    alt="Individuelle Cookie-Einstellungen">
                                            </div>

                                            <div class="col-10">
                                                <span role="heading" aria-level="3" class="_brlbs-h3">Individual Cookie
                                                    Settings</span>

                                                <p id="CookiePrefDescription">
                                                    This site uses cookies to enhance your experience as you navigate
                                                    through the site. From these cookies, the technically required cookies
                                                    are stored in your browser, as they are essential for the basic
                                                    functions of the website. We also use third-party cookies to help us
                                                    analyze and track how you use this website. These cookies are only
                                                    stored in your browser with your consent. You also have the option of
                                                    deactivating these cookies at any time in the future for statistical
                                                    purposes. However, disabling some of these cookies may affect your
                                                    browsing experience. </p>

                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-12 col-sm-7">
                                                        <p class="_brlbs-accept">
                                                            <a href="#"
                                                                class="_brlbs-btn _brlbs-btn-accept-all _brlbs-cursor"
                                                                tabindex="0" role="button" data-cookie-accept-all="" style="margin-right: 4px;">
                                                                Accept all cookies </a>

                                                            <a href="#" id="CookiePrefSave" tabindex="0" role="button"
                                                                class="_brlbs-btn _brlbs-cursor" data-cookie-accept="">
                                                                Save settings &amp; close </a>
                                                        </p>
                                                    </div>

                                                    <div class="col-12 col-sm-5">
                                                        <p class="_brlbs-refuse">
                                                            <a href="#" class="_brlbs-cursor" tabindex="0" role="button"
                                                                data-cookie-back="" onclick={togglePreferences}>
                                                                Back </a>

                                                            <span class="_brlbs-separator"></span>
                                                            <a href="#" class="_brlbs-cursor" tabindex="0" role="button"
                                                                data-cookie-refuse="">
                                                                Accept only technically required cookies </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-cookie-accordion="">
                                            <div class="bcac-item">
                                                <div class="d-flex flex-row">
                                                    <label for="borlabs-cookie-group-essential" class="w-75">
                                                        <span role="heading" aria-level="4" class="_brlbs-h4">Technically necessary cookies (1)</span>
                                                    </label>

                                                    <div class="w-25 text-right">
                                                    </div>
                                                </div>

                                                <div class="d-block">
                                                    <p>Technically required cookies enable basic functions and are necessary
                                                        for the proper functioning of the website.</p>

                                                    <p class="text-center">
                                                        <a href="#" class="_brlbs-cursor d-block" tabindex="0" role="button"
                                                            data-cookie-accordion-target="essential" onclick={toggleDetailTable} data-table-type="essential">
                                                            Show Cookie-Information
                                                        </a>
                                                    </p>
                                                </div>

                                                <div data-cookie-accordion-parent="essential" style="display: none;">
                                                    <table>

                                                        <tbody>
                                                            <tr>
                                                                <th>NAME</th>
                                                                <td>
                                                                    <label for="borlabs-cookie-borlabs-cookie">
                                                                        Advantest Cookie </label>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <th>PROVIDER</th>
                                                                <td>Owner of this website</td>
                                                            </tr>

                                                            <tr>
                                                                <th>PURPOSE</th>
                                                                <td>Saves the visitors preferences selected in the Cookie
                                                                    Box of Advantest Cookie.</td>
                                                            </tr>



                                                            <tr>
                                                                <th>Cookie Name</th>
                                                                <td>advantest-cookie</td>
                                                            </tr>

                                                            <tr>
                                                                <th>COOKIE EXPIRY</th>
                                                                <td>1 Year</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="bcac-item">
                                                <div class="d-flex flex-row">
                                                    <label for="borlabs-cookie-group-statistics" class="w-75">
                                                        <span role="heading" aria-level="4"
                                                            class="_brlbs-h4">Statistics-Cookies (1)</span>
                                                    </label>

                                                    <div class="w-25 text-right">
                                                        <label class="_brlbs-btn-switch">
                                                            <input tabindex="0" id="borlabs-cookie-group-statistics"
                                                                type="checkbox" name="cookieGroup[]" value="statistics"
                                                                data-borlabs-cookie-switch="">
                                                            <span class="_brlbs-slider"></span>
                                                            <span class="_brlbs-btn-switch-status" data-active="On"
                                                                data-inactive="Off">
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="d-block">
                                                    <p>All cookies that are not technically required for the functioning of
                                                        the website and that are specifically used to collect personal user
                                                        data through analysis and other embedded content are referred to as
                                                        statistic-cookies. It is mandatory to obtain the user's consent
                                                        before using these cookies</p>

                                                    <p class="text-center">
                                                        <a href="#" class="_brlbs-cursor d-block" tabindex="0" role="button"
                                                        data-cookie-accordion-target="statistics" onclick={toggleDetailTable} data-table-type="statistics">
                                                            Show Cookie-Information
                                                        </a>
                                                    </p>
                                                </div>

                                                <div data-cookie-accordion-parent="statistics" style="display: none;">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>ACCEPT</th>
                                                                <td>
                                                                    <label
                                                                        class="_brlbs-btn-switch _brlbs-btn-switch--textRight">
                                                                        <input id="borlabs-cookie-google-analytics"
                                                                            tabindex="0" type="checkbox"
                                                                            data-cookie-group="statistics"
                                                                            name="cookies[statistics][]"
                                                                            value="google-analytics"
                                                                            data-borlabs-cookie-switch="">

                                                                        <span class="_brlbs-slider"></span>

                                                                        <span class="_brlbs-btn-switch-status"
                                                                            data-active="On" data-inactive="Off"
                                                                            aria-hidden="true">
                                                                        </span>
                                                                    </label>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <th>NAME</th>
                                                                <td>
                                                                    <label for="borlabs-cookie-google-analytics">
                                                                        Google Analytics </label>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <th>PROVIDER</th>
                                                                <td>Google LLC</td>
                                                            </tr>

                                                            <tr>
                                                                <th>PURPOSE</th>
                                                                <td>Cookie by Google used for website analytics. Generates
                                                                    statistical data on how the visitor uses the website.
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <th>PRIVACY POLICY</th>
                                                                <td class="_brlbs-pp-url">
                                                                    <a href="https://policies.google.com/privacy"
                                                                        target="_blank" rel="nofollow noopener noreferrer">
                                                                        https://policies.google.com/privacy </a>
                                                                </td>
                                                            </tr>


                                                            <tr>
                                                                <th>Cookie Name</th>
                                                                <td>_ga,_gat,_gid</td>
                                                            </tr>

                                                            <tr>
                                                                <th>COOKIE EXPIRY</th>
                                                                <td>2 Years</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="_brlbs-branding flex-fill">
                                            </p>

                                            <p class="_brlbs-legal flex-fill">
                                                <a href="https://advantest-career.de/datenschutz">
                                                    Privacy Policy </a>

                                                <span class="_brlbs-separator"></span>

                                                <a href="https://advantest-career.de/impressum/">
                                                    Corporate Information </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</template>