:host {
    --lwc-varSpacingHorizontalMedium: 0;
    --lwc-colorBackgroundRowHover: transparent;
}

.homepage__technical-documents {
    background: #fff;
    border-radius: 10px;
    margin-top: 1.5rem;
    padding: 2rem;
}