<template>
    <div class="slds-grid slds-grid_align-end">
        <div class="slds-col slds-size_1-of-4 lang-container">
            <lightning-combobox
                name="lang"
                label={label.cswp_lang_label}
                value={value}
                placeholder={label.cswp_lang_placeholder}
                options={options}
                onchange={handleChange}>
            </lightning-combobox>
        </div>
    </div>
</template>