<template>
    <div class="cswpV93000Manager-container homepage__v-licenses">
        <article class="slds-card">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                        <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title={label.v93000Licenses}>
                            <span onclick={handleClick}>{label.v93000Licenses}</span>
                        </a>
                        </h2>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-card__body_inner">
                <lightning-datatable columns={columns} data={v93000Links} key-field="id" hide-checkbox-column="true"
                    hide-table-header="true" class="slds-no-row-hover">
                </lightning-datatable>
            </div>
        </article>
    </div>
</template>