<template>
    <div class="cswp-file-upload-cmp">
      <lightning-file-upload name="cswpFileUplaoder"
        record-id={recordId}
        onuploadfinished={handleFileUpload} 
        multiple>
      </lightning-file-upload>
    </div>
</template>