<template>
  <div class="slds-form-element upload-container">
    <div class="slds-form-element__control">
      <div class="slds-file-selector slds-file-selector_files">
        <div class="slds-file-selector__dropzone">
          <lightning-input type="file" label={label.cswp_filerversion_upload_text} onchange={handleFileChange}></lightning-input>
        </div>
      </div>
      <template if:true={isProcessing}>
        <lightning-progress-bar value={progress} variant="circular"> </lightning-progress-bar>
      </template>
    </div>
  </div>
</template>