<template>
    <div class="cswpConsultancyManager-container">
        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-2">
                <div class="l-chart-container">
                    <p class="section-title">Section 1</p>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <div class="l-action-container">
                    <p class="section-title">Section 2</p>
                </div>
            </div>
        </div>
    </div>
</template>