.cswpConsultancyManager-container .l-chart-container,
.cswpConsultancyManager-container .l-action-container {
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    height: 350px;
}

.cswpConsultancyManager-container .section-title {
    font-size: 1.5rem;
}