.cswpWorkspaceTable-container {
    height:403px;
    border-bottom: solid 1px #D4D4D4;
    border-left: 1px solid #d4d4d4;
}

.cswpWorkspaceTable-container .slds-icon_container {
    padding: 10px;
}

.cswp-illustration{
    padding-top: 50px;
}