<template>
  <div class="cswpWorkspaceTable-container">
    <div if:false={isLoaded} class="slds">
      <lightning-spinner variant="brand" size="small" alternative-text="Loading...">
      </lightning-spinner>
    </div>
    <template if:false={noRecord}>
      <c-cswp-data-table key-field="id" data={dataset} columns={columns} 
        hide-checkbox-column 
        ongodetail={goInside}
        onrowaction={handleRowAction}
        column-widths-mode="auto"
        ></c-cswp-data-table>
    </template>
    <template if:true={noRecord}>
      <template if:false={searchNotFound}>
          <div class="cswp-illustration">
            <c-cswp-no-record message={label.cswp_noitemsfound}></c-cswp-no-record>
          </div>
      </template>
    </template>
    <template if:true={noRecord}>
      <template if:true={searchNotFound}>
        <div class="cswp-illustration">
          <c-cswp-no-record message={searchMessage}></c-cswp-no-record>
        </div>
      </template>
    </template>
    <c-edit-record-modal onformsuccess={handleSuccessForm} ></c-edit-record-modal>
  </div>
</template>