<template>
    <template if:true={isSynched}>
        <lightning-button label={label.SyncLabel} title="Sync" onclick={handleSync} class="slds-m-left_x-small" disabled></lightning-button>
    </template>
    <template if:false={isSynched}>
        <lightning-button label={label.SyncLabel} title="Sync" onclick={handleSync} class="slds-m-left_x-small"></lightning-button>
    </template>
    
</template>