.lightning-card{
    width: 100%;
}
.slds-card__header{
    padding: var(--lwc-varSpacingVerticalSmall,0.75rem) var(--lwc-varSpacingHorizontalMedium,1rem) var(--lwc-varSpacingVerticalSmall,0.75rem);
    margin: 0 0 0;  
}
.related-list .slds-button_icon-bare{
	display: none;
}
.related-list a span {
	color: rgba(27, 82, 151, 1.0);
}
.related-list .slds-scrollable_x {
	overflow-y:visible;
	overflow-x:visible;
}
.l-datatable {
	width: auto;
}
.related-list .slds-scrollable_y {
	width: 100% !important;
}
.slds-table {
	width: 100% !important;
}
.slds-media__figure {
	margin-left: 14px;
	margin-top: 5px;
}
.slds-no-flex {
	margin-right: 14px;
	margin-top: 5px;
}
.slds-m-top_x-small {
	border-style: groove;
	border-width: 0.75px;
	border-radius: 0.25rem;
}