<apex:component >
    <script id="osf_ReOrder-IncludedItems" type="text/template">
        <div id="ordered_items" class="modal fade cc_modal cc_reorder_included_items_modal gp_reorder_included_items" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content cc_modal_content">
                    <div class="modal-header">
                        <button type="button" class="close cc_close" data-dismiss="modal" aria-label="{{pageLabelMap 'Modal_Aria_Close'}}"><span aria-hidden="true">&#215;</span></button>
                        <div class="row cc_reorder_details_row">
                            <div class="col-xs-12 cc_reorder_details_col">
                                <h3 class="row cc_reorder_row">
                                    <div class="col-xs-12 cc_reorder_col">
                                        <span class="cc_reorder_ordernumber_label">{{pageLabelMap 'ReOrder_OrderNumber'}}&#58;</span>&#160;<span class="cc_reorder_ordernumber">{{this.orderNumber}}</span>
                                    </div>
                                </h3>
                                <div class="row cc_reorder_row">
                                    <div class="col-xs-12 cc_reorder_col">
                                        <span class="cc_reorder_orderdate_label">{{pageLabelMap 'ReOrder_OrderDate'}}&#58;</span>&#160;<span class="cc_reorder_orderdate">{{this.orderDate}}</span>
                                    </div>
                                </div>
                                <div class="row cc_reorder_row">
                                    {{#showPrice}}
                                    <div class="col-xs-12 cc_reorder_col">
                                        <span class="cc_reorder_orderntotal_label">{{pageLabelMap 'ReOrder_OrderTotal'}}&#58;</span>&#160;<span class="cc_reorder_ordertotal">{{price this.orderTotal this.data.[0].sfdcCurrencyISOCode}}</span>
                                    </div>
                                    {{/showPrice}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body cc_modal-body modal-body_reorder_items">
                        {{#each this.data}}
                            {{#ifEquals this.orderLineType 'Major'}}
                                <div class="row cc_reorder_prod_row">
                                    <div class="col-xs-3 cc_reorder_prod_img">
                                        <span class="cc_reorder_orderdate_label">
                                            {{productLink this.productData 'cc_prod_link' image=(displayImage this.productData 'cc_img_reorder_item img-thumbnail img-responsive' src=(productImage this.productData) alt=this.productData.altMsg)}}
                                        </span>

                                    </div>
                                    <div class="col-xs-8 cc_reorder_prod_desc">
                                        {{productLink this.productData 'cc_prod_link cc_reorder_productname gp_prodLink' text=(displayProductName this.productData.sfdcName)}}
                                        <div class="cc_reorder_sku"><span class="cc_reorder_productsku_label">{{pageLabelMap 'ReOrder_ProductSku'}}&#58;</span>&#160;<span class="cc_reorder_productsku">{{this.productData.SKU}}</span></div>
                                        <div class="cc_reorder_quantity"><span class="cc_reorder_productquantity_label">{{pageLabelMap 'ReOrder_ProductQuantity'}}&#58;</span>&#160;<span class="cc_reorder_productquantity">{{this.quantity}}</span></div>
                                        {{#showPrice}}
                                        <div class="cc_reorder_total"><span class="cc_reorder_producttotal_label">{{pageLabelMap 'ReOrder_ProductTotal'}}&#58;</span>&#160;<span class="cc_reorder_producttotal">{{price this.itemTotal this.sfdcCurrencyISOCode}}</span></div>
                                        {{/showPrice}}
                                    </div>
                                </div>
                                <hr />
                            {{/ifEquals}}
                        {{/each}}
                    </div>
                    <div class="modal-footer cc_reorder_modal_footer">
                        <button class="btn btn-default btn-sm gp_btn_close">{{pageLabelMap 'ReOrder_ReorderClose'}}</button>
                        <button class="btn btn-default btn-sm gp_btn_reorder" data-id="{{this.orderId}}">{{pageLabelMap 'ReOrder_OrderAgain'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</apex:component>