<template>
  <template if:true={openModal}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-edit-record" aria-modal="true"
      class="slds-modal slds-fade-in-open">
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
            onclick={closeModal}>
            <lightning-icon icon-name="utility:close" alternative-text="close"></lightning-icon>
          </button>
          <h2 id="modal-edit-record-header" class="slds-modal__title slds-hyphenate">{header}</h2>
        </header>
        <div class="slds-modal__content slds-p-around_xx-large" id="modal-content-id-1">
          <lightning-record-edit-form object-api-name={objectApiName} record-id={recordId} 
            onsubmit={onSubmit}
            onerror={onError}
            onsuccess={onSuccess}
            oncancel={onCancel}>
            <!--<lightning-messages></lightning-messages>-->
            <template if:true={isError}>
              <div class="slds-notify_container slds-is-relative slds-m-bottom_large">
                <div role="alert" class="slds-notify slds-notify_toast slds-theme_error">
                  <div class="slds-notify__content">
                    <h2 class="slds-text-heading_small">
                      {label.cswp_contact_us_submit_error_title}
                    </h2>
                    <p>{error}</p>
                  </div>
                </div>
              </div>
            </template>
            <template for:each={fields} for:item="field" for:index="index">
              <template if:true={field.disable}>
                <lightning-input-field style="display: none;" key={field.key} field-name={field.name} value={field.value} disabled> </lightning-input-field>
              </template>
              <template if:false={field.disable}>
                  <template if:true={field.required}>
                    <div key={field.key} class="slds-p-bottom_large">
                      <label for={field.key} key={field.key}>{label.cswp_name_label}</label>
                      <lightning-input-field key={field.key} id={field.key} field-name={field.name} value={field.value} variant="label-hidden" required></lightning-input-field>
                    </div>
                  </template>
                  <template if:false={field.required}>
                    <div key={field.key} class="slds-p-bottom_large">
                      <label for={field.key} key={field.key}>{label.cswp_table_column_description}</label>
                      <lightning-input-field key={field.key} field-name={field.name} variant="label-hidden" value={field.value}></lightning-input-field>
                    </div>
                  </template>
              </template>
            </template>
            <div if:false={isLoaded} class="slds-align_absolute-center form_spinner">
              <lightning-spinner variant="brand" size="small" alternative-text="Loading..."></lightning-spinner>
            </div>
            <div class="slds-align_absolute-center">
              <lightning-button class="slds-m-around_xx-small" label={label.cswp_calbox_cancel_text} onclick={cancelSubmit}></lightning-button>
              <lightning-button class="slds-m-around_xx-small" label={label.cswp_submit} type="submit" variant="brand" >
              </lightning-button>
            </div>
          </lightning-record-edit-form>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
</template>