.footer {
    height: 59px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.footer__link {
    color: #007AFF;
    margin: 0;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__message {
    font-size: 14px;
    color: #607d8b;
    letter-spacing: 0;
}

.footer__icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 300px;
}

.footer__icons-wrap {
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.footer__icon-svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.7142857142857142rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

@media only screen and (max-width: 768px) {
    .footer {
        height: 180px;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer__icons {
        justify-content: center;
    }
}