<template>
    <div class="footer">
        <div class="footer__links">
            <a class="footer__link" href="https://www.advantest.com/legal" target="_blank">{label.termsOfUse}</a>
            <a class="footer__link" href="" onclick={navigateContactUs}>{label.contactUs}</a>
            <a class="footer__link" href="https://www.advantest.com/privacy-policy" target="_blank">{label.privacyPolicy}</a>
        </div>
        <div class="footer__message">{label.footerMessage}</div>
        <div class="footer__icons">
            <div class="footer__icons-wrap">
                <a class="footer__link footer__icon" href="https://www.facebook.com/pages/Advantest/258057870932" target="_blank">
                    <!-- <img src={iconFacebook}> -->
                    <svg class="footer__icon-svg" focusable="false" viewBox="0 0 28 28" aria-hidden="true"><path d="M 18.502815,4.506052 H 6.0194815 C 5.603286,4.5123116 5.2674078,4.8481898 5.2611482,5.2643853 V 17.747719 c 0.00626,0.416195 0.3421378,0.752073 0.7583333,0.758333 h 6.7083325 v -5.425 h -1.808333 v -2.1 h 1.808333 v -1.575 c 0,-1.8083334 1.108334,-2.8 2.741667,-2.8 0.758334,0 1.458334,0.058333 1.633334,0.058333 v 1.925 h -1.108334 c -0.875,0 -1.05,0.4083333 -1.05,1.0500003 v 1.3416657 h 2.1 l -0.291666,2.1 h -1.808334 v 5.425 h 3.558334 c 0.416195,-0.0063 0.752073,-0.342138 0.758333,-0.758333 V 5.2643853 C 19.254888,4.8481898 18.91901,4.5123116 18.502815,4.506052 Z"></path></svg>
                </a>
                <a class="footer__link footer__icon" href="https://twitter.com/Advantest_ATE" target="_blank">
                    <!-- <img src={iconTwitter}> -->
                    <svg class="footer__icon-svg" focusable="false" viewBox="0 0 28 28" aria-hidden="true"><path d="M 20.27327,6.2244421 C 19.68124,6.5129324 19.038815,6.6863668 18.380797,6.7353502 19.080066,6.3384646 19.59466,5.6864476 19.814489,4.9187882 19.17775,5.2995424 18.479285,5.56842 17.749973,5.7135341 16.828416,4.7455246 15.404322,4.4304518 14.154123,4.9179726 c -1.250199,0.4875208 -2.074581,1.6793965 -2.08157,3.0094963 0,0.2838378 0.05735,0.5109081 0.05735,0.7379783 C 9.4813045,8.5577617 7.0111593,7.314461 5.3628759,5.2593936 5.0643613,5.7784953 4.906332,6.3651107 4.9040945,6.9624204 4.8932723,8.0644244 5.4567685,9.0942017 6.395134,9.6872633 5.8739451,9.6695296 5.3638275,9.5335795 4.9040945,9.2898904 v 0.056767 c -0.00196,1.5478341 1.1037329,2.8802791 2.6379929,3.1789831 -0.2822903,0.06564 -0.5704125,0.103668 -0.8602151,0.113535 -0.2118989,0.0093 -0.4240988,-0.0098 -0.6308244,-0.05677 0.4434074,1.328916 1.6833312,2.238087 3.0967742,2.270702 -1.1637032,0.901496 -2.5941115,1.400066 -4.0716846,1.419189 -0.2689,0.0094 -0.538044,-0.0097 -0.8028673,-0.05677 1.507643,0.953857 3.2573461,1.465585 5.0465949,1.475956 6.0788529,0 9.3476699,-4.995545 9.3476699,-9.253112 V 8.041004 c 0.61024,-0.5363151 1.149739,-1.1466482 1.605735,-1.8165619 z"></path></svg>
                </a>
            </div>
        </div>
    </div>
</template>