<template>
    <div class="cswpCalBoxManager-container">
        <c-cswp-Calibration-Box-Upload></c-cswp-Calibration-Box-Upload>
        <c-cswp-Calibration-Box-Search></c-cswp-Calibration-Box-Search>
    </div>
</template>