<template>
    <template if:false={isSubscribed}>
        <lightning-button label={label.SubscribeLabel} title="Subscribe " onclick={handleSubscribe} class="subscribe" variant="success"></lightning-button>
    </template>
    <template if:true={isSubscribed}>
        <lightning-button label={label.UnsubscribeLabel} title="Unsubscribe" onclick={handleUnsubscribe} class="unsubscribe" variant="destructive"></lightning-button>
    </template>
</template>