.cswpWorkspaceActions-container{
    background-color: var(--lwc-colorBackgroundAlt);
}
.cswpWorkspaceActions-container .slds-file-selector__dropzone {
    border: none;
    padding: 0.1rem 0 0 0.25rem;
}