<template>
  <div class="cswpWorkspaceActions-container">
    <div class="slds-form-element__control slds-float_right">
      <button class="slds-button slds-button_neutral">Create folder</button>
      <div class="slds-file-selector slds-file-selector_files">
        <c-cswp-file-upload record-id={recordId}></c-cswp-file-upload>
      </div>
    </div>
  </div>
</template>