<template>
    <template if:true={isNotification}>
        <span aria-hidden="true" class=" slds-show-notification cswp-badge">{notificationNumber}</span>
    </template>
    <template if:true={isNotification}>
        <div class="body notification-container">
            <div class="container">
                <div class="notification_group">
                    <div class="notification_group_name">{label.CSWP_Notification_Header}</div>
                    <template for:each={notifications} for:item="item" for:index="index">
                        <div class="notification" key={item.id}>
                            <span class="slds-m-right_x-small notification_img"><img  src={iconAdv} width="30px"></span></span>
                            <span class="notification_link"><a onclick={navigateToNotification} data-id={item.id}>{item.notificationName}</a></span>
                            <span class="notification_date"><a onclick={navigateToNotification} data-id={item.id}>{item.notificationStartDate}</a></span>
                        </div>
                    </template>
                </div>
                <template if:true={seeAll}>
                    <div class="slds-float_right">
                        <span><a class="cswp-see-all" onclick={navigateToNotificationManager}>{label.CSWP_Notification_See_All}</a></span>
                    </div>
                </template>
            </div>
        </div>
    </template>
    <template if:false={isNotification}>
        <div class="body notification-container">
            <div class="container">
                <p class="message">{label.CSWP_No_Notification_Message}</p>
            </div>
        </div>
    </template>
</template>