.body {
    font-family: 'rubik-regular';
    position: absolute;
    z-index: 1;
    left: -199px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 3px 0;;
    background-color: white;
}

.container {
    background-color: white;
    width: 350px;
    padding: 25px;
}

/* .notification_group {
    border-bottom: 0.5px solid #90A4AE;
    padding-bottom: 15px;
    margin-bottom: 20px;
} */

.notification:last-child {
    border: none;
    padding-bottom: 0px;
    margin-bottom: 20px
}

.notification_group_name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.notification {
    margin-top: 10px;
    border-bottom: 0.5px solid #90A4AE;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.notification_link {
    margin-left: 5px;
}

.notification_date {
    margin-left: 5px;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #007AFF;
}

.cswp-badge {
    position: absolute;
    font-size: 0.625rem;
    right: 8px;
    top: 0;
    min-height: 1.1rem;
    min-width: 1.1rem;
    background-color: #FF3B30;
    border-radius: 50%;
    color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

.cswp-see-all {
    color: #007AFF;
}

.cswp-see-all:hover {
    color: #0060C9;
}

.hidden-notification {
    display: none;
}

.message {
    text-align: center;
}

@media only screen and (max-width: 376px) {
    .body {
        left: -110px;
    }
}