<template>
    <div class="slds-box slds-theme_shade">
        <!-- <lightning-combobox
        label="Permission Set"
        value={selectedPermissionSet}
        placeholder="Select Permission Set"
        options={options}
        onchange={handleChange} ></lightning-combobox> -->
        <lightning-datatable
            key-field="id"
            data={tableData}
            columns={columns}
            onrowselection={getSelectedPermissionSets}>>
        </lightning-datatable>
    </div>
    <div style="padding-top: 15px; text-align: center;">
        <lightning-button
            label="Submit"
            variant="brand"
            onclick={assignPermissioSet}>
        </lightning-button>
    </div>
</template>