<template>
    <div class="c-header__second-row c-header__breadcrumb">
        <div class="slds-grid c-header__breadcrumb slds-wrap">
            <div class="slds-col c-header__breadcrumb-logo">
                <img src={myAdvantest}>
            </div>
        </div>
    </div>
</template>