<template>
    <div class="c-header__second-row c-header__breadcrumb">
        <div class="slds-grid c-header__breadcrumb slds-wrap">
            <div class="slds-col c-header__breadcrumb-logo">
                <img src={myAdvantest}>
            </div>
            <div class="slds-col c-header__breadcrumb-item" data-name="Home" onclick={goPage}>{label.home}</div>
            <div class="slds-col c-header__breadcrumb-item" data-name="Topic_Catalog" onclick={goPage}>{label.topic_catalog}</div>
            <template if:false={urlNameValid}>
                <div class="slds-col c-header__breadcrumb-item">{recordName}</div>
            </template>
            <template if:true={urlNameValid}>
                <div class="slds-col c-header__breadcrumb-item" onclick={goTopicPage}>{recordName}</div>
                <div class="slds-col c-header__breadcrumb-item">{urlName}</div>
            </template>
        </div>
    </div>
</template>