.c-header__breadcrumb {
    display: flex;
    align-items: center;
}

.c-header__breadcrumb-item:last-child {
    font-family: 'rubik-medium';
}

.c-header__breadcrumb-item:not(:last-child) {
    cursor: pointer;
}

.c-header__breadcrumb-item:not(:last-child):after {
    content: ' /';
}

.c-header__breadcrumb-item:before {
    content: '\00a0';
}

.c-header__breadcrumb-item:nth-child(2):before {
    content: '';
}

@media only screen and (max-width: 376px) {
    .c-header__breadcrumb {
        margin-top: 8px;
    }
}