<template>
    <div class="c-header__menu-container">
        <div class="c-header__menu-item dropdown">
            <button class="dropbtn">{label.services}</button>
            <div class="dropdown-content">
                <template for:each={navitems} for:item="nav">
                    <a key={nav.Id} data-name={nav.link} onclick={goPage}>{nav.title}</a>
                </template>
            </div>
        </div>
        <div class="c-header__menu-item">
            <a data-name={label.Nav_Item_Link_1} onclick={goPage}>{label.cswp_contact_us}</a>
        </div>
        <template if:true={renderFAQ}>
            <div class="c-header__menu-item">
                <a data-name={label.Nav_Item_Link_2} onclick={goPage}>{label.cswp_topic_faq}</a>
            </div>
        </template>
    </div>
</template>