<template>
    <div class="cswpConsultancyManager-container">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-1 slds-small-size_1-of-2">
                <div class="l-chart-container">
                    <p class="section-title">{label.cswp_upload_calibration_label}</p>
                    <template if:true={isFSE}>
                        <div class="slds-col slds-size_1-of-1 slds-m-top_large body-default">
                            <p>{label.cswp_select_account_first}</p>
                            <lightning-record-edit-form object-api-name="Cswp_Calibration_Box_Data__c" id="FseAccountSelection" >
                                <lightning-input-field field-name="Cswp_FSE_Customer_Name__c" variant="label-hidden" onchange={handleAccountSelection} required> </lightning-input-field>
                            </lightning-record-edit-form>
                        </div>
                    </template>
                    <template if:true={isUploadReady}>
                        <div class="slds-file-selector slds-file-selector_files">
                            <div class="slds-file-selector__dropzone">
                                <lightning-file-upload
                                        label=""
                                        name="fileUploader"
                                        accept={acceptedFormats}
                                        record-id={myRecordId}
                                        onuploadfinished={handleUploadFinished}>
                                </lightning-file-upload>
                                <div class="spinner">
                                    <template if:true={isLoading}>
                                        <lightning-spinner alternative-text="Validating" variant="brand" size="large">
                                        </lightning-spinner>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </template>
                    <!-- Uploader  End -->
                    <div class="slds-col slds-size_1-of-1 body-default">
                        <p>{label.cswp_calbox_content_1}</p>
                        <p><span class="slds-m-right_large">1.</span>{label.cswp_calbox_content_2}</p>
                        <p><span class="slds-m-right_large">2.</span>{label.cswpcalbox_text_1}</p>
                        <p><span class="slds-m-right_large">3.</span>{label.cswpcalbox_text_2}</p> 
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-small-size_1-of-2 mobile-m-2">
                <div class="l-action-container">
                    <p class="section-title">{label.cswp_calbox_content_3}</p>
                    <!--<a class="link-1" href="javascript:void(0)" onclick={openSignatureModal}>{label.cswp_calbox_content_3}</a>-->                    
                    <div class="slds-file-selector slds-file-selector_files">
                        <div class="slds-file-selector__dropzone">
                            <lightning-file-upload
                                    label=""
                                    name="fileUploader"
                                    accept={acceptedSignatureFormats}
                                    record-id={myRecordId}
                                    onuploadfinished={handleSignatureUploadFinished}>
                            </lightning-file-upload>
                        </div>
                    </div>
                    <div class="slds-col slds-m-top_large">
                        {label.cswp_calbox_signatureupload_msg}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>