.cswpConsultancyManager-container .l-chart-container,
.cswpConsultancyManager-container .l-action-container {
    /* margin: 0 1rem; */
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    min-height: 233px;
}

/* .cswpConsultancyManager-container .l-chart-container {
    margin-left: 0;
}

.cswpConsultancyManager-container .l-action-container {
    margin-right: 0;
} */

.cswpConsultancyManager-container .section-title {
    font-size: 1.5rem;
}

/* desktop */
@media only screen and (min-width: 376px) {

    .cswpConsultancyManager-container .l-chart-container,
    .cswpConsultancyManager-container .l-action-container {
        margin: 0 1rem;
    }

    .cswpConsultancyManager-container .l-chart-container {
        margin-left: 0;
    }

    .cswpConsultancyManager-container .l-action-container {
        margin-right: 0;
    }
}

/* mobile */
@media only screen and (max-width: 376px) {

    .mobile-m-2 {
        margin-top: 24px;
    }

    .cswpConsultancyManager-container {
        margin-left: 16px;
        margin-right: 16px;
    }
}