<template>
    <div>
        <div class="group-users-container">
            <lightning-layout>
                <article class="slds-card lightning-card">
                    <div class="slds-card__header slds-grid slds-theme_shade">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate ">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="standard:user" size="small"></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <a class="slds-card__header-link"> Group Users ({recordCount})</a>
                        </div>
                        <div class="slds-no-flex">
                            <lightning-button label="Activate Users"  variant="brand"  onclick={handleActivateRecord}></lightning-button>
                        </div>
                        <div class="slds-no-flex">
                            <lightning-button label="Deactivate Users" onclick={handleDeactivateRecord}></lightning-button>
                        </div>
                    </header>
                    </div>
                        <div class="group-users">
                            <div class="slds-col slds-size_4-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium">
                                <lightning-input placeholder={label.SearchLabel} class="search" label={label.cswp_calbox_search_text} value={tableKeyword} onchange={setTableKeyword} ></lightning-input>
                            </div>
                            <lightning-datatable class="related-list"
                                                onrowaction={handleRowAction}
                                                columns={columns}
                                                data={records}
                                                key-field="Id"
                                                sorted-by={sortBy}
                                                sorted-direction={sortDirection}
                                                onsort={doSorting}
                                                hide-checkbox-column="true"
                                                >
                            </lightning-datatable>
                        </div>
                </article>
            </lightning-layout>
            <template if:true={isModalOpen}>
                <!-- Modal/Popup Box LWC starts here -->
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <!-- Modal/Popup Box LWC header here -->
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                <lightning-icon icon-name="utility:close"
                                    alternative-text="close"
                                    variant="inverse"
                                    size="small" ></lightning-icon>
                                <span class="slds-assistive-text">{label.cswp_calboxtable_close}</span>
                            </button>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{label.PopUpTitleLabel}</h2>
                        </header>
                        <!-- Modal/Popup Box LWC body starts here -->
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <div class="slds-col slds-size_4-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium">
                                <lightning-input placeholder={label.SearchLabel} class="search" label={label.cswp_calbox_search_text} value={keyword} onchange={setKeyword} ></lightning-input>
                            </div>
                            <lightning-datatable
                                key-field="id"
                                data={userSelectionData}
                                sorted-by={sortByOnActivateTable}
                                sorted-direction={sortDirectionOnActivateTable}
                                onsort={doSortingOnActivateTable}
                                columns={userSelectionColumns}
                                onrowselection={getSelectedUsers}>>
                            </lightning-datatable>
                        </div>
                        <!-- Modal/Popup Box LWC footer starts here -->
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" onclick={closeModal} title={label.CloseLabel}>{label.CloseLabel}</button>
                            <button class="slds-button slds-button_brand" onclick={submitDetails} title={label.SubmitLabel}>{label.SubmitLabel}</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </template>

            <template if:true={isRemoveModalOpen}>
                <!-- Modal/Popup Box LWC starts here -->
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <!-- Modal/Popup Box LWC header here -->
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small" ></lightning-icon>
                                <span class="slds-assistive-text">{label.cswp_calboxtable_close}</span>
                            </button>
                            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">{label.PopUpTitleRemoveLabel}</h2>
                        </header>
                        <!-- Modal/Popup Box LWC body starts here -->
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                            <div class="slds-col slds-size_4-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium">
                                <lightning-input placeholder={label.SearchLabel} class="search" label={label.cswp_calbox_search_text} value={removeKeyword} onchange={setRemoveKeyword} ></lightning-input>
                            </div>
                            <lightning-datatable
                                key-field="id"
                                data={removeUserSelectionData}
                                sorted-by={sortByOnDeactivateTable}
                                sorted-direction={sortDirectionOnDeactivateTable}
                                onsort={doSortingOnDeactivateTable}
                                columns={removeUserSelectionColumns}
                                onrowselection={getSelectedRemoveUsers}>>
                            </lightning-datatable>
                        </div>
                        <!-- Modal/Popup Box LWC footer starts here -->
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" onclick={closeModal} title={label.CloseLabel}>{label.CloseLabel}</button>
                            <button class="slds-button slds-button_brand" onclick={removeUsersFromCswpGroup} title={label.SubmitLabel}>{label.SubmitLabel}</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </template>
        </div>
    </div>
</template>