<template>
    <!-- <img src={iconApps}/> -->
    <div class="body app-container">
        <div class="container">
            <div class="app_group">
                <div class="app_group_name">Self services</div>
                <div class="app">
                    <span class="app_img"><img  src={iconAdv} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">myAdvantest</a></span>
                </div>
                <div class="app">
                    <span class="app_img"><img  src={iconAdv} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">myAdvantest Shop</a></span>
                </div>
                <div class="app">
                    <span class="app_img"><img  src={iconAdv} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">myAdvantest Entitlements</a></span>
                </div>
                <div class="app">
                    <span class="app_img"><img  src={iconAdv} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">License Portal</a></span>
                </div>
            </div>
            <div class="app_group">
                <div class="app_group_name">Products</div>
                <div class="app">
                    <span class="app_img"><img  src={iconAdv} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">Advantest Dojo</a></span>
                </div>
                <div class="app">
                    <span class="app_img"><img  src={iconAcs} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">ACS SmartInsight</a></span>
                </div>
                <div class="app">
                    <span class="app_img"><img  src={iconAcs} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">ACS TE-Cloud</a></span>
                </div>
                <div class="app">
                    <span class="app_img"><img  src={iconAcs} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">ACS TestIP Store</a></span>
                </div>
                <div class="app">
                    <span class="app_img"><img  src={iconAdv} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">Software Center</a></span>
                </div>
            </div>
            <div class="app_group">
                <div class="app_group_name">Support</div>
                <div class="app">
                    <span class="app_img"><img  src={iconAdv} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">Customer Support (CSWP)</a></span>
                </div>
                <div class="app">
                    <span class="app_img"><img  src={iconAdv} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">Technical Documentation Center (TDC)</a></span>
                </div>
                <div class="app">
                    <span class="app_img"><img  src={iconAdv} width="15px"></span></span>
                    <span class="app_link"><a href="#" target="_blank">...</a></span>
                </div>
            </div>
        </div>
    </div>
</template>