.body {
    font-family: 'rubik-regular';
    position: absolute;
    z-index: 1;
    left: -145px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 3px 0;;
    background-color: white;
}

.container {
    background-color: white;
    width: 350px;
    padding: 25px;
}

.app_group {
    border-bottom: 0.5px solid #90A4AE;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.app_group:last-child {
    border: none;
    padding-bottom: 0px;
    margin-bottom: 20px
}

.app_group_name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.app {
    margin-top: 10px;
}

.app_link {
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #007AFF;
}

@media only screen and (max-width: 376px) {
    .body {
        left: -110px;
    }
}