<template>
    <div class="cswpHomePageManager-container homepage">
        <c-cswp-nav-manager has-access={hasAccess} message={message.notificationContent}></c-cswp-nav-manager>
        <template if:true={documentSharingAccess}>
            <div class="slds-grid slds-wrap homepage__document-sharing">
                <div class="slds-col slds-size_1-of-1 b-section-title">
                    <span>{label.document_sharing_overview}</span>
                </div>
                <div class="slds-col slds-small-size_1-of-1 slds-large-size_1-of-5">
                    <c-cswp-progress-bar></c-cswp-progress-bar>
                </div>
                <div class="slds-col slds-small-size_1-of-1 slds-large-size_2-of-5">
                    <c-cswp-last-added-files-manager></c-cswp-last-added-files-manager>
                </div>
                <div class="slds-col slds-small-size_1-of-1 slds-large-size_2-of-5">
                    <c-cswp-last-modifiled-files-manager></c-cswp-last-modifiled-files-manager>
                </div>
            </div>
        </template>
        <div class="slds-grid slds-wrap slds-gutters">
            <template if:true={technicalDocumentsAccess}>
                <div class="slds-col slds-small-size_1-of-1 slds-large-size_1-of-2 homepage__technical-documents">
                    <c-cswp-tech-doc-manager></c-cswp-tech-doc-manager>
                </div>
            </template>
            <template if:true={v93LicensesAccess}>
                <div class="slds-col slds-small-size_1-of-1 slds-large-size_1-of-2 homepage__v-licenses">
                    <c-cswp-v93000-manager></c-cswp-v93000-manager>
                </div>
            </template>
        </div>
  <!--       <button class="slds-button slds-button_neutral" onclick={toggleModal}>Open Modal</button> -->
        <template if:true={isModalOpen}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                  <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                        </lightning-icon>
                      <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">System Notifications</h2>
                  </header>
                  <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                      <c-cswp-system-notification-manager></c-cswp-system-notification-manager>
                  </div>
                  <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal}>Close</button>
                  </footer>
                </div>
              </section>
              <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </div>
</template>