<template>
    <div class="slds-grid slds-wrap homepage__navigation">
        <div class="slds-col slds-size_1-of-1 b-section-title">
            <span>{label.your_services}</span>
        </div>
        <div class="cswp-message-container">
            <template if:false={hasAccess}>
                <lightning-formatted-rich-text value={message}>
                </lightning-formatted-rich-text>
            </template>
        </div>
        <template for:each={navitems} for:item="nav">
            <div key={nav.Id} class="slds-col slds-small-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4">
                <c-cswp-card image={nav.image} title={nav.title} text={nav.text} link={nav.link} link-target={nav.linkTarget}></c-cswp-card>
            </div>
        </template>
    </div>
</template>