<template>
    <div class="cswpLastAddedFilesManager-container">
        <article class="slds-card">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title slds-m-left_medium">
                        <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title={label.recentlyAddedFiles}>
                            <span onclick={handleClick}>{label.recentlyAddedFiles}</span>
                        </a>
                        </h2>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-card__body_inner">
                <lightning-datatable columns={columns} data={fileList} key-field="id" hide-checkbox-column="true">
                </lightning-datatable>
            </div>
        </article>
    </div>
</template>