.cswpWorkspaceManager-container,
.cswpWorkspaceManager-container__document-sharing {
    background-color: var(--lwc-colorBackgroundAlt);
    border-radius: 10px;
    padding: 2rem;
}

.cswpWorkspaceManager-container__document-sharing {
    margin-top: 1.5rem;
}

.cswpWorkspaceManager-container .table-navigation {
    border: solid 1px #D4D4D4;
}

.cswpWorkspaceManager-container .table-data {
    border: solid 1px #D4D4D4;
    border-left: none;
    border-bottom: none;
}
.cswpWorkspaceManager-container .cswp-file-upload-cmp span{
    display: none;
}

@media only screen and (max-width: 376px) {

    .mobile-m-1 {
        margin-top: 16px;
    }
}