<template>
    <div class="cswpWorkspaceManager-container">
        <!-- HEADER ROW -->
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-1 slds-small-size_10-of-12">
                <!-- BREADCRUMB -->
                <c-cswp-workspace-breadcrumb workspace-id={workspaceId} breadcrumb={path}
                    onnavigated={handleNavigation}></c-cswp-workspace-breadcrumb>
            </div>
            <template if:true={isClient}>
                <div class="slds-col slds-size_1-of-1 slds-small-size_2-of-12 mobile-m-1" if:true={isSearchable}>
                    <lightning-input id="wsm-search" variant="label-hidden" type="search"
                        placeholder={labels.cswp_action_search} onkeyup={handleSearch} oncommit={handleSearch}>
                    </lightning-input>
                    <!--oncommit={handleSearch}-->
                </div>
            </template>
        </div>
        <!-- TABLE ROW -->
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-small-size_1-of-1 slds-medium-size_2-of-12 table-navigation">
                <!-- NAVIGATION -->
                <template if:true={userInfo.data}>
                    <c-cswp-workspace-navigation label={navigationLabel} is-client={isClient}
                        workspace-type={workspaceType} onnotify={handleSelection}></c-cswp-workspace-navigation>
                </template>
            </div>
            <div class="slds-col slds-small-size_1-of-1 slds-medium-size_10-of-12 table-data">
                <template if:true={userInfo.data}>
                    <c-cswp-workspace-table user-info={userInfo.data} workspace-type={workspaceType}
                        onpathchanged={handlePathChanged} ongodetail={handleSpaceChanged} onrowactiondone={handleRowActionDone}>
                    </c-cswp-workspace-table>
                </template>
            </div>
        </div>
        <!-- ACTIONS ROW -->
        <div class="slds-grid slds-grid_align-end slds-grid_vertical-align-center slds-wrap">
            <template if:true={isClient}>
                <div class="slds-col">
                    <button class="slds-button slds-button_neutral" if:true={canCreateFolder}
                        onclick={openCreateModal}>{labels.cswp_action_create_folder}</button>
                    <c-edit-record-modal onformsuccess={handleSuccessForm}></c-edit-record-modal>
                </div>
            </template>
            <template if:true={canFileUpload}>
                <div class="slds-col slds-p-right_medium">
                    <c-cswp-file-upload if:true={workspaceId} record-id={workspaceId} onfileuploaddone={handleFileUploadDone}></c-cswp-file-upload>
                </div>
            </template>
            <template if:true={canSubscribe}>
                <div class="slds-col mobile-m-1 slds-p-left_medium">
                    <c-cswp-workspace-subscription if:true={workspaceId} workspace-id-param={workspaceId}>
                    </c-cswp-workspace-subscription>
                </div>
            </template>
        </div>
    </div>
    <div class="cswpWorkspaceManager-container slds-m-top_large doc-sharing">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-small-size_1-of-1 slds-large-size_1-of-5">
                <c-cswp-progress-bar></c-cswp-progress-bar>
            </div>
            <div class="slds-col slds-small-size_1-of-1 slds-large-size_2-of-5">
                <c-cswp-last-added-files-manager></c-cswp-last-added-files-manager>
            </div>
            <div class="slds-col slds-small-size_1-of-1 slds-large-size_2-of-5">
                <c-cswp-last-modifiled-files-manager></c-cswp-last-modifiled-files-manager>
            </div>
        </div>
    </div>
</template>