<template>
    <div class="cswpConsultancyManager-container">
        <div class="slds-grid slds-wrap l-action-container">
            <div class="slds-col slds-size_1-of-1">
                <p class="section-title">{label.AE_Overview}</p>
                <!-- MODAL -->
                <template if:true={isTicketModalVisible}>
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open submit-ticket">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button
                                    class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title={label.AE_TicketModalClose} onclick={hideTicketModal}>
                                    <lightning-icon icon-name="utility:close" alternative-text="close"
                                        variant="inverse" size="small"></lightning-icon>
                                    <span class="slds-assistive-text">{label.AE_TicketModalClose}</span>
                                </button>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                                    {label.AE_SubmitTicketHeader}</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-21">
                                <div class="slds-col--padded slds-size--1-of-1 ticket-form">
                                    <lightning-record-edit-form object-api-name="Case" onload={formLoad} onsubmit={formSubmit} onsuccess={formSuccess} onerror={formError}>
                                        <div if:false={modalInit} class="slds-col--padded slds-size--1-of-1">
                                            <lightning-spinner alternative-text="Loading" variant="brand"
                                                    size="medium"></lightning-spinner>
                                        </div>
                                        <div if:false={formCompleted} class="slds-col--padded slds-size--1-of-1">
                                            <lightning-spinner alternative-text="Loading" variant="brand"
                                                size="medium"></lightning-spinner>
                                        </div>
                                        <lightning-messages></lightning-messages>
                                        <lightning-input-field field-name="ContactId" style="display:none"></lightning-input-field>
                                        <template if:true={displayProject}>
                                            <lightning-combobox
                                                class="jira-project slds-m-bottom_x-small"
                                                label="Project"
                                                placeholder="Select Project"
                                                options={jiraProjects}
                                                required
                                                >
                                            </lightning-combobox>
                                        </template>
                                        <lightning-input-field field-name="Subject" required></lightning-input-field>
                                        <lightning-input-field field-name="Priority" class="submit-ticket-priority" required></lightning-input-field>
                                        <lightning-input-field field-name="Description" required></lightning-input-field>
                                        <lightning-input-field class="jira-project-field" style="display:none" field-name="Cswp_Jira_Project__c"></lightning-input-field>
                                        <lightning-input-field class="assignee-field" style="display:none" field-name="Cswp_Assignee__c"></lightning-input-field>
                                        <lightning-input-field class="assignee-id-field" style="display:none" field-name="Cswp_Default_Assignee_ID__c"></lightning-input-field>
                                        <lightning-input-field class="jira-customer-field" style="display:none" field-name="Cswp_Jira_Customer__c"></lightning-input-field>
                                        <div if:true={modalInit} class="slds-form-element slds-form-element_stacked slds-grid slds-grid_align-end">
                                            <lightning-button variant="neutral" name="cancel" label={label.AE_CancelButton} class="slds-m-right_x-small" onclick={hideTicketModal}></lightning-button>
                                            <lightning-button variant="brand" type="submit" name="submit" label={label.AE_SubmitButton}></lightning-button>
                                        </div>
                                    </lightning-record-edit-form>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </template>
            </div>
            <template if:true={availableContract}>
                <template if:false={displayJiraProjectWarning}>
                    <div class="slds-col slds-size_1-of-1 slds-m-bottom_xxx-small">
                        <span class="time-spent-label b-title">{label.AE_TimeSpent}     </span>
                        <span  style="margin-left: 26px;" class="time-spent-value">{formattedTimeSpent}</span>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-grid slds-grid_vertical-align-center slds-wrap">
                            <template if:false={totalHoursExceed}>
                                <template if:true={hasActiveContract}>
                                    <div class="slds-col slds-size_1-of-1 slds-small-size_1-of-12 b-title">
                                        {label.AE_Remaining}
                                    </div>
                                    <div class="slds-col slds-size_1-of-1 slds-small-size_2-of-12">
                                        <lightning-progress-bar value={remainingEstimateForProgressBar}></lightning-progress-bar>
                                    </div>
                                    <div class="slds-col slds-size_1-of-1 slds-small-size_2-of-12" style="text-align: center;">
                                        {formattedRemainingEstimate} {label.AE_Of} {formattedTotalEstimate}
                                    </div>
                                </template>
                            </template>
                            <template if:true={hasActiveContract}>
                                <template if:true={totalHoursExceed}>
                                    <p style="margin-left : 8px;">{label.AE_TotalHoursExceed}</p>
                                </template>
                            </template>
                        </div>
                    </div>
                    <div style="margin-top : 10px;" class="slds-col slds-size_1-of-1">
                        <template if:true={hasActiveContract}>
                            <template if:false={totalHoursExceed}>
                                <lightning-button variant="brand" label={label.AE_SubmitTicket} title={label.AE_SubmitTicket} onclick={showTicketModal}></lightning-button>
                            </template>
                        </template>
                        <template if:false={hasActiveContract}>
                            <p>{label.AE_ContractTerminated}</p>
                            <div class="link-mockup">
                                <span>{label.AE_Please_Contact}</span>
                            <a href={label.AE_mail_to}> {label.AE_Support_Mail}</a>
                                <span> {label.AE_Extend_Contract}</span>
                            </div>
                        </template>
                        <template if:true={hasActiveContract}>
                            <template if:true={totalHoursExceed}>
                                <div class="link-mockup">
                                    <span>{label.AE_Please_Contact}</span>
                                <a href={label.AE_mail_to}> {label.AE_Support_Mail}</a>
                                    <span> {label.AE_Extend_Contract}</span>
                                </div>
                            </template>
                        </template>
                    </div>
                </template>
            </template>
            <template if:false={availableContract}>
                <div class="link-mockup">
                    <span>{label.CSWP_No_Jira_Project_Available}</span>
                <a href={label.AE_mail_to}> {label.AE_Support_Mail}</a>
                </div>
            </template>
            <template if:true={availableContract}>
                <template if:true={displayJiraProjectWarning}>
                    <div class="link-mockup">
                        <span>{label.CSWP_No_Jira_Project_Available}</span>
                    <a href={label.AE_mail_to}> {label.AE_Support_Mail}</a>
                    </div>
                </template>
            </template>
        </div>
        <div class="slds-grid">
            <div class="slds-col">
                <div class="l-table-container">
                    <p class="section-title">{label.AE_ServiceHistory}</p>
                    <div class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
                        <div class="slds-col slds-size_11-of-12 slds-small-size_3-of-12">
                            <lightning-input class="search" label={label.cswp_calbox_search_text} value={keyword} onchange={setKeyword} ></lightning-input>
                        </div>
                        <div class="slds-col slds-size_1-of-12 slds-m-top_medium slds-col_bump-right helptext">
                            <lightning-helptext content={label.AE_SearchForTickets}></lightning-helptext>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-small-size_6-of-12" style="text-align: right;">
                            <button class="slds-button button_style-secondary slds-m-top_large slds-m-left_large" onclick={openAdvancedSearchModal}>
                                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                    <use xlink:href="/sfsites/c/_slds/icons/utility-sprite/svg/symbols.svg#search"></use>
                                </svg>{label.cswp_calbox_advanced_search}
                            </button>
                        </div>
                    </div>
                    <div class="slds-grid service-table">
                        <div class="slds-col slds-size_1-of-1">
                            <c-cswp-custom-lightning-datatable
                                class="consultancy-table"
                                key-field="id"
                                data={consultancyData} 
                                sorted-by={sortBy}
                                sorted-direction={sortDirection}
                                onsort={doSorting}
                                columns={consultancyColumns}
                                hide-checkbox-column>
                            </c-cswp-custom-lightning-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template if:true={isAdvancedSearchModalOpen}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={label.cswp_calboxtable_close} onclick={closeAdvancedSearchModal}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                            <span class="slds-assistive-text">{label.cswp_calboxtable_close}</span>
                        </button>
                        <h2 id="modal-heading-05" class="slds-text-heading_medium slds-hyphenate">{label.cswp_calbox_advanced_search}</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <!-- Search Form -->
                        <div class="slds-form calbox-search-form">
                            <div class="slds-form-element slds-form-element_horizontal adv-search-status">
                                <label for="input-115" class="slds-form-element__label slds-no-flex">{label.cswp_status}</label>
                                <div class="slds-form-element__control">
                                    <div class="slds-form-element">
                                        <lightning-combobox
                                            class="adv-status-input"
                                            name="status"
                                            value={caseStatusParam}
                                            placeholder={label.PleaseSelectLabel}
                                            options={statusPicklist.data.values}
                                            onchange={caseStatusParamChanged} >
                                        </lightning-combobox>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element slds-form-element_horizontal">
                                <lightning-input label={label.cswp_createdby} value={createdParam} type="text" onchange={createdParamChanged}></lightning-input>
                            </div>
                            <div class="slds-form-element slds-form-element_horizontal">
                                <lightning-input type="text" label={label.cswp_assignee} value={assigneeParam} onchange={assigneeParamChanged}></lightning-input>
                            </div>
                        </div>
                        <!-- Search Form End-->
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_brand" title={label.cswp_calbox_search_text} onclick={operateAdvancedSearchModal}>{label.cswp_calbox_search_text}</button>
                        <button class="slds-button slds-button_neutral" onclick={closeAdvancedSearchModal} title={label.cswp_calbox_cancel_text}>{label.cswp_calbox_cancel_text}</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </div>
</template>