.cswpConsultancyManager-container .slds-modal__content {
    min-height: 250px;
}

.cswpConsultancyManager-container .slds-spinner_container {
    max-height: 33.4rem;
    top: 22.9%;
}

.cswpConsultancyManager-container .section-title {
    font-size: 1.5rem;
}

.b-title {
    font-family: 'rubik-medium';
}

/* The rules below are for the community builder's Edit CSS Tool. */

/* lightning-base-combobox lightning-base-combobox-item:first-child {
    display: none;
} */