<template>
  <div if:false={isLoading} class="cswpWorkspaceNavigation-container"> 
      <lightning-vertical-navigation selected-item={selectedItem} onselect={handleSelect}>
        <lightning-vertical-navigation-section if:true={isClient} label={labels.cswp_nav_item_other}>
          <lightning-vertical-navigation-item-icon label={labels.cswp_nav_item_recent} 
          name="recent" icon-name="utility:clock">
          </lightning-vertical-navigation-item-icon>
        </lightning-vertical-navigation-section>
        <lightning-vertical-navigation-section if:true={workspaces} label={label}>
            <template for:each={workspaces} for:index="index" for:item="ws">
              <template if:false={ws.cswp_Is_External_URL__c}>
                <lightning-vertical-navigation-item-icon key={ws.Id} label={ws.Name} name={ws.Id}
                  icon-name="doctype:library_folder"></lightning-vertical-navigation-item-icon>
              </template>
              <template if:true={ws.cswp_Is_External_URL__c}>
                <lightning-button key={ws.Id} class="slds-nav-vertical__action workspace-ext-url" icon-name="doctype:library_folder" variant="base" label={ws.Name} title={ws.Name} data-exturl={ws.cswp_External_URL__c} onclick={goToURL}></lightning-button>
              </template>
            </template>
          <template if:false={workspaces}>
            <lightning-vertical-navigation-item-icon icon-name="standard:first_non_empty" label={label.cswp_nolibrary} name="noitem">
            </lightning-vertical-navigation-item-icon>
          </template>
        </lightning-vertical-navigation-section>
    </lightning-vertical-navigation>      
  </div>
  <template if:true={isLoading}>
    <lightning-spinner alternative-text="Loading" variant="brand" size="medium"></lightning-spinner>
  </template>
</template>