<template>
    <div class="cswpTicketManager-container">
        <div class="slds-grid slds-grid_vertical">
            <div class="slds-col cswp-ticket-container">
                <h2>{label.OpenTickets}</h2>
                <ul>
                    <template if:true={ticketList}>
                        <template for:each={ticketList} for:item="ticket">
                            <li key={ticket.Id}>
                                <a onclick={goToCase} data-id={ticket.Id}>#{ticket.CaseNumber} &nbsp; {ticket.Subject} </a>
                            </li>
                        </template>
                        <template if:true={showLoadMoreIcon}>
                            <li>
                                <a onclick={loadMoreCases}>...</a>
                            </li>
                        </template>
                        <template if:false={showLoadMoreIcon}>
                            <li>
                                <i>{label.NoMoreRecords}...</i>
                            </li>
                        </template>
                    </template>
                </ul>
            </div>
            <div class="slds-col cswp-ticket-container">
                <h2>{label.TicketsReportedByMe}</h2>
                <ul>
                    <template if:true={myTicketList}>
                        <template for:each={myTicketList} for:item="ticket">
                            <li key={ticket.Id}>
                                <a onclick={goToCase} data-id={ticket.Id}>#{ticket.CaseNumber} &nbsp; {ticket.Subject}</a>
                            </li>
                        </template>

                        <template if:true={showLoadMoreIconForMyCases}>
                            <li>
                                <a onclick={loadMoreMyCases}>...</a>
                            </li>
                        </template>
                        <template if:false={showLoadMoreIconForMyCases}>
                            <li>
                                <i>{label.NoMoreRecords}...</i>
                            </li>
                        </template>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</template>