.cswpTicketManager-container h2 {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.cswpTicketManager-container li {
    padding: 16px;
    padding-left: 0;
    height: 52px;
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(236, 239, 241));
}

.cswpTicketManager-container li a {
    color: var(--lwc-colorTextDefault);
}

.cswp-ticket-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
}