<template>
    <div class="progressBar-container">
        <div class="progressBar-inner slds-card">
            <div class="slds-m-bottom_medium slds-text-align_center slds-grid slds-grid_vertical-align-center slds-grid_align-center">
                <div class="slds-text-heading_medium">{label.storageLabel}</div>
            </div>
            <lightning-progress-bar value={progress}></lightning-progress-bar>
            <div class="slds-text-heading_small slds-text-align_center slds-m-bottom_medium slds-m-top_small">{currentStorage} {label.of} {storageLimit} {label.gbUsed}</div>
            <template if:true={showWarning}>
                <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error">
                    {label.storageWarning}
                </div>
            </template>
        </div>
    </div>
</template>