.cswpList-container {
    border: solid #F4F4F4 1px;
    border-radius: 1%;
    padding: 0.5rem;
    transition: 0.5s;
}

.cswpList-container:hover {
    box-shadow: 0px 0px 20px 2px;
}

.cswpList-container .title:hover {
    cursor:pointer;
    text-decoration: underline;
}

.cswpList-container li {
    cursor: pointer;
}

.cswpList-container li:last-child {
    border-bottom: none;
}

.cswpList-container li:hover {
    background-color: #F4F4F4;
}

.cswpList-container a:hover, .cswpList-container a:focus {
    text-decoration: none;
}