<template>
    <div class="cswpList-container">
        <div class="slds-text-heading_medium slds-text-align_center slds-m-bottom_medium title"  onclick={handleClick}>
            {title}
        </div>
        <ul class="slds-has-dividers_bottom-space">
            <li class="slds-item">
                <a target="_blank" href={link1} >{item1}</a>
            </li>
            <li class="slds-item">
                <a target="_blank" href={link2}>{item2}</a>
            </li>
            <li class="slds-item">
                <a target="_blank" href={link3}>{item3}</a>
            </li>
            <li class="slds-item">
                <a target="_blank" href={link4}>{item4}</a>
            </li>
            <li class="slds-item">
                <a target="_blank" href={link5}>{item5}</a>
            </li>
        </ul>
    </div>
</template>