<template>
  <div class="slds-illustration slds-illustration_small">
    <svg class="slds-illustration__svg" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-14.000000, -27.000000)">
          <g transform="translate(16.000000, 29.000000)">
            <g transform="translate(72.000000, 0.000000)">
              <g class="slds-illustration__fill-secondary" fill-rule="nonzero">
                <path vector-effect="non-scaling-stroke"
                  d="M30.5,0 L30.5,0 C47.3446849,-3.09431841e-15 61,13.6553151 61,30.5 L61,60 L0,60 L0,30.5 C-2.06287894e-15,13.6553151 13.6553151,3.09431841e-15 30.5,0 Z">
                </path>
                <path vector-effect="non-scaling-stroke"
                  d="M93.5,0 L93.5,0 C110.344685,-3.09431841e-15 124,13.6553151 124,30.5 L124,60 L63,60 L63,30.5 C63,13.6553151 76.6553151,3.09431841e-15 93.5,0 Z">
                </path>
              </g>
              <g class="slds-illustration__stroke-primary" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="3">
                <path vector-effect="non-scaling-stroke"
                  d="M30.5,0 L30.5,0 C47.3446849,-3.09431841e-15 61,13.6553151 61,30.5 L61,60 L0,60 L0,30.5 C-2.06287894e-15,13.6553151 13.6553151,3.09431841e-15 30.5,0 Z">
                </path>
                <path vector-effect="non-scaling-stroke"
                  d="M93.5,0 L93.5,0 C110.344685,-3.09431841e-15 124,13.6553151 124,30.5 L124,60 L63,60 L63,30.5 C63,13.6553151 76.6553151,3.09431841e-15 93.5,0 Z">
                </path>
              </g>
            </g>
            <g transform="translate(25.000000, 12.000000)">
              <g class="slds-illustration__fill-secondary" fill-rule="nonzero">
                <path vector-effect="non-scaling-stroke"
                  d="M43.3094237,-4.90220754e-05 L101.000083,-0.000444774121 C105.418361,-0.000470840087 109.000104,3.58123003 109.00013,7.99950803 C109.00013,7.9995265 109.00013,7.99954496 109.00013,7.99956343 L109.000014,67.4644073 C109.000009,71.8826853 105.418284,75.4644036 101.000006,75.4643991 C99.6510307,75.4643977 98.3239602,75.1232809 97.1421959,74.4727684 L0,21 L27.874728,4.27516321 C32.5371385,1.47771689 37.8721654,-1.69445575e-05 43.3094237,-4.90220754e-05 Z">
                </path>
                <path vector-effect="non-scaling-stroke"
                  d="M152.309424,-4.90221305e-05 L210,-0.000436568966 C214.418278,-0.000462634962 218.000021,3.58123824 218.000047,7.99951623 C218.000047,7.99953197 218.000047,7.9995477 218.000047,7.99956343 L218,67.4643914 C218,71.8826694 214.418278,75.4643914 210,75.4643914 C208.651022,75.4643914 207.323949,75.1232746 206.142182,74.4727607 L109,21 L136.874728,4.27516321 C141.537139,1.47771689 146.872165,-1.69445766e-05 152.309424,-4.90221305e-05 Z"
                  transform="translate(163.500000, 37.732196) scale(-1, 1) translate(-163.500000, -37.732196) ">
                </path>
                <path vector-effect="non-scaling-stroke"
                  d="M83,45 L136,45 L136,96 C126.71258,89.3333333 117.726251,86 109.041016,86 C100.35578,86 91.6754413,89.3333333 83,96 L83,45 Z">
                </path>
              </g>
              <g>
                <path vector-effect="non-scaling-stroke"
                  d="M43.3093766,0.000387544694 L101,1.39218415e-10 C105.418278,-2.60656843e-05 109.000021,3.58167481 109.000047,7.9999528 C109.000047,7.99996854 109.000047,7.99998427 109.000047,8 L109,52.6680576 L81.9847284,66.1292083 L0,21.0002979 L27.8747559,4.27555482 C32.5371491,1.47813734 37.872148,0.000419621861 43.3093766,0.000387544694 Z"
                  class="slds-illustration__stroke-primary" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path vector-effect="non-scaling-stroke"
                  d="M152.309371,0.000387544432 L210,1.39218415e-10 C214.418278,-2.60656645e-05 218.000021,3.58167481 218.000047,7.9999528 C218.000047,7.99996854 218.000047,7.99998427 218.000047,8 L218,52.3145046 L178.604329,59.3143097 L109,21.000282 L136.874759,4.27554965 C141.53715,1.47813549 146.872146,0.000419621555 152.309371,0.000387544432 Z"
                  class="slds-illustration__stroke-primary" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round"
                  transform="translate(163.500000, 29.657155) scale(-1, 1) translate(-163.500000, -29.657155) ">
                </path>
                <path vector-effect="non-scaling-stroke"
                  d="M55,20.5507812 C64.9114583,23.7174479 72.4322917,24.4316406 77.5625,22.6933594 C80.9058665,21.5605182 84.4875825,19.6520737 88.3076478,16.968026"
                  class="slds-illustration__stroke-primary" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path vector-effect="non-scaling-stroke"
                  d="M131.097026,20.5507813 C141.008484,23.7174479 148.529317,24.4316406 153.659526,22.6933594 C156.777906,21.6367506 160.103638,19.9054119 163.636719,17.4993433"
                  class="slds-illustration__stroke-primary" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round"
                  transform="translate(147.366872, 20.558378) scale(-1, 1) translate(-147.366872, -20.558378) ">
                </path>
                <path vector-effect="non-scaling-stroke"
                  d="M84.5,46.5 L84.5,93.039829 C92.6305082,87.3590953 100.816968,84.5 109.041016,84.5 C117.314418,84.5 125.804054,87.3935525 134.5,93.1438332 L134.5,46.5 L84.5,46.5 Z"
                  class="slds-illustration__stroke-primary" stroke-width="3"></path>
                <path vector-effect="non-scaling-stroke"
                  d="M103.776999,7.00873899 C103.776999,5.89934308 104.675147,5 105.77074,5 L113.22926,5 C114.330373,5 115.223001,5.89019835 115.223001,7.00873899 L115.223001,17.2220302 C115.223001,18.3314261 114.324853,19.2307692 113.22926,19.2307692 L105.77074,19.2307692 C104.669627,19.2307692 103.776999,18.3405709 103.776999,17.2220302 L103.776999,7.00873899 Z M125.532059,10.3275794 C126.184145,9.43005925 127.439383,9.23039394 128.325736,9.87436727 L134.359806,14.2583751 C135.250625,14.9055931 135.449531,16.1504526 134.792069,17.055371 L128.788847,25.3180972 C128.136761,26.2156173 126.881523,26.4152826 125.995169,25.7713093 L119.9611,21.3873014 C119.070281,20.7400834 118.871375,19.495224 119.528837,18.5903056 L125.532059,10.3275794 Z M144.700426,47.3699966 C145.755525,47.7128188 146.333307,48.8449212 145.994751,49.8868919 L143.689941,56.9803657 C143.349679,58.0275864 142.227212,58.6014401 141.163417,58.255792 L131.45,55.0997115 C130.394902,54.7568893 129.817119,53.6247869 130.155676,52.5828161 L132.460485,45.4893424 C132.800747,44.4421217 133.923214,43.8682679 134.987009,44.213916 L144.700426,47.3699966 Z M134.792069,66.944629 C135.444156,67.8421492 135.246159,69.0976515 134.359806,69.7416249 L128.325736,74.1256327 C127.434917,74.7728507 126.18952,74.577339 125.532059,73.6724206 L119.528837,65.4096944 C118.87675,64.5121743 119.074747,63.2566719 119.9611,62.6126986 L125.995169,58.2286907 C126.885989,57.5814727 128.131386,57.7769844 128.788847,58.6819028 L134.792069,66.944629 Z M115.223001,76.991261 C115.223001,78.1006569 114.324853,79 113.22926,79 L105.77074,79 C104.669627,79 103.776999,78.1098017 103.776999,76.991261 L103.776999,66.7779698 C103.776999,65.6685739 104.675147,64.7692308 105.77074,64.7692308 L113.22926,64.7692308 C114.330373,64.7692308 115.223001,65.6594291 115.223001,66.7779698 L115.223001,76.991261 Z M93.4679414,73.6724206 C92.8158549,74.5699408 91.5606168,74.7696061 90.6742635,74.1256327 L84.6401943,69.7416249 C83.7493752,69.0944069 83.550469,67.8495474 84.2079307,66.944629 L90.2111527,58.6819028 C90.8632393,57.7843827 92.1184774,57.5847174 93.0048306,58.2286907 L99.0388998,62.6126986 C99.929719,63.2599166 100.128625,64.504776 99.4711634,65.4096944 L93.4679414,73.6724206 Z M77.836583,58.255792 C76.7814848,58.5986142 75.6486155,58.0223364 75.3100587,56.9803657 L73.0052493,49.8868919 C72.6649867,48.8396712 73.2357783,47.7156446 74.2995736,47.3699966 L84.0129908,44.213916 C85.068089,43.8710938 86.2009583,44.4473716 86.5395152,45.4893424 L88.8443245,52.5828161 C89.1845871,53.6300369 88.6137956,54.7540634 87.5500002,55.0997115 L77.836583,58.255792 Z M84.2079307,17.055371 C83.5558442,16.1578508 83.7538411,14.9023485 84.6401943,14.2583751 L90.6742635,9.87436727 C91.5650827,9.22714927 92.8104798,9.42266101 93.4679414,10.3275794 L99.4711634,18.5903056 C100.12325,19.4878257 99.9252531,20.7433281 99.0388998,21.3873014 L93.0048306,25.7713093 C92.1140115,26.4185273 90.8686144,26.2230156 90.2111527,25.3180972 L84.2079307,17.055371 Z"
                  class="slds-illustration__fill-primary" fill-rule="nonzero"></path>
              </g>
            </g>
            <g transform="translate(103.000000, 23.000000)">
              <g class="slds-illustration__fill-secondary" fill-rule="nonzero">
                <circle vector-effect="non-scaling-stroke" cx="31" cy="31" r="31"></circle>
              </g>
              <g>
                <circle vector-effect="non-scaling-stroke" class="slds-illustration__stroke-primary" stroke-width="3"
                  cx="31" cy="31" r="31"></circle>
                <circle vector-effect="non-scaling-stroke" class="slds-illustration__stroke-primary" stroke-width="3"
                  stroke-linecap="round" stroke-linejoin="round" cx="31" cy="30" r="23"></circle>
                <circle vector-effect="non-scaling-stroke" class="slds-illustration__fill-primary" fill-rule="nonzero"
                  cx="31" cy="30" r="3"></circle>
              </g>
            </g>
            <g transform="translate(0.000000, 22.000000)">
              <g>
                <g class="slds-illustration__fill-secondary" fill-rule="nonzero">
                  <circle vector-effect="non-scaling-stroke" cx="60" cy="60" r="60"></circle>
                </g>
                <g>
                  <circle vector-effect="non-scaling-stroke" fill="#FFFFFF" fill-rule="nonzero" cx="65" cy="56" r="43">
                  </circle>
                </g>
                <g class="slds-illustration__stroke-primary" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="3">
                  <circle vector-effect="non-scaling-stroke" cx="60" cy="60" r="60"></circle>
                  <circle vector-effect="non-scaling-stroke" cx="60" cy="60" r="54"></circle>
                  <circle vector-effect="non-scaling-stroke" cx="65" cy="56" r="43"></circle>
                </g>
              </g>
              <g transform="translate(57.000000, 39.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <circle vector-effect="non-scaling-stroke" cx="12" cy="12" r="12"></circle>
              </g>
            </g>
            <g transform="translate(65.000000, 78.000000) scale(-1, 1) rotate(-25.000000) translate(-65.000000, -78.000000) translate(22.000000, 35.000000)"
              class="slds-illustration__stroke-primary" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
              <g transform="translate(0.000000, 6.000000)">
                <polyline vector-effect="non-scaling-stroke"
                  points="62.8779297 45.4301758 76.6962891 50.0864258 82.9702148 50.0864258">
                </polyline>
                <polyline vector-effect="non-scaling-stroke"
                  points="17.9418945 33.418457 10.9277344 31.2207031 0.961425781 30.4902344">
                </polyline>
                <polyline vector-effect="non-scaling-stroke"
                  points="18.8887883 34.1570838 12.6113281 47.6191406 6.04443359 58.5869141">
                </polyline>
                <polyline vector-effect="non-scaling-stroke"
                  points="21.6674805 34.9594727 17.5429688 46.9594727 10.65625 51.7612305"></polyline>
                <path vector-effect="non-scaling-stroke"
                  d="M22.6860352,31.8857422 C25.6362305,31.4619141 34.7664388,28.0805664 50.0766602,21.7416992 L59.0014648,16.0219727">
                </path>
                <path vector-effect="non-scaling-stroke"
                  d="M85.3564453,29.0703125 C85.3564453,29.0703125 81.4220378,28.836263 73.5532227,28.3681641 L64.894043,24.6855469">
                </path>
                <path vector-effect="non-scaling-stroke"
                  d="M11.5874023,8.29443359 C11.5874023,8.29443359 12.5652669,11.3766276 14.5209961,17.5410156 L15.4111328,27.2485352 L18.3535156,33.6484375 L34.8789062,38.1914063 L42.4428711,38.1914063 L61.34375,44.8330078 L75.0297852,43.6328125 L84.5388413,45.1053213">
                </path>
                <polyline vector-effect="non-scaling-stroke"
                  points="21.566923 0.929668597 15.4781169 22.0199203 20.3236366 26.9192963 20.3236366 31.4959565">
                </polyline>
                <polyline vector-effect="non-scaling-stroke"
                  points="17.6870117 34.1630859 10.2763672 40.3227539 0.656738281 44.0629883">
                </polyline>
                <path vector-effect="non-scaling-stroke"
                  d="M21.6630859,32.6479492 C21.6630859,32.6479492 30.3764648,27.2185872 47.8032227,16.3598633 L68.9267578,14.7773437 L76.9067383,11.034668">
                </path>
                <path vector-effect="non-scaling-stroke"
                  d="M21.5595703,33.5961914 C22.4033203,33.5961914 34.1111654,30.7644857 56.6831055,25.1010742 L72.1142578,22.9682617 L83.4267578,22.9682617">
                </path>
                <path vector-effect="non-scaling-stroke"
                  d="M21.6381836,34.9794922 C22.0782878,35.5696615 28.3497721,42.6695964 40.4526367,56.2792969 L50.8325195,58.8925781">
                </path>
                <polyline vector-effect="non-scaling-stroke"
                  transform="translate(27.322634, 21.447593) rotate(-7.000000) translate(-27.322634, -21.447593) "
                  points="20.5908715 31.0868005 28.6404257 23.4186837 34.0543968 11.8083853">
                </polyline>
                <polyline vector-effect="non-scaling-stroke"
                  points="21.8877139 36.2408069 30.2587225 55.5290671 32.3618337 77.1765496">
                </polyline>
              </g>
            </g>
            <g transform="translate(148.000000, 22.000000)">
              <g>
                <g class="slds-illustration__fill-secondary" fill-rule="nonzero">
                  <circle vector-effect="non-scaling-stroke" cx="60" cy="60" r="60"></circle>
                </g>
                <g>
                  <circle vector-effect="non-scaling-stroke" fill="#FFFFFF" fill-rule="nonzero" cx="55" cy="56" r="43">
                  </circle>
                </g>
                <g class="slds-illustration__stroke-primary" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="3">
                  <circle vector-effect="non-scaling-stroke" cx="60" cy="60" r="60"></circle>
                  <circle vector-effect="non-scaling-stroke" cx="60" cy="60" r="54"></circle>
                  <circle vector-effect="non-scaling-stroke" cx="55" cy="56" r="43"></circle>
                </g>
              </g>
              <g transform="translate(54.000000, 39.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <circle vector-effect="non-scaling-stroke" cx="12" cy="12" r="12"></circle>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <div class="slds-text-longform">
      <div class="messageTest" style="font-size: 24px;">
        <div class="message" style="display: none;">{message}</div>
        <template if:true={filtered}>
            <p class="text-regular">{messageFirst}
              <span class="text-bold" style="font-weight: bold;">{searchKey}</span>
              {messageLast}
          </p>
          </template>
          <template if:false={filtered}>
            <p class="text-regular">{label.cswp_noitemsfound}</p>
          </template>
      </div>
    </div>
  </div>
</template>