.footer-container {
    background-color:#f7f8f9;
    padding: 1.5rem;
}

.footer-link, .footer-link:hover, .footer-link:focus {
    color:#000;
    text-decoration: none;
}

.footer-icon img {
    width: 35px;
}