<template>
    <div class="slds-grid slds-wrap slds-grid_vertical-align-center footer-container">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_3-of-12 slds-align_absolute-center">
            <span class="slds-m-horizontal_xx-small"><a class="footer-link" href="https://www.advantest.com/legal"
                    target="_blank">Terms of Use</a></span>
            <span class="slds-m-horizontal_xx-small" onclick={navigateContactUs}><a class="footer-link" href="">
                Contact Us</a></span>
            <span class="slds-m-horizontal_xx-small"><a class="footer-link" href="https://www.advantest.com/privacy-policy"
                    target="_blank">Privacy Policy</a></span>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-align_absolute-center">
            <span>&#169;&nbsp;</span>
            <span>{footerMessage}</span>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_3-of-12 slds-align_absolute-center">
            <span class="slds-m-horizontal_xx-small"><a class="footer-link footer-icon"
                    href="https://www.facebook.com/pages/Advantest/258057870932" target="_blank"><img
                        src={iconFacebook}></a></span>
            <span class="slds-m-horizontal_xx-small"><a class="footer-link footer-icon"
                    href="https://twitter.com/Advantest_ATE" target="_blank"><img src={iconTwitter}></a></span>
        </div>
    </div>
</template>