<template>
    <lightning-icon icon-name={icon}></lightning-icon>
    <a href="javascript:void(0)" data-bread={breadcrumb} data-type={type} onclick={handleClick} class="a-name-cell">
        {name}
    </a>
</template>