.lightning-card{
    width: 100%;
}
.slds-theme_shadestyle {
    padding-left: 12px !important; 
    padding-right: 12px !important;
}
.related-list .slds-button_icon-bare{
	display: none;
}
.related-list a span {
	color: rgba(27, 82, 151, 1.0);
}
.related-list .slds-scrollable_x {
	overflow-y:visible;
	overflow-x:visible;
}