<apex:page id="osf_tmpl_checkout" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="false">
    <c:osf_checkout_nav />
    <c:osf_orderreview />

    <script id="osf_Page-Expired-Modal" type="text/template">
        <div class="modal fade" id="pageExpiredModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h3>{{pageLabelMap 'Checkout_PageExpiredModal_Title'}}</h3>
                        <p>{{pageLabelMap 'Checkout_PageExpiredModal_Text'}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="CCRZ.homePage()">{{pageLabelMap 'OK'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script>
        jQuery(function($) {
            CCRZ.pubSub.on('view:cartCheckoutView:awaitingSubViewInit', function(theView) {
                if (theView.model.get('cartItems').length == 0) {
                    CCRZ.util.createView({
                        desktop: { target: 'page-expired-modal', template: 'osf_Page-Expired-Modal' },
                        phone: { target: 'page-expired-modal', template: 'osf_Page-Expired-Modal' }
                    });

                    $('#pageExpiredModal').modal('show');
                    return;
                }

                CCRZ.views.OrderReviewView.prototype.processReview = function() {
                    this.shipmentInfoView.processShippInfo();
                    CCRZ.cartCheckoutModel.save(function() {
                        CCRZ.cartCheckoutView.slideRight();
                    });
                };

                if (CCRZ.Checkout.review) {
                    CCRZ.Checkout.review.register(theView);
                }
                
                if (CCRZ.Checkout.payment) {
                    CCRZ.Checkout.payment.register(theView);
                }

                CCRZ.pubSub.trigger('view:cartCheckoutView:subViewInit');
            });
        });
    </script>
    
    <apex:define name="htmlbody">
        <div class="container-fluid cc_main_container osf_tmpl_checkout">
            <apex:insert name="body" />
            <div class="page-expired-modal"></div>
        </div>
    </apex:define>
</apex:page>