<apex:page id="cc_tmpl_TwoColRD" applyHtmlTag="false" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false">
    <apex:define name="htmlbody">
            <div class="container cc_main_container my-account-wrap">
                <!-- Main content two column layout -->
                <div class="row cc_main_row">
                    <div class="col-md-9 cc_main_content_col">
                        <apex:insert name="Banner" />
                        <div class="promotion-box-Banner"></div>
                        <div class="effwig"></div>
                        <apex:insert name="ProductSearch" />
                        <apex:insert name="body" />
                        <apex:insert name="CrossSell" />
                    </div>
                    <div class="col-md-3 cc_right_col right_column">
                        <div class="effright"></div>
                        <div class="search-box-RightNav" />
                        <div id="MyAccount_navSection"></div> <!-- placeholder for MyAccount Nav in right nav -->
                        <apex:insert name="ContactUs" />
                        <apex:insert name="MiniCartBox" />
                        <apex:insert name="SellerLocatorBox"/>
                        <apex:insert name="MiniQuickOrderBox" />
                        <div id="categories-right-nav"></div> <!-- placeholder for category tree in right nav -->
                        <div class="widgetSection"></div>
                        <div class="promotion-box-RightNav"></div>
                        <apex:insert name="ReOrderBox" />
                        <apex:insert name="SideNavigation" />
                    </div>
                </div>
            </div>
    </apex:define>
</apex:page>