/* COLORS */
.cswp-style-guide .color-palatte .slds-col {
    border:solid;
    padding:1rem;
    border-radius: 4%;
    margin:0.5rem;
    text-align: center;
}

.color-01 {
	color:#8C003D;
}

.color-02 {
    color:#007AFF;
}

.color-03 {
    color:#263238;
}

.color-04 {
    color:#607D8B;
}

.color-05 {
    color:#90A4AE;
}

.color-06 {
    color:#B0BEC5;
}

.color-07 {
    color:#CFD8DC;
}

.color-08 {
    color:#ECEFF1;
}

.color-09 {
    color:#4CD964;
}

.color-10 {
    color:#FF9500;
}

.color-11 {
    color:#FF3B30;
}

/* HEADINGS */
h1 {
    font-size:30px;
    color:#263238;
    letter-spacing:0;
}
h2 {
    font-size:24px;
    color:#263238;
    letter-spacing:0;
}
h3 {
    font-size:18px;
    color:#263238;
    letter-spacing:0;
}
h4 {
    font-size:14px;
    color:#90A4AE;
    letter-spacing:0;
}
h5 {
    font-size:13px;
    color:#455A64;
    letter-spacing:0;
    text-align: center;
}

/* TYPOGRAPHY */
/* BODY */
.body-big {
    font-size:16px;
    color:#263238;
    letter-spacing:0;
}

.body-small {
    font-size:12px;
    color:#607D8B;
    letter-spacing:0;
}

.body-default {
    font-size:14px;
    color:#607D8B;
    letter-spacing:0;
}

/* TITLE */
.title-1 {
    font-size:30px;
    color:#263238;
    letter-spacing:0;
}

.title-2 {
    font-size:24px;
    color:#263238;
    letter-spacing:0;
}

.title-3 {
    font-size:18px;
    color:#263238;
    letter-spacing:0;
}

.title-4 {
    font-size:14px;
    color:#90A4AE;
    letter-spacing:0;
}

.title-5 {
    font-size:13px;
    color:#455A64;
    letter-spacing:0;
    text-align: center;
}

/* LABEL */
.label-1 {
    font-size:22px;
    color:#263238;
    letter-spacing:0;
}

.label-2 {
    font-size:16px;
    color:#263238;
    letter-spacing:0;
    text-align: right;
}

.label-3 {
    font-size:10px;
    color:#263238;
    letter-spacing:0;
    line-height: 10px;
}

/* LINKS */
.link-1 {
    font-size:14px;
    color:#007AFF;
    letter-spacing:0;
}

.link-2 {
    font-size:12px;
    color:#007AFF;
    letter-spacing:0;
}

.link-3 {
    font-size:12px;
    color:#007AFF;
    letter-spacing:0;
}

/* BUTTONS */
.slds-button_brand {
    color:#ECEFF1;
    background-color: #007AFF;
    border:none;
}

.slds-button_brand:hover {
    background-color:#0260C9;
}

.slds-button_neutral {
    color:#ECEFF1;
    background-color:#90A4AE;
    border:none;
}

.slds-button_neutral:hover {
    background-color:#607D8B;
}


/* INPUTS */
.slds-input,
.slds-select {
    border-color:#90A4AE;
}

.slds-input:focus,
.slds-select:focus {
    border-color: #90A4AE;
	box-shadow: none;
    outline:none;
}

.slds-form-element__label {
    color: #90A4AE;
}

.slds-has-error .slds-form-element__help {
    color:#FF3B30;
}

.slds-has-error .slds-input,
.slds-has-error .slds-select {
    border-color:#FF3B30;
	box-shadow:none;
}

.slds-has-error .slds-input:focus
.slds-has-error .slds-select:focus {
    box-shadow: none;
    outline:none;
}
