<template>
    <div class="cswpWorkspaceManager-container">
        <!-- HEADER ROW -->
        <div class="slds-grid slds-wrap slds-m-bottom_large">
            <div class="slds-col slds-size_6-of-12">
                <!-- BREADCRUMB -->
                <c-cswp-workspace-breadcrumb ></c-cswp-workspace-breadcrumb>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <div class="slds-grid slds-wrap slds-grid_align-end">
                    <div class="slds-col slds-size_1-of-2">
                        <template if:true={isClient}>
                            <c-cswp-workspace-search></c-cswp-workspace-search>
                        </template>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <div class="slds-form-element__control slds-float_right">
                            <template if:true={isClient}>
                                <button class="slds-button slds-button_neutral">Create folder</button>
                            </template>
                            <div class="slds-file-selector slds-file-selector_files">
                                <c-cswp-file-upload record-id={workspaceId}></c-cswp-file-upload>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TABLE ROW -->
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_2-of-12 table-navigation">
                <!-- NAVIGATION -->
                <c-cswp-workspace-navigation onnotify={handleSelection}></c-cswp-workspace-navigation>
            </div>
            <div class="slds-col slds-size_10-of-12 table-data">
                <c-cswp-workspace-table library-id={workspaceId}></c-cswp-workspace-table>
            </div>
        </div>
    </div>
</template>