.cswpWorkspaceManager-container{
    background-color: var(--lwc-colorBackgroundAlt);
}
.cswpWorkspaceManager-container .table-navigation {
    border: solid 1px #D4D4D4;
}

.cswpWorkspaceManager-container .table-data {
    border: solid 1px #D4D4D4;
    border-left: none;
    border-bottom: none;
}