<template>
    <div class="cswpCard-container" onclick={handleClick}>
        <lightning-carousel disable-auto-scroll>
            <lightning-carousel-image src = "{image}" header = "{title}" description = "{text}"></lightning-carousel-image>
        </lightning-carousel>
    </div>
</template>