<template>
    <div class="slds-grid slds-grid_vertical cswp-notification-container">
        <div class="slds-col b-section-title">
            <lightning-formatted-rich-text value={title}></lightning-formatted-rich-text>
        </div>
        <p class="slds-col cswp-date"><lightning-formatted-rich-text value={date}></lightning-formatted-rich-text></p>
        <div class="slds-col notf-body">
            <lightning-formatted-rich-text value={content}></lightning-formatted-rich-text>
        </div>
        <div class="slds-col notf-btn">
            <div class="slds-grid slds-gutterscswp-btn-container slds-float_right">
                <div class="slds-col slds-p-right_x-small">
                    <lightning-button label="Back"
                    onclick={navigateToNotification}>
                </lightning-button>
                </div>
                <template if:true={notificationUserMustConfirm}>
                    <div class="slds-col slds-p-left_x-small">
                        <lightning-button variant="brand" label="Confirm"
                        onclick={confirmNotification}>
                        </lightning-button>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>