.cswp-notification-container {
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
}
.b-section-title {
    padding-left: 0px;
    padding-bottom: 0px;
}
.cswp-date {
    color:#607D8B;
}