<template>
    <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="select-01">
                    <abbr class="slds-required" title="required">* </abbr>{label.cswp_topic}</label>
                <div class="slds-form-element__control">
                    <div class="slds-select_container">
                        <select class="slds-select" id="select-01" onchange={checkValid}>
                            <option value="">{label.cswp_select_topic}</option>
                            <option>{label.cswp_topic_general}</option>
                            <template for:each={navitems} for:item="nav">
                                <option key={nav.Id}>{nav.title}</option>         
                            </template>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="textarea-id-01">
                    <abbr class="slds-required" title="required">* </abbr>{label.cswp_feedback}</label>
                <div class="slds-form-element__control">
                    <textarea id="textarea-id-01" placeholder={label.cswp_feedback} class="slds-textarea" onchange={checkValid}></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center" style="text-align:center;">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4">
            <lightning-file-upload name="cswpContactUsFileUploader"
                label={label.cswp_file_attachment_label}
                onuploadfinished={handleFileUpload}
                multiple
                disabled={disableFileUpload}>
            </lightning-file-upload>
            <template for:each={uploadedFiles} for:item="file">
                <div key={file}  class="slds-grid slds-m-top_small slds-grid_vertical-align-center slds-grid_align-spread slds-gutters">
                    <div class="slds-col file-name">
                        <p data-item={file.documentId}>{file.name}</p>
                    </div>
                    <div class="slds-col remove-button">
                        <button class="slds-button slds-button_neutral"  data-item={file.documentId} onclick={removeFile}>{label.cswp_remove}</button>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center" style="text-align:center;">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4">
            <lightning-button
                label={label.cswp_submit}
                variant="brand"
                onclick={saveRecord}
                disabled={isLoading}>
            </lightning-button>
            <div if:true={isLoading}>
                <lightning-spinner
                    alternative-text="Loading...">
                </lightning-spinner>
            </div>
        </div>
    </div>
</template>