.file-name {
    text-align: left;
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre-line; /* CSS 3 */
    word-wrap: break-word; /* IE */
    word-break: break-all;
}