<template>
    <div class="cswpFileDetailManager-container">
        <template if:true={viewFile}>
            <lightning-record-view-form record-id={fileId} object-api-name="cswp_File__c">
                <div class="slds-box">
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_name}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="Name" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_description_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_Description__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_foldername_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_FolderName__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_status_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_Status__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_filepath_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_FilePath__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_filesize_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_FileSize__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_lastdownloadedtime_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            {downloadedTime}
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_uploadedbyname_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_UploadedByName__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_uploadeddatetime_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            {uploadedTime}
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_fileextension_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_FileExtension__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_mimetype_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_MimeType__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_lastversionnumber_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_LastVersionNumber__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                </div>
            </lightning-record-view-form>
            <div class="slds-grid slds-gutters slds-grid_vertical-align-center slds-grid_align-end">
                <template if:true={canDownload}>
                    <div class="slds-col">
                        <lightning-button label={label.cswp_download_label} variant="brand" onclick={downloadItem}></lightning-button>
                    </div>
                </template>
                <template if:true={canRename}>
                    <div class="slds-col">
                        <lightning-button label={label.cswp_file_detail_action_edit} variant="brand" onclick={editFile}></lightning-button>
                    </div>
                </template>
                <template if:true={canDelete}>
                    <div class="slds-col">
                        <lightning-button label={label.cswp_table_action_delete} variant="neutral" onclick={deleteFile}></lightning-button>
                    </div>
                </template>
            </div>
        </template>

        <template if:true={editForm}>
            <lightning-record-edit-form record-id={fileId} object-api-name="cswp_File__c" onsuccess={cancelEdit}>
                <div class="slds-box">
                    <lightning-messages></lightning-messages>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_name}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-input-field field-name="Name" variant="label-hidden" required></lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_description_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-input-field field-name="cswp_Description__c" variant="label-hidden"></lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_foldername_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_FolderName__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_status_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_Status__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_filepath_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_FilePath__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_filesize_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_FileSize__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_lastdownloadedtime_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_Last_Downloaded_Time__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_uploadedbyname_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_UploadedByName__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_uploadeddatetime_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_UploadedDateTime__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_fileextension_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_FileExtension__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_mimetype_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_MimeType__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <label>{label.cswp_label_lastversionnumber_c}</label>
                        </div>
                        <div class="slds-col slds-size_2-of-3">
                            <lightning-output-field field-name="cswp_LastVersionNumber__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-gutters slds-grid_vertical-align-center slds-grid_align-end slds-m-top_medium"
                    style="text-align:center;">
                    <div class="slds-col">
                        <lightning-button class="slds-m-top_small" variant="neutral" type="cancel" name="cancel"
                            label={label.cswp_file_detail_action_cancel} onclick={cancelEdit}></lightning-button>
                    </div>
                    <div class="slds-col">
                        <lightning-button class="slds-m-top_small" variant="brand" type="submit" name="update"
                            label={label.cswp_file_detail_action_update}></lightning-button>
                    </div>
                </div>
            </lightning-record-edit-form>
        </template>
    </div>
</template>