<template>
    <lightning-file-upload
            label=""
            name="fileUploader"
            accept={acceptedFormats}
            record-id={myRecordId}
            onuploadfinished={handleUploadFinished}>
    </lightning-file-upload>
    <div class="spinner">
        <template if:true={isLoading}>
             <lightning-spinner alternative-text="Validating" variant="brand" size="large">
             </lightning-spinner>
        </template>
    </div>
</template>