<template>
    <div class="title-3">Publisher</div>
    <p>Message : {message}</p>
    <lightning-button
        label="Click Me"
        variant="brand"
        onclick={handleButtonClick}></lightning-button>
</template>