.b-case-title {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--lwc-colorTextDefault,#333);
    font-family: 'rubik-regular';
    font-size: 24px;
    font-weight: normal;
    line-height: 18px;
}