<template>
    <c-cswp-name-cell 
        id={typeAttributes.id} 
        icon={typeAttributes.icon} 
        type={typeAttributes.type} 
        name={value}
        breadcrumb={typeAttributes.breadcrumb}
        ></c-cswp-name-cell>
</template>