<template>
    <div class="cswp-style-guide">
        <div class="title-2 style-scope">Color Palette</div>
        <div class="slds-grid slds-wrap color-palatte">
            <div class="slds-col color-01">
                #8C003D
            </div>
            <div class="slds-col color-02">
                #007AFF
            </div>
            <div class="slds-col color-03">
                #263238
            </div>
            <div class="slds-col color-04">
                #607D8B
            </div>
            <div class="slds-col color-05">
                #90A4AE
            </div>
            <div class="slds-col color-06">
                #B0BEC5
            </div>
            <div class="slds-col color-07">
                #CFD8DC
            </div>
            <div class="slds-col color-08">
                #ECEFF1
            </div>
            <div class="slds-col color-09">
                #4CD964
            </div>
            <div class="slds-col color-10">
                #FF9500
            </div>
            <div class="slds-col color-11">
                #FF3B30
            </div>
        </div>
        <!-- <div class="divider slds-m-vertical_large"></div>
        <div class="title-2 style-scope">Fonts</div>
        <div class="slds-grid">
            <div class="slds-col">
                <div class="title-1">Rubik Regular</div>
                <h1 class="title-1">Rubik Medium</h1>
            </div>
        </div> -->
        <div class="divider slds-m-vertical_large"></div>
        <div class="title-2 style-scope">Typography</div>
        <div class="slds-grid slds-wrap typography">
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="body-big">Body Big</div>
                    <div>font-family:Rubik-Regular;</div>
                    <div>font-size:16px;</div>
                    <div>color:#263238;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="body-small">Body Small</div>
                    <div>font-family:Rubik-Regular;</div>
                    <div>font-size:12px;</div>
                    <div>color:#607D8B;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="body-default">Body</div>
                    <div>font-family:Rubik-Regular;</div>
                    <div>font-size:14px;</div>
                    <div>color:#607D8B;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="title-1">Title 1</div>
                    <div>font-family:Rubik-Light;</div>
                    <div>font-size:30px;</div>
                    <div>color:#263238;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="title-2">Title 2</div>
                    <div>font-family:Rubik-Regular;</div>
                    <div>font-size:24px;</div>
                    <div>color:#263238;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="title-3">Title 3</div>
                    <div>font-family:Rubik-Medium;</div>
                    <div>font-size:18px;</div>
                    <div>color:#263238;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="title-4">Title 4</div>
                    <div>font-family:Rubik-Medium;</div>
                    <div>font-size:14px;</div>
                    <div>color:#90A4AE;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="title-5">Title 5</div>
                    <div>font-family:Rubik-Regular;</div>
                    <div>font-size:13px;</div>
                    <div>color:#455A64;</div>
                    <div>letter-spacing:0;</div>
                    <div>text-align-center;</div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap typography">
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="label-1">Label 1</div>
                    <div>font-family:Rubik-Medium;</div>
                    <div>font-size:22px;</div>
                    <div>color:#263238;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="label-2">Label 2</div>
                    <div>font-family:Rubik-Medium;</div>
                    <div>font-size:16px;</div>
                    <div>color:#263238;</div>
                    <div>letter-spacing:0;</div>
                    <div>text-align:right;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <div class="label-3">Label 3</div>
                    <div>font-family:Rubik-Regular;</div>
                    <div>font-size:10px;</div>
                    <div>color:#90A4AE;</div>
                    <div>letter-spacing:0;</div>
                    <div>line-height:10px;</div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap typography">
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <a class="link-1">Link 1</a>
                    <div>font-family:Rubik-Regular;</div>
                    <div>font-size:14px;</div>
                    <div>color:#007AFF;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <a class="link-2">Link 2</a>
                    <div>font-family:Rubik-Medium;</div>
                    <div>font-size:12px;</div>
                    <div>color:#007AFF;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="inner-container">
                    <a class="link-3">Tags</a>
                    <div>font-family:Rubik-Regular;</div>
                    <div>font-size:12px;</div>
                    <div>color:#007AFF;</div>
                    <div>letter-spacing:0;</div>
                </div>
            </div>
        </div>
        <div class="divider slds-m-vertical_large"></div>
        <div class="title-2 style-scope">Buttons</div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col">
                <button class="slds-button slds-button_brand">Primary Button</button>
            </div>
            <div class="slds-col">
                <button class="slds-button slds-button_neutral">Secondary Button</button>
            </div>
            <div class="slds-col">
                <button class="slds-button slds-button_brand">
                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xlink:href="/sfsites/c/_slds/icons/utility-sprite/svg/symbols.svg#adduser"></use>
                    </svg>Icon Button
                </button>
            </div>
            <div class="slds-col">
                <button class="slds-button button_style-primary">
                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xlink:href="/sfsites/c/_slds/icons/utility-sprite/svg/symbols.svg#add"></use>
                    </svg>Icon Button Style 2
                </button>
            </div>
            <div class="slds-col">
                <button class="slds-button button_style-secondary">
                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xlink:href="/sfsites/c/_slds/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>Icon Button Style 3
                </button>
            </div>
            <div class="slds-col">
                <span class="slds-badge">Label</span>
            </div>
            <div class="slds-col">
                <span class="slds-badge">Removable Label
                    <span class="slds-badge__icon slds-badge__icon_right">
                        <span class="slds-icon_container slds-icon-utility-moneybag slds-current-color"
                            title="Description of icon when needed">
                            <svg class="slds-icon slds-icon_xx-small" aria-hidden="true">
                                <use xlink:href="/sfsites/c/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                            </svg>
                        </span>
                    </span>
                </span>
            </div>
            <div class="slds-col">
                <lightning-helptext content="Tooltip"></lightning-helptext>
            </div>
        </div>
        <div class="divider slds-m-vertical_large"></div>
        <div class="title-2 style-scope">Input Boxes and Controls</div>
        <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="text-input-id-1">INPUT BOX NORMAL</label>
                    <div class="slds-form-element__control">
                        <input type="text" id="text-input-id-1" placeholder="" required="" class="slds-input" />
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element slds-has-error">
                    <label class="slds-form-element__label" for="text-input-id-2">INPUT BOX ERROR</label>
                    <div class="slds-form-element__control">
                        <input type="text" id="text-input-id-2" placeholder="" required="" value="!+%/()="
                            aria-describedby="error-message-unique-id" class="slds-input" aria-invalid="true" />
                    </div>
                    <div class="slds-form-element__help slds-float_right" id="error-message-unique-id">Invalid format.
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="text-input-id-3">INPUT BOX DISABLED</label>
                    <div class="slds-form-element__control">
                        <input type="text" id="text-input-id-3" placeholder="" disabled class="slds-input" />
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="select-01">DROPDOWN</label>
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select class="slds-select" id="select-01">
                                <option value=""></option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element slds-has-error">
                    <label class="slds-form-element__label" for="select-02">DROPDOWN ERROR</label>
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select aria-describedby="error-02" class="slds-select" id="select-02" required="">
                                <option value=""></option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="slds-form-element__help slds-float_right" id="error-02">Select an option.</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="select-03">DROPDOWN DISABLED</label>
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select class="slds-select" disabled id="select-03">
                                <option value=""></option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="text-input-id-1">INPUT BOX STYLE 2</label>
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                        <svg class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/sfsites/c/_slds/icons/utility-sprite/svg/symbols.svg#add"></use>
                        </svg>
                        <input type="text" id="text-input-id-4" placeholder="" class="slds-input" />
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="text-input-id-1">INPUT BOX STYLE 3</label>
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                        <svg class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/sfsites/c/_slds/icons/utility-sprite/svg/symbols.svg#add"></use>
                        </svg>
                        <input type="text" id="text-input-id-5" placeholder="" class="slds-input" />
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_12-of-12 slds-m-top_large"></div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="textarea-id-01">MULTILINE INPUT BOX</label>
                    <div class="slds-form-element__control">
                        <textarea id="textarea-id-01" disabled="" placeholder="" class="slds-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element slds-has-error">
                    <label class="slds-form-element__label" for="textarea-id-02">MULTILINE INPUT BOX ERROR</label>
                    <div class="slds-form-element__control">
                        <textarea id="textarea-id-02" required="" aria-describedby="error-03" placeholder="" class="slds-textarea"></textarea>
                    </div>
                    <div class="slds-form-element__help slds-float_right" id="error-03">Enter a value.</div>
                </div>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="textarea-id-03">MULTILINE INPUT BOX DISABLED</label>
                    <div class="slds-form-element__control">
                        <textarea id="textarea-id-03" disabled placeholder="" class="slds-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_12-of-12 slds-m-top_large"></div>
            <div class="slds-col slds-size_4-of-12">
                <fieldset class="slds-form-element">
                    <div class="slds-form-element__control">
                        <span class="slds-radio">
                            <input type="radio" id="radio-41" value="radio-41" name="default" />
                            <label class="slds-radio__label" for="radio-41">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">Radio Button</span>
                            </label>
                        </span>
                    </div>
                </fieldset>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <fieldset class="slds-form-element">
                    <div class="slds-form-element__control">
                        <span class="slds-radio">
                            <input type="radio" id="radio-42" value="radio-42" name="default" checked />
                            <label class="slds-radio__label" for="radio-42">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">Radio Button Selected</span>
                            </label>
                        </span>
                    </div>
                </fieldset>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <fieldset class="slds-form-element">
                    <div class="slds-form-element__control">
                        <span class="slds-radio">
                            <input type="radio" id="radio-48" value="radio-48" name="default" disabled />
                            <label class="slds-radio__label" for="radio-48">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">Radio Button Disabled</span>
                            </label>
                        </span>
                    </div>
                </fieldset>
            </div>
            <div class="slds-col slds-size_12-of-12 slds-m-top_large"></div>
            <div class="slds-col slds-size_4-of-12">
                <fieldset class="slds-form-element">
                    <div class="slds-form-element__control">
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options" id="checkbox-unique-id-74" value="checkbox-unique-id-74" />
                            <label class="slds-checkbox__label" for="checkbox-unique-id-74">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label">Check Box</span>
                            </label>
                        </span>
                    </div>
                </fieldset>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <fieldset class="slds-form-element">
                    <div class="slds-form-element__control">
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options" id="checkbox-unique-id-75" value="checkbox-unique-id-74" checked/>
                            <label class="slds-checkbox__label" for="checkbox-unique-id-75">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label">Check Box Selected</span>
                            </label>
                        </span>
                    </div>
                </fieldset>
            </div>
            <div class="slds-col slds-size_4-of-12">
                <fieldset class="slds-form-element">
                    <div class="slds-form-element__control">
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options" id="checkbox-unique-id-76" value="checkbox-unique-id-74" disabled/>
                            <label class="slds-checkbox__label" for="checkbox-unique-id-76">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label">Check Box Disabled</span>
                            </label>
                        </span>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</template>